.pagination {
  max-width:241px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media(max-width: 915px) {
    & {
      min-width: 270px;
    }
  }

  &__list {
    max-width: 241px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
  }

  &__item  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 22px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: $dark_shade_50;
    
    &--active {
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &--background-gradient-next-button {
      background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      cursor: pointer;
    }
  }

  &__link {
    color: $dark_shade_50;
    text-decoration: none;
    cursor: pointer;
    
    &--active {
      color: white;
    }
  }

  &__description {
    margin: 0px;
    margin-top: 8px;

    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark_shade_75;
  }

  &--negative-margin {
    position: relative;
    left: -14px;

    @media(max-width: 915px) {
      & {
        left: 0px;
      }
    }
  }
}
