mixin registration-page({headerRegisterConfiguration, authForm, footerConfiguration})
  div(class=`registration_page`)
    +header-register(headerRegisterConfiguration)
    div(class=`registration__layer registration__layer--signed-in`)
      +auth-form(authForm)
    +footer(footerConfiguration)