.rich-checkbox-buttons {
  width: 100%;

  
  &__description {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $dark_shade_100;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 16.56px;
  }


  &__container {
    &_mt_29px {
      margin-top: 29px;
    }
  
    &_padding-top {
        padding-top: 99px;
    }
  }

  &__list {
    margin: 0px;
    margin-bottom: 17.44px;
    padding: 0px;
  }

  &__label {
    display: flex;
    align-items: flex-start;
    margin-bottom: 11px;
  }

  &__input {
    display: none;
  }

  &__checkbox {
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
  }

  &__input:checked ~ &__checkbox {
    border: 1px solid $purple;
    background-image:  url('./checked.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__wrapper{
    max-width: 230px;
  }

  &__headline {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $dark_shade_50;
    text-transform: capitalize;
    margin: 0px;
  }

  &__text {
    line-break: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $dark_shade_50;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}


