.radio_buttons {
  display: flex;
}

.radio_buttons--registration-margin-bottom  {
  padding-bottom: 21.56px;
}

.radio_buttons__label {
  display: flex;
}

.radio_buttons__label:first-child {
  margin-right: 20px;
}

.radio_buttons__input {
  display: none;
}
.radio_buttons__fake_radio {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid $dark_shade_25;
  border-radius: 50%;
  box-sizing: border-box;
}

.radio_buttons__input:checked ~ .radio_buttons__fake_radio {
  border: 1px solid $purple;
  position: relative;
}

.radio_buttons__input:checked ~ .radio_buttons__fake_radio:after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: '';
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 6px;
  border-radius: 50%;
}

.radio_buttons__option {
  margin: 0px;

  font-family: 'montserrat-regular';
  font-size: 14px;
  line-height: 19px;
  color: $dark_shade_75;
}


