.rate-button {
  display: flex;

  
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
  }

  &__counter {
    display: none;
  }

  &__checkbox {
    display: none;
  }

  &__fake-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
  }

  &__sprite {
    position: relative;
    
    &_checkbox-checked {
      top: -24px;
    }
  }


  &_fake-input svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }
}
