mixin radio-buttons({marginBottom, options })
  -
    let marginBottomMod = '';
    if(marginBottom) {
      marginBottomMod = 'radio-buttons__container_mb_21';
    }

  div(class=`radio-buttons`)
    div(class=`radio-buttons__container ${marginBottomMod}`)
      each option in options
        label(class=`radio-buttons__label`)
          if(option[1] === true)
            input(class=`radio-buttons__input` type='radio' name='sex' checked)
          else
            input(class=`radio-buttons__input` type='radio' name='sex')
          div(class=`radio-buttons__fake-radio`)
          p(class=`radio-buttons__option`) #{option[0]}