.radio-buttons {
  &__container {
    display: flex;
  
    &_margin-bottom  {
      padding-bottom: 20.56px;
    }
  }

  &__label {
    display: flex;
    
    &:first-child {
      margin-right: 20px;
    }
  }

  &__input {
    display: none;

    &:checked ~ .radio-buttons__fake-radio {
      border: 1px solid $purple;
      position: relative;
    }
  
    &:checked ~ .radio-buttons__fake-radio:after {
      content: '';
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      padding: 6px;
      border-radius: 50%;
    }
  }

  &__fake-radio {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid $dark_shade_25;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__option {
    max-width: 100px;
    margin: 0px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $dark_shade_75;
    word-break: break-all;
  }
}