mixin landing-page({headerRegisterConfiguration, searchRoomConfiguration, footerConfiguration})
  div(class=`landing_page`)
    +header-register(headerRegisterConfiguration)
    div(class=`landing_page__layer`)
      +search-room(searchRoomConfiguration)
    +footer(footerConfiguration)