mixin landing-page({headerRegisterConfiguration, searchRoomConfiguration, footerConfiguration})
  div(class=`landing-page`)
    +header-register(headerRegisterConfiguration)
    div(class=`landing-page__layer`)
      +search-room(searchRoomConfiguration)
    +footer(footerConfiguration)