mixin landing-page(object)
  div(class=`landing_page`)
    +header-register(object.header_register_configuration)
    div(class=`landing_page__layer`)
      +search-room(object.search_room_configuration)
    +footer(object.footer_configuration)