.landing-page {
	display: flex;
	flex-direction: column;
  min-height: 100%;
  
  &__layer {
    width: 100%;
    min-height: 829px;
    background-position: center -72px;
    background-image: url('./landingPageBackground.jpg');
    background-repeat: no-repeat;
    flex: 1 0 auto;
  }
  
  @media(min-width: 1441px) {
    &__layer  {
      min-height: 1100px;
      background-size: cover;
      background-position: center;
  
    }
  }
  
  @media(max-width: 765px){
    &__layer {
      min-height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
