

mixin colors-and-types(colors_and_type_configuration)
  div(class="app")
    div(class="app__container app__container--palette")
      
      div(class="app__shade")
        +rect(colors_and_type_configuration.rect_dark_shade_100)
        +color-info(colors_and_type_configuration.dark_shade_100_info)

      div(class="app__shade")
        +rect(colors_and_type_configuration.rect_dark_shade_75)
        +color-info(colors_and_type_configuration.dark_shade_75_info)

      div(class="app__shade")
        +rect(colors_and_type_configuration.rect_dark_shade_50)
        +color-info(colors_and_type_configuration.dark_shade_50_info)
        
      div(class="app__shade")
        +rect(colors_and_type_configuration.rect_dark_shade_25)
        +color-info(colors_and_type_configuration.dark_shade_25_info)
      
      div(class="app__shade")
        +rect(colors_and_type_configuration.rect_dark_shade_5)
        +color-info(colors_and_type_configuration.dark_shade_5_info)
      
      div(class="app__shade")
        +rect(colors_and_type_configuration.rect_purple)
        +color-info(colors_and_type_configuration.purple_info)
      
      div(class="app__shade")
        +rect(colors_and_type_configuration.rect_green)
        +color-info(colors_and_type_configuration.green_info)

    div(class="app__container app__container--fonts")
      div(class="app__font")
        +HTMLtag(colors_and_type_configuration.HTMLTagH1)
        +HTMLstyle(colors_and_type_configuration.HTMLStyleH1)
      div(class="app__font")
        +HTMLtag(colors_and_type_configuration.HTMLTagH2)
        +HTMLstyle(colors_and_type_configuration.HTMLStyleH2)
      div(class="app__font")
        +HTMLtag(colors_and_type_configuration.HTMLTagH3)
        +HTMLstyle(colors_and_type_configuration.HTMLStyleH3)
      div(class="app__font")
        +HTMLtag(colors_and_type_configuration.HTMLTagBody)
        +HTMLstyle(colors_and_type_configuration.HTMLStyleBody)
      


