mixin colors-and-types({rectDarkShade100, darkShade100Info, rectDarkShade75,  darkShade75Info, rectDarkShade50, darkShade50Info, rectDarkShade25, darkShade25Info, rectDarkShade5, darkShade5Info, rectPurple, purpleInfo, rectGreen, greenInfo, HTMLTagH1, HTMLStyleH1, HTMLTagH2, HTMLStyleH2, HTMLTagH3, HTMLStyleH3, HTMLTagBody, HTMLStyleBody})
  div(class="app")
    div(class="app__container app__container--palette")
      
      div(class="app__shade")
        +rect(rectDarkShade100)
        +color-info(darkShade100Info)

      div(class="app__shade")
        +rect(rectDarkShade75) 
        +color-info(darkShade75Info)

      div(class="app__shade")
        +rect(rectDarkShade50)
        +color-info(darkShade50Info)

      div(class="app__shade")
        +rect(rectDarkShade25)
        +color-info(darkShade25Info)
      
      div(class="app__shade")
        +rect(rectDarkShade5)
        +color-info(darkShade5Info)
      
      div(class="app__shade")
        +rect(rectPurple)
        +color-info(purpleInfo)
      
      div(class="app__shade")
        +rect(rectGreen)
        +color-info(greenInfo)

    div(class="app__container app__container--fonts")
      div(class="app__font")
        +HTMLtag(HTMLTagH1)
        +HTMLstyle(HTMLStyleH1)
      div(class="app__font")
        +HTMLtag(HTMLTagH2)
        +HTMLstyle(HTMLStyleH2)
      div(class="app__font")
        +HTMLtag(HTMLTagH3)
        +HTMLstyle(HTMLStyleH3)
      div(class="app__font")
        +HTMLtag(HTMLTagBody)
        +HTMLstyle(HTMLStyleBody)
      


