.text-field__input {
  width: 100%;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

  font-family: 'montserrat-regular';
  font-size: 14px;
  line-height: 18px;
  color: $dark_shade_75;
}

.text-field__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: $dark_shade_25;
}

.text-field__input--hovered {
  font-size: 14px;
  line-height: 24px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 13px;
  letter-spacing: -0.01em;
}

.text-field__input:hover {
  
}

.text-field__input--emailtextfield {
  padding-bottom: 11px;
}

.text-field_input--first-element-margin-bottom {
  margin-bottom: 10px;
}

.text-field_input--second-element-margin-bottom {
  margin-bottom: 14.4px;
}

.text-field_input--registration-margin-bottom {
  margin-bottom: 10px;
}

.text-field_input--registration-login-data-margin-bottom {
  margin-bottom: 8px;
}