.input_date_dropdown_container {

}

.input_date_dropdown_container__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


// input_date_dropdown_container--cards-margin-bottom
.input_date_dropdown_container__container--margin-bottom {
  margin-bottom: 20.56px;
}


//input_date_dropdown_container--pp-padding-top
.input_date_dropdown_container--padding-top {
  padding-top: 35px
}