//-
  let search_room_conf = {
    search_room_headline: {
      description: 'Найдём номера под ваши пожелания',
    },
    input_date_dropdown_first_description: {
        containerMods: '',
        contentMods: '',
        description: 'Прибытие'
      },
    input_date_dropdown_first: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_date_dropdown_second_description: {
        containerMods: '',
        contentMods: '',
        description: 'Выезд'
      },
      input_date_dropdown_second: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_dropdown_guests: {
        properties: [['взрослый', 0], ['дети', 0], ['младенцы', 0]],
        controlsMods: 'input_dropdown_guests__controls--closed',
        contClassMods: 'input_dropdown_guests--margin-bottom-on-cards-page',
        inputClassMods: 'input_dropdown_guests__input--controls-closed ',
        type: 'text',
        placeholder: 'Сколько гостей',
        name: 'input_dropdown_guests__input',
        value: '',
        resetMods: 'input_dropdown_guests__button_reset--hidden'
      }, 
  }
  //

mixin search-room(search_room_conf)
  section(class=`search-room ${search_room_conf.mods}`)
    section(class=`search-room__container ${search_room_conf.containerMods}`)
      form(class='search-room__form' action=`${search_room_conf.send_to}`, method=`post` name=`${search_room_conf.form_name}` autocomplete=`false`)
        +component-headline(search_room_conf.search_room_headline)


        +double-date-dropdown(search_room_conf.double_date_dropdown)

        +input-description({containerMods: '',contentMods: '', description: 'гости'})
        +input-dropdown-guests(search_room_conf.input_dropdown_guests)

        +button-wide(search_room_conf.button_wide)
