.header_register {
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display: flex;
  justify-content: space-between;
}

.header_register--padding {
  padding-top: 12px;
  padding-bottom: 6px;
}

.header_register--h_f-margin_top {
  margin-top: 65px;
  margin-bottom: 27px;
}



.header__menu {
  display: flex;
}

.header__list {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  list-style-type: none;
}

.header__item {
  margin-right: 30px;
}

.header__link {
  font-family: 'montserrat-regular';

  font-size: 14px;
  line-height: 17px;
  color: $dark_shade_50;
  text-decoration: none;
}

.header__item--active {
  font-family:'montserrat-bold';

/* Dark 75% */

  color: $dark_shade_75;
}

.header__item:nth-child(3) {
  margin-right: 22px;
  display: flex;
}

.header__item_button {
  position: relative;
  left: -2px;
  width: 24px;
  height: 21px;
  background-color: transparent;
  border: none;

  display: flex;
  align-items: center;
  text-align: center;
} 


.header__item:last-child {
  margin-right: 21px;
}

.header__enter {
  display: flex;
  align-items: center;
}