.pie_chart {
  &__container {
    display: flex;
    justify-content: space-between;
    min-width: 420px;

    @media(max-width: 500px) {
      & {
        justify-content: center;
        flex-wrap: wrap;
        min-width: auto;
      }
    }
  }

  &__canvas  {
    margin-left: 106px;
    margin-top: 3px;
  
    @media(max-width: 670px) {
      & {
        margin-left: 0px;  
      }
    }
  }

  &__graphic {
    position: relative;
  }

  &__overall {
    position: absolute;
    top: 41px;
    left: 138px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @media(max-width: 500px) {
      & {
        left: 33px;
      }
    }
  }

  &__summary {
    margin: 0px;
    font-family: 'opensans', Arial, sans-serif;
    font-family: bold;
    font-size: 24px;
    line-height: 30px;
    color: #BC9CFF;
  }

  &__units {
    margin: 0px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
  }

  &__legend {
    margin-top:32px;
  }

  &__categories {
    display: flex;
    align-items: center;
    margin: 0px;
  }

  &__indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;

    
    &--grade-great {
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }

    &--grade-good {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }

    &--grade-bad {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &--grade-very-bad {
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
  }

  &__category {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark_shade_75;
  }
}


