mixin headers-and-footers({headerRegister, headerAuthorized, footer, footerCreative })
  div(class=`headers_and_footers`)
    +header-register(headerRegister)
    +header-authorized(headerAuthorized)
    +footer(footer)
    +footer-creative(footerCreative)