mixin headers-and-footers(headers_and_footers_configuration)
  div(class=`headers_and_footers`)
    +header-register(headers_and_footers_configuration.header_register)
    +header-authorized(headers_and_footers_configuration.header_authorized)
    +footer(headers_and_footers_configuration.footer)
    +footer-creative(headers_and_footers_configuration.footer_creative)