mixin like-button({containerMods, buttonMods, counterMods, count})
  div(class=`like-button`)
    div(class=`like-button__container ${containerMods}`)
      button(class=`like-button__add ${buttonMods}` type='button')
          p(class=`like-button__counter ${counterMods}`) #{count}