-
  let cost_calculator = {
    send_to: '',
    form_name: '',
    room_info: {
      blockMods: '',
      overallMods: '',
      numberMods: '',
      numberText: '№ 888 ',
      typeMods: '',
      typeText: 'люкс',
      priceMods: '',
      costMods:'',
      costText: '9 990₽ ',
      periodMods: '',
      periodText: 'в сутки',
    }
  }

mixin cost_calculator(cost_calculator_config)
  div(class=`cost_calculator ${cost_calculator_config.blockMods}`)
    +room_info(cost_calculator_config.room_info)
    form(class='cost_calculator__form' 	action=`${cost_calculator.send_to}` method=`post` name=`${cost_calculator.form_name}` autocomplete=`false`)
      +input_date_dropdown_container({mods: 'input_date_dropdown_container--cards-margin-bottom'})
          +input_and_description_wrapper({})
            +input_description(cost_calculator_config.input_date_dropdown_first_description)
            +input_date_dropdown(cost_calculator_config.input_date_dropdown_first)
          +input_and_description_wrapper({})
            +input_description(cost_calculator_config.input_date_dropdown_second_description)
            +input_date_dropdown(cost_calculator_config.input_date_dropdown_second)

      +input_description({containerMods: '',contentMods: '', description: 'гости'})
      +input_dropdown_guests(cost_calculator_config.input_dropdown_guests)

      +balance(cost_calculator_config.balance)
      +button_wide(cost_calculator_config.bookButton)

    