mixin UIFilterDateDropdown({inputFilterDateDropdownDescription, inputFilterDateDropdown})
  +input-description(inputFilterDateDropdownDescription)
  +input-filter-date-dropdown(inputFilterDateDropdown)