mixin registration_page(object)
  div(class=`registration_page`)
    +header_register(object.header_register_configuration)
    div(class=`registration__layer`)
      +auth_form(object.auth_form)
    +footer(object.footer_configuration)