//-
  let search_room_conf = {
    search_room_headline: {
      description: 'Найдём номера под ваши пожелания',
    },
    input_date_dropdown_first_description: {
        containerMods: '',
        contentMods: '',
        description: 'Прибытие'
      },
    input_date_dropdown_first: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_date_dropdown_second_description: {
        containerMods: '',
        contentMods: '',
        description: 'Выезд'
      },
      input_date_dropdown_second: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_dropdown_guests: {
        properties: [['взрослый', 0], ['дети', 0], ['младенцы', 0]],
        controlsMods: 'input_dropdown_guests__controls--closed',
        contClassMods: 'input_dropdown_guests--cards-margin-bottom',
        inputClassMods: 'input_dropdown_guests__input--controls-closed ',
        type: 'text',
        placeholder: 'Сколько гостей',
        name: 'input_dropdown_guests__input',
        value: '',
        resetMods: 'input_dropdown_guests__button_reset--hidden'
      }, 
  }
  //

mixin search_room(search_room_conf)
  section(class=`search_room ${search_room_conf.mods}`)
    +component_headline(search_room_conf.search_room_headline)

    +input_date_dropdown_container({mods: 'input_date_dropdown_container--cards-margin-bottom'})
        +input_and_description_wrapper({})
          +input_description(search_room_conf.input_date_dropdown_first_description)
          +input_date_dropdown(search_room_conf.input_date_dropdown_first)

        +input_and_description_wrapper({})
          +input_description(search_room_conf.input_date_dropdown_second_description)
          +input_date_dropdown(search_room_conf.input_date_dropdown_second)

    +input_description({containerMods: '',contentMods: '', description: 'гости'})
    +input_dropdown_guests(search_room_conf.input_dropdown_guests)

    +button_wide({buttonText: 'подобрать номер'})
    
    