mixin color-info(obj)
  - const { containerMods, name, code } = obj;
  div(class="color")
    div(class=`color__container ${containerMods}`)
      p(class="color__name") #{name}
      p(class="color__code") #{code}