.grid {
  width: 320px;
  &_size_md {
    width: 380px;
  }
  
  &_margin-right-for-first-row {
    margin-right: 9.699769053117783%; //126px;
  }
  
  &_margin-right-for-second-row {
    margin-right: 5.542725173210162%; //72px;
  }
  
  
  &_padding-top-for-third-row {
    padding-top: 3px;
  }
  
  &_position-for-review {
    width: auto;
    position: absolute;
    top: 1573px;
    left: 587px;
  }
  
  &_form-elements-pp-padding-top {
    padding-top: 3px;
  }
  
  &_paddings-for-first-row-on-cards-page {
    padding-left: 140px;
    padding-top: 68px;
  }
  
  &_paddings-for-second-row-on-cards-page {
    padding-left: 40px;
    padding-top: 68px;
  }
  
  &_paddings-for-third-row-on-cards-page {
    padding-left: 40px;
    padding-top: 68px;
  }
}

