mixin cost-calculator({roomInfo, sendTo, formName, doubleDateDropdown, inputDropdownGuests, balance, bookButton})
  div(class=`cost-calculator `)
    div(class=`cost-calculator__cont`)
    +room-info(roomInfo)
    form(class='cost-calculator__form' 	action=`${sendTo}` method=`post` name=`${formName}` autocomplete=`false`)
      +double-date-dropdown(doubleDateDropdown)

      +input-description({containerMods: '',contentMods: '', description: 'гости'})
      +input-dropdown-guests(inputDropdownGuests)

      +balance(balance)
      +button-wide(bookButton)

    