-
  let cost_calculator = {
    send_to: '',
    form_name: '',
    room_info: {
      blockMods: '',
      overallMods: '',
      numberMods: '',
      numberText: '№ 888 ',
      typeMods: '',
      typeText: 'люкс',
      priceMods: '',
      costMods:'',
      costText: '9 990₽ ',
      periodMods: '',
      periodText: 'в сутки',
    }
  }

mixin cost-calculator(cost_calculator_config)
  div(class=`cost_calculator ${cost_calculator_config.blockMods}`)
    div(class=`cost_calculator__cont ${cost_calculator_config.containerMods}`)
    +room-info(cost_calculator_config.room_info)
    form(class='cost_calculator__form' 	action=`${cost_calculator.send_to}` method=`post` name=`${cost_calculator.form_name}` autocomplete=`false`)
      +input-date-dropdown-container({mods: 'input_date_dropdown_container__container--margin-bottom '})
          +input-and-description-wrapper({})
            +input-description(cost_calculator_config.input_date_dropdown_first_description)
            +input-date-dropdown(cost_calculator_config.input_date_dropdown_first)
          +input-and-description-wrapper({})
            +input-description(cost_calculator_config.input_date_dropdown_second_description)
            +input-date-dropdown(cost_calculator_config.input_date_dropdown_second)

      +input-description({containerMods: '',contentMods: '', description: 'гости'})
      +input-dropdown-guests(cost_calculator_config.input_dropdown_guests)

      +balance(cost_calculator_config.balance)
      +button-wide(cost_calculator_config.bookButton)

    