mixin cost-calculator({blockMods, containerMods, roomInfo, sendTo, formName, doubleDateDropdown, inputDropdownGuests, balance, bookButton})
  div(class=`cost_calculator ${blockMods}`)
    div(class=`cost_calculator__cont ${containerMods}`)
    +room-info(roomInfo)
    form(class='cost_calculator__form' 	action=`${sendTo}` method=`post` name=`${formName}` autocomplete=`false`)
      +double-date-dropdown(doubleDateDropdown)

      +input-description({containerMods: '',contentMods: '', description: 'гости'})
      +input-dropdown-guests(inputDropdownGuests)

      +balance(balance)
      +button-wide(bookButton)

    