.like_button__add {
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid $dark_shade_25;
  border-radius: 10px;
  box-sizing: border-box;
  background-image: url('https://svgshare.com/getbyhash/sha1-P3XRRCuf+Rsrwp50NcdIuF/XZk8=');
  background-position: 5px center;
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 0px;
  cursor: pointer;
 
}

.like_button__add:active {
  border-color: $purple;
  background-image: url('https://svgshare.com/getbyhash/sha1-pkw86XIXnrTqisP+PytFfIvUwcY=');
}

.like_button__add--pressed {
  border-color: $purple;
  background-image: url('https://svgshare.com/getbyhash/sha1-pkw86XIXnrTqisP+PytFfIvUwcY=');
}

.like_button__add:active .like_button__counter {
  color: $purple;
}

.like_button__counter {
  position: absolute;
  margin: 0px;
  right: 10px;
  top: 4px;

  font-family: 'montserrat';
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: $dark_shade_25;
}

.like_button__counter--button-pressed {
  color: $purple;
}

.like_button__appointment {
  margin-right: 14.31px;
  margin-top: 2px;
  margin-left: 4px;
}