.component_headline {

}

.component_headline__text {
  font-family: 'openSans-bold';
  font-size: 24px;
  line-height: 30px;
  margin-top: 40px;
  margin-bottom: 16px;
  max-width: 320px;

  color: #1F2041;
}

.component_headline__text--md {
  font-size: 19px;
  line-height: 24px;
}



.component_headline__text--filter_page {
  max-width: inherit;
  margin-top: 29px;
  margin-bottom: 21px;
}

.component_headline__text--registartion-margin-bottom {
  margin-bottom: 20px;
}

.component_headline__text--auth-form-margin-bottom {
  margin-bottom: 20px;
}

.component_headline__text--room_details-margin-top {
  margin-top: 69px;
}

.component_headline__text--room_details-feedback-margin-top {
  margin-top: 14px;
  margin-bottom: 20px;
}