-
  let cards_congiguration = {
    search_room: {
    search_room_headline: {
      description: 'Найдём номера под ваши пожелания',
    },
    input_date_dropdown_first_description: {
        containerMods: '',
        contentMods: '',
        description: 'Прибытие'
      },
    input_date_dropdown_first: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_date_dropdown_second_description: {
        containerMods: '',
        contentMods: '',
        description: 'Выезд'
      },
      input_date_dropdown_second: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_dropdown_guests: {
        properties: [['взрослый', 0], ['дети', 0], ['младенцы', 0]],
        controlsMods: 'input_dropdown_guests__controls--closed',
        contClassMods: 'input_dropdown_guests--cards-margin-bottom',
        inputClassMods: 'input_dropdown_guests__input--controls-closed ',
        type: 'text',
        placeholder: 'Сколько гостей',
        name: 'input_dropdown_guests__input',
        value: '',
        resetMods: 'input_dropdown_guests__button_reset--hidden'
      }, 
    },
    registration: {
      registation_conf_headline: {
      description: 'Регистрация аккаунта',
      mods: 'component_headline__text--registartion-margin-bottom',
    },
    name_text_field: {
      contClassMods: 'none',
      inputClassMods: 'text-field__input--emailtextfield text-field_input--first-element-margin-bottom',
      type: 'text',
      placeholder: 'Имя',
      name: 'firstName',
      value: '',
    },
    surname_text_field: {
      contClassMods: 'none',
      inputClassMods: 'text-field__input--emailtextfield text-field_input--second-element-margin-bottom text-field_input--registration-margin-bottom',
      type: 'text',
      placeholder: 'Фамилия',
      name: 'secondName',
      value: '',
    },
    radio_buttons: {options: [['Мужчина', true], ['Женщина', false]], blockMods: 'radio_buttons--registration-margin-bottom'},
    masked_text_field_container: {

    },
    masked_text_field_description: {
      containerMods: '',
      contentMods: '',
      description: 'дата рождения'
    },
    masked_text_field_state: {
      containerMods: '',
      contentMods: 'input_description__content--weight-regular',
      description: 'default'
    },
    masked_text_field: {
      contClassMods: 'none',
      inputClassMods: 'masked_text_field__input--registration-margin-bottom',
      type: 'text',
      placeholder: 'ДД.ММ.ГГГГ',
      name: 'masked_text_field',
      value: '',
    },
    auth_block_headline: {
      containerMods: '',
      contentMods: '',
      description: 'данные для входа в сервис'
    },
    email_text_field: {
      contClassMods: 'none',
      inputClassMods: 'text-field__input--emailtextfield text-field_input--first-element-margin-bottom',
      type: 'text',
      placeholder: 'Email',
      name: 'Email',
      value: '',
    }, 
    password_text_field: {
      contClassMods: 'none',
      inputClassMods: 'text-field__input--emailtextfield text-field_input--first-element-margin-bottom text-field_input--registration-login-data-margin-bottom',
      type: 'text',
      placeholder: 'Пароль',
      name: 'password',
      value: '',
    },
      toggle:{
        descText: 'Получать спецпредложения',
        labelMods: 'toggle__label--registration-margin-bottom'
      },
      checkout_button: {
        buttonText: 'перейти к оплате',
      },
      button_submit_cont: {
        buttonContMods: 'buttonContainer--registration-rules',
      },
      button_submit_description: {
        containerMods: '',
        contentMods: 'input_description__content--button-description',
        description: 'Уже есть аккаунт на Toxin'
      },
      button_submit: {
        buttonText: 'Войти', buttonMods: 'button__body--button__ellipse button__body--registration_padding'
      },
    },
    auth_form: {
      mods: 'auth_form--cards_margin-top',
      auth_form_headline: {
        description: 'Войти',
        mods: 'component_headline__text--auth-form-margin-bottom'
      },
      name_text_field: {
        contClassMods: 'none',
        inputClassMods: 'text-field__input--emailtextfield text-field_input--first-element-margin-bottom',
        type: 'text',
        placeholder: 'Имя',
        name: 'firstName',
        value: '',
      },
      surname_text_field: {
        contClassMods: 'none',
        inputClassMods: 'text-field__input--emailtextfield text-field_input--auth-form_margin-bottom_password-input ',
        type: 'text',
        placeholder: 'Фамилия',
        name: 'secondName',
        value: '',
      },
      masked_text_field_container: {

      },
      masked_text_field: {
        contClassMods: 'none',
        inputClassMods: 'masked_text_field__input--registration-margin-bottom',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'masked_text_field',
        value: '',
      },
      checkout_button: {
        buttonText: 'войти',
      },
      button_submit_cont: {
        buttonContMods: 'buttonContainer--registration-rules',
      },
      button_submit_description: {
        containerMods: '',
        contentMods: 'input_description__content--button-description',
        description: 'Нет аккаунта на Toxin?'
      },
      button_submit: {
        buttonText: 'создать', buttonMods: 'button__body--button__ellipse '
      },
    },
    cost_calculator: {
      room_info: {
        blockMods: '',
        overallMods: '',
        numberMods: '',
        numberSymbol: '№ ',
        numberText: '888',
        typeMods: '',
        typeText: 'люкс',
        priceMods: '',
        costMods:'',
        costText: '9 990₽ ',
        periodMods: '',
        periodText: '&nbsp; в сутки',
      },
      input_date_dropdown_first_description: {
        containerMods: '',
        contentMods: '',
        description: 'Прибытие'
      },
    input_date_dropdown_first: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: '19.08.2019',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_date_dropdown_second_description: {
        containerMods: '',
        contentMods: '',
        description: 'Выезд'
      },
      input_date_dropdown_second: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: '23.08.2019',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_dropdown_guests: {
        properties: [['взрослый', 0], ['дети', 0], ['младенцы', 0]],
        controlsMods: 'input_dropdown_guests__controls--closed',
        contClassMods: 'input_dropdown_guests--balance-margin-bottom',
        inputClassMods: 'input_dropdown_guests__input--controls-closed ',
        type: 'text',
        placeholder: 'Сколько гостей',
        name: 'input_dropdown_guests__input',
        value: '3 гостя',
        resetMods: 'input_dropdown_guests__button_reset--hidden'
      },
      balance: {
        blockMods: '',
        services: [['9 990₽ х 4 суток', false, '39 960₽'], ['Сбор за услуги: скидка 2 179₽', true, '0₽'], ['Сбор за дополнительные услуги', true, '300₽']],
        feeMods: '',
        contMods: '',
        serviceMods: '',
        tooltipMods: '',
        contMods: '',
        totalMods: '',
        totalCostText: 'Итого',
        sumText: '38 081₽',
      },
      bookButton: {
        buttonText: 'Забронировать'
      }
    },
    calendar: {

    }
  }



mixin cards(cards_congiguration)
  div(class=`cards`)
    +grid({mods: 'grid--cards--first-row grid--md'})
      +search_room(cards_congiguration.search_room)
      +registration(cards_congiguration.registration)

    +grid({mods: 'grid--cards--second-row grid--md'})
      +cost_calculator(cards_congiguration.cost_calculator)
      +auth_form(cards_congiguration.auth_form)
 

    +grid({mods: 'grid--cards--third-row '})
      +calendar(cards_congiguration.calendar)
      +room({specialChar: '№', roomNumber: '888', status:'люкс', price: '9 990₽ ', period: 'в сутки', ammount: 145})

      +room({imagesMods: 'room__images--cards__margin-top', specialChar: '№', roomNumber: '888', status:'люкс', price: '9 990₽ ', period: 'в сутки', ammount: 145})


  