.registration_page {
    display: flex;
    flex-direction: column;
    min-height: 100%;

      
    .registration__layer {
    min-height: 700px;
    border-top: 0.1px solid transparent;
    background-position: center -68px;
    background-size: cover;
    background-image: url('./registration.jpg');
    background-repeat: no-repeat;
    flex: 1 0 auto;
  }

  .registration__layer--signed-in {
    min-height: 682px;
  }
}
