mixin registration-pagessss({headerRegisterConfiguration, registration, footerConfiguration})
  div(class=`registration_page`)
    +header-register(headerRegisterConfiguration)
    div(class=`registration__layer`)
      +registration(registration)
    +footer(footerConfiguration)