mixin registration-pagessss(object)
  div(class=`registration_page`)
    +header-register(object.header_register_configuration)
    div(class=`registration__layer`)
      +registration(object.registration)
    +footer(object.footer_configuration)