mixin rect({ marginBottom, backgroundColor })
  -
    let marginBottomMod = '';
    if(marginBottom) {
      marginBottomMod = "rect__container_mb";
    }

    let backgroundColorMod = '';
    if(backgroundColor) {
      backgroundColorMod = `rect__body_${backgroundColor}`
    }

  div(class='rect')
    div(class=`rect__container ${marginBottomMod}`)
      div(class=`rect__body ${backgroundColorMod}`)