.rect {
  width: 70px; //25.64685020041182%;

  @mixin createRect($width: 70px, $height: 70px, $border_radius: 0.375rem) {
    width: $width;
    height: $height;
    border-radius: $border_radius;
  }
  
  @mixin fillRect($background_color) {
    background-color: $background_color;
  }
  
  &__container_margin-bottom {
    margin-bottom: 1.25rem;
  }
  
  &__body {
    @include createRect();
  
    
    &--dark-shade_100 {
      @include fillRect($dark_shade_100)
    }
    
    &--dark-shade_75 {
      @include fillRect($dark_shade_75)
    }
    
    &--dark-shade_50 {
      @include fillRect($dark_shade_50)
    }
    
    &--dark-shade_25 {
      @include fillRect($dark_shade_25)
    }
    
    &--dark-shade_5 {
      @include fillRect($dark_shade_75)
    }
    
    &--green {
      @include fillRect($green)
    }
    
    &--purple {
      @include fillRect($purple)
    }
  }
}

