.expandable_checkbox_list {
  &_padding-top {
    padding-top: 40px;
  }

  &_opened_its_padding_top {
    padding-top: 21px;
  }

  &_pt-16px {
    padding-top: 16px;
  }


  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    width: 100%;
    max-width: 266px;
    word-break: break-all;
  } 

  &__description {
    word-break: break-all;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $dark_shade_100;
    text-transform: uppercase;
    margin: 14.5px 0px;
  }

  &__button-open {
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;    

    &_opened {
      transform: rotate(180deg);
    }
  }

  
  &__list {
    margin: 0px;
    margin-bottom: 17.44px;
    padding: 0px;
    padding-top: 3px;
    display: none;

    &--opened {
      display: block;
    }
  }

  &__label {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &__input {
    display: none;
  }

  &__input:checked ~ &__checkbox {
    border: 1px solid $purple;
    background-image:  url('./arrowDown.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__checkbox {
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
    margin-right: 9px;
  }

  &__text {
    max-width: 240px;
    word-break: break-all;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $dark_shade_50;
    text-transform: capitalize;
    margin: 0px;
  }
}





