.app {
  display: flex;
  min-height: calc(100vh - 83px);
  background-color: white;
}

.app__container--palette {
  padding-left: 150px;
  margin-top: 63px;
}

.app__shade {
  display: flex;
}

.app__container--fonts {
  padding-left: 423px;
  padding-top: 39px;
}

.app__font {
  display: flex;
}