.registration__layer {
  min-height: 704px;
  background-position: center -68px;
  background-size: cover;
  background-image: url('./../assets/full_pages/registration_page/registration.svg');
  background-repeat: no-repeat;
}

