.app {
  display: flex;
  min-height: calc(100vh - 83px);
  background-color: white;

  &__container {
    &_palette {
      padding-left: 150px;
      padding-top: 63px;
    }
    &_fonts {
      padding-left: 423px;
      padding-top: 39px;
    }
  }
  
  &__shade {
    display: flex;
  }

  &__font {
    display: flex;
  }
}


