.input_description__content {
  margin-top: 3px;
  margin-bottom: 5px;
  font-family: 'montserrat-bold';
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark_shade_100;
}

.input_description__content--weight-regular {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: 'montserrat-regular';
  color: $dark_shade_50;
}

.input_description__content--button-description {
  font-family: 'montserrat-regular';
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: none;
}

