.input_description__content {
  font-family: 'montserrat-bold';
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark_shade_100;
}

.input_description__content--weight-regular {
  font-family: 'montserrat-regular';
  color: $dark_shade_50;
}