.benefit {
  display: flex;
  padding-bottom: 19px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  max-width: 280px;
}

.benefit-pp {
  padding-top: 23px;
}

.benefit--room_details--pp {
  padding-top: 5px;
  margin-bottom: 14px;
}

.benefit__image{
  width: 48px;
  height: 48px;
  margin-right: 8px;

  border: none;

  background-repeat: no-repeat;
  background-position: center;
}

.benefit__image--background-smile {
  background-image: url('https://svgshare.com/getbyhash/sha1-ZUWn+H4V+xdDo1OM3avJ5KSlwTE=');
}

.benefit__image--background-building {
  background-image: url('https://svgshare.com/getbyhash/sha1-7K7774jrwNMHr4ynN4eqsBhjyCo=');
}


.benefit__image--background-hot{
  background-image: url('https://svgshare.com/getbyhash/sha1-+Qi0DxTdS3tk/3yEGPloezV4EkY=');
}
.benefit__description {
  padding-top: 1px;
}



.benefit__name, .benefit__property {
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}

.benefit__name {
  font-family: 'montserrat-bold';
  color: $dark_shade_75;
  
} 

.benefit__property {
  font-family: 'montserrat-regular';
  color: $dark_shade_50;
}
