.input_description_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}


// input_description_container--pp-padding-top 
.input_description_container--padding-top {
  padding-top: 17px;
}

// input_description_container--pp-dropdown-room-quantity 
.input_description_container--paddin-top-for-room-quantity {
  padding-top: 95px;
}

// input_description_container--pp-dropdown-room-quantity-expanded
.input_description_container--padding-top-for-room-quantity-expanded {
  padding-top: 16px;
}

