mixin cards({searchRoom, registration, costCalculator, authForm, calendar})
  div(class=`cards`)
    +grid({size: 'md', paddingLeft: 140, paddingTop: 68})
      +search-room(searchRoom)
      +registration(registration)

    +grid({size: 'md', paddingLeft: 40, paddingTop: 68})
      +cost-calculator(costCalculator)
      +auth-form(authForm)
 

    +grid({paddingLeft: 40, paddingTop: 68})
      +calendar(calendar)
      +room({imageMarginTop: 39, specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145, imageOne: 1})

      +room({imageMarginTop : 39, specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145, imageOne: 2})


  