mixin cards(cards_congiguration)
  div(class=`cards`)
    +grid({mods: "grid--paddings-for-first-row-on-cards-page grid--size-md"})
      +search-room(cards_congiguration.search_room)
      +registration(cards_congiguration.registration)

    +grid({mods: "grid--paddings-for-second-row-on-cards-page grid--size-md"})
      +cost-calculator(cards_congiguration.cost_calculator)
      +auth-form(cards_congiguration.auth_form)
 

    +grid({mods: "grid--paddings-for-third-row-on-cards-page"})
      +calendar(cards_congiguration.calendar)
      +room({imagesMods: "room__images--cards__margin-top", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145})

      +room({imagesMods: "room__images--cards__margin-top", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145})


  