-
  let cards_congiguration = {
    search_room: {
      mods: "",
      send_to: "https://www.mock-adress/full-stack-development.ru",
      form_name: "search_room",
    search_room_headline: {
      description: "Найдём номера под ваши пожелания",
    },
    input_date_dropdown_first_description: {
        containerMods: "",
        contentMods: "",
        description: "Прибытие"
      },
    input_date_dropdown_first: {
        contClassMods: "none",
        inputClassMods: "datepick-start",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
      },
      input_date_dropdown_second_description: {
        containerMods: "",
        contentMods: "",
        description: "Выезд"
      },
      input_date_dropdown_second: {
        contClassMods: "none",
        inputClassMods: "datepick-end",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
      },
      input_dropdown_guests: {
        containerMods: "input_dropdown_guests--margin-bottom-on-cards-page",
        properties: [["взрослый", 0], ["дети", 0], ["младенцы", 0]],
        controlsMods: "input_dropdown_guests__controls--closed",
        inputClassMods: "input_dropdown_guests__input--controls-closed ",
        type: "text",
        placeholder: "Сколько гостей",
        name: "input_dropdown_guests__input",
        value: "",
        resetMods: "input_dropdown_guests__button_reset--hidden"
      }, 
      button_wide: {
        buttonText: "подобрать номер",
        type: "submit"
      },
    },
    registration: {
      blockMods: "registration--horizontal-margin-auto",
      send_to: "https://www.mock-adress/full-stack-development.ru",
      form_name: "registration",
      registation_conf_headline: {
      description: "Регистрация аккаунта",
      mods: "component_headline__text--margin-bottom ",
    },
    name_text_field: {
      containerMods: "text-field__container--mb-9",
      contClassMods: "none",
      inputClassMods: "",
      type: "text",
      placeholder: "Имя",
      name: "firstName",
      value: "",
    },
    surname_text_field: {
      containerMods: "text-field__container--mb-9",
      contClassMods: "none",
      inputClassMods: "",
      type: "text",
      placeholder: "Фамилия",
      name: "secondName",
      value: "",
    },
    radio_buttons: {options: [["Мужчина", true], ["Женщина", false]], blockMods: "radio_buttons--margin-bottom"},
    masked_text_field_container: {

    },
    masked_text_field_description: {
      containerMods: "input_description_container--padding-top-registration",
      contentMods: "",
      description: "дата рождения"
    },
    masked_text_field_state: {
      containerMods: "",
      contentMods: "input_description__content--font-weight-normal",
      description: "default"
    },
    masked_text_field: {
      contClassMods: "none",
      inputClassMods: "masked_text_field__input--vertical-padding-12",
      type: "text",
      placeholder: "ДД.ММ.ГГГГ",
      name: "masked_text_field",
      value: "",
    },
    auth_block_headline: {
      containerMods: "input_description__container--margin-top-registration",
      contentMods: "",
      description: "данные для входа в сервис"
    },

    email_text_field: {
      containerMods: "text-field__container--mb-10 ",
      contClassMods: "none",
      inputClassMods: "masked_text_field__input--vertical-padding-12",
      type: "text",
      placeholder: "Email",
      name: "Email",
      value: "",
    }, 
    password_text_field: {
      containerMods: "text-field__container--mb-8 ",
      contClassMods: "none",
      inputClassMods: "masked_text_field__input--vertical-padding-12",
      type: "text",
      placeholder: "Пароль",
      name: "password",
      value: "",
    },
      toggle:{
        descText: "Получать спецпредложения",
        labelMods: "toggle__label--mb-reg"
      },
      checkout_button: {
        buttonText: "перейти к оплате",
        type: "submit"
      },
      button_submit_cont: {
        buttonContMods: "buttonContainer--vertical_padding buttonContainer--align-items-center",
      },
      button_submit_description: {
        containerMods: "input_description__container--mt-11px",
        contentMods: "input_description__content--description-for-buttons",
        description: "Уже есть аккаунт на Toxin"
      },
      button_submit: {
        buttonText: "Войти", buttonMods: "button__body--button__ellipse button__body--extra-padding",
        type: "button",
        link: true,
        href: "https://www.mock-adress/full-stack-development.ru/submit",
      },
    },
    auth_form: {
      send_to: "https://www.mock-adress/full-stack-development.ru",
      form_name: "auth_form",
      mods: "",
      containerMods: "auth_form__container-margin-top",
      auth_form_headline: {
        description: "Войти",
        containerMods: "component_headline__container--margin-bottom ",
        mods: ""
      },
      name_text_field: {
        contClassMods: "none",
        inputClassMods: "text-field__input--pb-for-etf text-field_input--mb-fe",
        type: "text",
        placeholder: "Имя",
        name: "firstName",
        value: "",
      },
      surname_text_field: {
        contClassMods: "none",
        inputClassMods: "text-field__input--pb-for-etf text-field_input--mb-af-pi ",
        type: "text",
        placeholder: "Фамилия",
        name: "secondName",
        value: "",
      },
      masked_text_field_container: {

      },
      masked_text_field: {
        contClassMods: "none",
        inputClassMods: "masked_text_field__input--margin-bottom",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "masked_text_field",
        value: "",
      },
      checkout_button: {
        buttonText: "войти",
        link: true,
        href: 'https://www.mock-adress/full-stack-development.ru/createAccount'
      },
      button_submit_cont: {
        buttonContMods: "buttonContainer--vertical_padding buttonContainer--align-items-center",
      },
      button_submit_description: {
        containerMods: "input_description__container--mt-11px",
        contentMods: "input_description__content--description-for-buttons",
        description: "Нет аккаунта на Toxin?"
      },
      button_submit: {
        buttonText: "создать", buttonMods: "button__body--button__ellipse ", type: "submit",
      },
    },
    cost_calculator: {
      mods: "",
      send_to: "",
      form_name: "cost_calculator",
      room_info: {
        blockMods: "",
        overallMods: "",
        numberMods: "",
        numberSymbol: "№ ",
        numberText: "888",
        typeMods: "",
        typeText: "люкс",
        priceMods: "",
        costMods:"",
        costText: "9 990₽ ",
        periodMods: "",
        periodText: "&nbsp; в сутки",
      },
      input_date_dropdown_first_description: {
        containerMods: "",
        contentMods: "",
        description: "Прибытие"
      },
    input_date_dropdown_first: {
        contClassMods: "none",
        inputClassMods: "",
        type: "text",
        placeholder: "19.08.2019",
        name: "input_date_dropdown_default",
        value: "",
      },
      input_date_dropdown_second_description: {
        containerMods: "",
        contentMods: "",
        description: "Выезд"
      },
      input_date_dropdown_second: {
        contClassMods: "none",
        inputClassMods: "",
        type: "text",
        placeholder: "23.08.2019",
        name: "input_date_dropdown_default",
        value: "",
      },
      input_dropdown_guests: {
        containerMods: "input_dropdown_guests__input--mb-8px ",
        properties: [["взрослый", 0], ["дети", 0], ["младенцы", 0]],
        controlsMods: "input_dropdown_guests__controls--closed",
        contClassMods: "input_dropdown_guests--margin-bottom-in-balance-component",
        inputClassMods: "input_dropdown_guests__input--controls-closed ",
        type: "text",
        placeholder: "Сколько гостей",
        name: "input_dropdown_guests__input",
        value: "3 гостя",
        resetMods: "input_dropdown_guests__button_reset--hidden"
      },
      balance: {
        blockMods: "",
        services: [["9 990₽ х 4 суток", false, "39 960₽"], ["Сбор за услуги: скидка 2 179₽", true, "0₽"], ["Сбор за дополнительные услуги", true, "300₽"]],
        feeMods: "",
        contMods: "",
        serviceMods: "",
        tooltipMods: "",
        contMods: "",
        totalMods: "",
        totalCostText: "Итого",
        sumText: "38 081₽",
      },
      bookButton: {
        buttonText: "Забронировать",
        type: 'submit'
      }
    },
    calendar: {

    }
  }

mixin cards(cards_congiguration)
  div(class=`cards`)
    +grid({mods: "grid--paddings-for-first-row-on-cards-page grid--size-md"})
      +search-room(cards_congiguration.search_room)
      +registration(cards_congiguration.registration)

    +grid({mods: "grid--paddings-for-second-row-on-cards-page grid--size-md"})
      +cost-calculator(cards_congiguration.cost_calculator)
      +auth-form(cards_congiguration.auth_form)
 

    +grid({mods: "grid--paddings-for-third-row-on-cards-page"})
      +calendar(cards_congiguration.calendar)
      +room({imagesMods: "room__images--cards__margin-top", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145})

      +room({imagesMods: "room__images--cards__margin-top", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145})


  