.room {
  max-width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  padding-bottom: 16px;
}

.room--padding-bottom {
  padding-bottom: 36px;
}

.room__images {
  width: 270px;
  height: 152px;
  overflow: hidden;
  position: relative;
}

.room__images--cards__margin-top {
  margin-top: 39px;
}

.room__images {

}

.room__gallery {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.room__image {
  width: 270px;
  height: 250px;
  flex-shrink: 0;
}

.room__image--background-1 {
  background-image: url('./../assets/components/room/image.svg');
  background-repeat: no-repeat;
}

.room__button {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  top: 53px;
}

.room__button--left {

}

.room__button--right {
  right: 0;
}

.room__dots {
  position: absolute;
  top: 113px;
  left: 170px;
  height: 10px;
  width: 100px;
  list-style-type: none;
  display: flex;
}

.room__dot {
  width: 5.5px;
  height: 5.5px;
  margin-left: 3.75px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  cursor: pointer;
}

.room__dot--active {
  background-color: #FFFFFF;
}

.room__overall {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 18px;
  border-bottom: 1px solid $dark_shade_50;
  padding-top: 9px;
}

.room__number {
  margin-bottom: 12px;
  font-family: 'opensans';
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1F2041;
}

.room__special_char {
  display: inline-block;
  margin-right: 7px;
}

.room__special_number {
  font-size: 19px;  
}

.room__status {
  display: inline-block;
  margin-left: 5px;
  font-family: 'montserrat';
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}

.room_price {
  margin-bottom: 12px;
  font-family: 'montserrat';
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */



  color: rgba(31, 32, 65, 0.5);
}

.room__period {
  display: inline-block;
  font-family: 'montserrat';
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.room__rating {
  display: flex;
  justify-content: space-between;
  margin-left: 22px;
  margin-right: 20px;
  padding-top: 11.56px;
}

.room__feedbacks {
  margin: 0px;
  font-family: 'montserrat';
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}

.room__number-span {
  display: inline-block;
  margin-left: 5px;
  font-family: 'montserrat';
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}