-
  let form_elements_configuration = {
      email_text_field: {
      contClassMods: 'none',
      inputClassMods: 'text-field__input--emailtextfield',
      type: 'text',
      placeholder: 'Email',
      name: 'email',
      value: '',
    },
      email_text_field_container: {},
      email_text_field_description: {
        containerMods: '',
        contentMods: '',
        description: 'text field'
      },
      email_text_field_state: {
        containerMods: '',
        contentMods: 'input_description__content--weight-regular',
        description: 'default'
      },
      email_text_field_hover_effect: {
        contClassMods: 'none',
        inputClassMods: 'text-field__input--hovered',
        type: 'text',
        placeholder: 'Email',
        name: 'email-hovered',
        value: 'This is pretty awesome',
      },
      email_text_field_hover_effect_container: {},
      email_text_field_hover_effect_state: {
        containerMods: '',
        contentMods: 'input_description__content--weight-regular',
        description: 'hover / focus'
      },
      guest_dropdown_container: {},
      guest_dropdown_description: {
        containerMods: '',
        contentMods: '',
        description: 'dropdown'
      },
      guest_dropdown_state: {
        containerMods: '',
        contentMods: 'input_description__content--weight-regular',
        description: 'default'
      },
      guest_dropdown_default: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'Сколько гостей',
        name: 'guest_dropdown_default',
        value: '',
      },
      masked_text_field_container: {

      },
      masked_text_field_description: {
        containerMods: '',
        contentMods: '',
        description: 'masked text field'
      },
      masked_text_field_state: {
        containerMods: '',
        contentMods: 'input_description__content--weight-regular',
        description: 'default'
      },
      masked_text_field: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'masked_text_field',
        value: '',
      },
      input_date_dropdown_description: {
        containerMods: '',
        contentMods: '',
        description: 'date dropdown'
      },
      input_date_dropdown_default: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '',

      },
      input_date_dropdown_data_selected: {
         contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '19.08.2019',
      },
      input_filter_date_dropdown_description: {
        containerMods: '',
        contentMods: '',
        description: 'filter date dropdown'
      },
      input_filter_date_dropdown: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '19 авг - 23 авг',
      },
      subscription_text_field_description: {
        containerMods: '',
        contentMods: '',
        description: 'subscription text field'
      },
      subscription_text_field: {
        contClassMods: 'none',
        inputClassMods: '',
        type: 'text',
        placeholder: 'Email',
        name: 'subscription_text_field',
        value: '',
      },
      input_dropdown_room_quantity_container: {},
      input_dropdown_room_quantity_description: {
        containerMods: '',
        contentMods: '',
        description: 'dropdown'
      },
      input_dropdown_room_quantity_state: {
        containerMods: '',
        contentMods: 'input_description__content--weight-regular',
        description: 'default'
      },
      input_dropdown_room_quantity: {
        properties: [['спальни', 2], ['кровати',2], ['ванные комнаты', 0]],
        controlsMods: 'dropdown_room_quantity__controls--closed',
        contClassMods: '',
        inputClassMods: '',
        type: 'text',
        placeholder: 'Выберите удобства',
        name: 'input_dropdown_room_quantity',
        value: '2 спальни, 2 кровати...',
      },




      input_dropdown_room_quantity_expanded_container: {},
      input_dropdown_room_quantity_expanded_description: {
        containerMods: '',
        contentMods: '',
        description: 'dropdown'
      },
      input_dropdown_room_quantity_expanded_state: {
        containerMods: '',
        contentMods: 'input_description__content--weight-regular',
        description: 'expanded'
      },
      input_dropdown_room_quantity_expanded: {
        properties: [['спальни', 2], ['кровати',2], ['ванные комнаты', 0]],
        controlsMods: '',
        contClassMods: '',
        inputClassMods: 'dropdown_room_quantity__input--controls-opened ',
        type: 'text',
        placeholder: 'Выберите удобства',
        name: 'input_dropdown_room_quantity',
        value: '2 спальни, 2 кровати...',
      }, 
      expandable_checkbox_list: {
        items: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор' , 'Шампунь' , 'Телевизор', 'Шампунь'],
        description: 'expandable checkbox list'
      },
      expandable_checkbox_list_opened: {
        items: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор' , 'Шампунь' , 'Телевизор', 'Шампунь'],
        description: 'expandable checkbox list',
        buttonMods: 'expandable_checkbox_list__button-opened',
        listMods: 'expandable_checkbox_list__list--opened'
      },


      input_dropdown_guests: {
        properties: [['взрослый', 0], ['дети', 0], ['младенцы', 0]],
        controlsMods: '',
        contClassMods: '',
        inputClassMods: 'input_dropdown_guests__input--controls-opened',
        type: 'text',
        placeholder: 'Сколько гостей',
        name: 'input_dropdown_guests__input',
        value: '',
        resetMods: 'input_dropdown_guests__button_reset--hidden'
      }, 

      rich_checkbox_buttons: {
        description: 'rich checkbox buttons',
        items:[['Широкий коридор', 'Ширина коридоров в номере не менее 91 см.'], ['Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.']],
      },
      slider: {
        description: 'Range Slider',
        rangeSelected: '5 000₽ - 10 000₽',
        slider__range: '',
      },


      input_dropdown_guests_selected: {
        properties: [['взрослые', 2], ['дети', 1], ['младенцы', 0]],
        controlsMods: '',
        contClassMods: '',
        inputClassMods: 'input_dropdown_guests__input--controls-opened',
        type: 'text',
        placeholder: '3 гостя',
        name: 'input_dropdown_guests__input',
        value: '',
        resetMods: ''
      }
  }


mixin form-elements(form_elements_configuration)
  div(class='form_elements_container')
    +grid({mods: 'grid--form-elements-first-row'})
      +input_description_container(form_elements_configuration.email_text_field_container)
        +input_description(form_elements_configuration.email_text_field_description)
        +input_description(form_elements_configuration.email_text_field_state)
      +text-field(form_elements_configuration.email_text_field)

      +input_description_container(form_elements_configuration.email_text_field_hover_effect_container)
        +input_description(form_elements_configuration.email_text_field_description)
        +input_description(form_elements_configuration.email_text_field_hover_effect_state)
      +text-field(form_elements_configuration.email_text_field_hover_effect)


      +input_description_container(form_elements_configuration.guest_dropdown_container)
        +input_description(form_elements_configuration.guest_dropdown_description)
        +input_description(form_elements_configuration.guest_dropdown_state)
      +guest_dropdown(form_elements_configuration.guest_dropdown_default)

      +input_description_container(form_elements_configuration.masked_text_field_container)
        +input_description(form_elements_configuration.masked_text_field_description)
        +input_description(form_elements_configuration.masked_text_field_state)
      +masked_text_field(form_elements_configuration.masked_text_field)

      +input_date_dropdown_container({})
        +input_and_description_wrapper({})
          +input_description(form_elements_configuration.input_date_dropdown_description)
          +input_date_dropdown(form_elements_configuration.input_date_dropdown_default)

        +input_and_description_wrapper({})
          +input_description(form_elements_configuration.input_date_dropdown_description)
          +input_date_dropdown(form_elements_configuration.input_date_dropdown_data_selected)

      +input_description(form_elements_configuration.input_filter_date_dropdown_description)
      +input_filter_date_dropdown(form_elements_configuration.input_filter_date_dropdown)

      +input_description(form_elements_configuration.subscription_text_field_description)
      +subscription_text_field(form_elements_configuration.subscription_text_field)

      +input_and_description_wrapper({mods: 'input_and_description_wrapper--md'})
        +input_description_container(form_elements_configuration.input_dropdown_room_quantity_container)
          +input_description(form_elements_configuration.input_dropdown_room_quantity_description)
          +input_description(form_elements_configuration.input_dropdown_room_quantity_state)
        +input_dropdown_room_quantity(form_elements_configuration.input_dropdown_room_quantity)

      +input_and_description_wrapper({mods: 'input_and_description_wrapper--md'})
        +input_description_container(form_elements_configuration.input_dropdown_room_quantity_expanded_container)
          +input_description(form_elements_configuration.input_dropdown_room_quantity_expanded_description)
          +input_description(form_elements_configuration.input_dropdown_room_quantity_expanded_state)
        +input_dropdown_room_quantity(form_elements_configuration.input_dropdown_room_quantity_expanded)

      +expandable_checkbox_list(form_elements_configuration.expandable_checkbox_list)
      +expandable_checkbox_list(form_elements_configuration.expandable_checkbox_list_opened)

      +benefit({imageMods: 'benefit__image--background-smile', nameText: 'Комфорт', propText: 'Шумопоглощающие стены'}) 
      +benefit({imageMods: 'benefit__image--background-building', nameText: 'Удобство', propText: 'Окно в каждой из спален'})

    +grid({mods: 'grid--form-elements-second-row'})
      +checkbox_buttons({description: 'checkbox buttons', items:['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'], })
      
      +input_description({containerMods: '',contentMods: '', description: 'radio buttons'})
      +radio_buttons({options: [['Мужчина', true], ['Женщина', false]]})

      +input_description({containerMods: '',contentMods: '', description: 'toggle'})
      +toggle({checked: true, descText: 'Получать спецпредложения', labelMods: 'toggle__label--divider'})
      +toggle({descText: 'Получать спецпредложения'})

      +input_description({containerMods: '',contentMods: '', description: 'like button'})

      +like_button_container({})
        +like_button({count: 2})
        +like_button({buttonMods: 'like_button__add--pressed', counterMods: 'like_button__counter--button-pressed',count: 12})

      +input_description({containerMods: '',contentMods: '', description: 'dropdown'})


      +input_dropdown_guests(form_elements_configuration.input_dropdown_guests)
      +rich_checkbox_buttons(form_elements_configuration.rich_checkbox_buttons)
    
    +grid({})
      +slider(form_elements_configuration.slider)

      +input_description({containerMods: '',contentMods: '', description: 'buttons'})

      +button_container({buttonContMods: 'buttonContainer--md'})
        +button({buttonText: 'click me', buttonMods: 'button__body--button__ellipse button__body--background_linear_gradient__purple'})
        +button({buttonText: 'click me', buttonMods: 'button__body--button__ellipse button__body--button__ellipse__active button__body--background_linear_gradient__purple  button__body--background_linear_gradient__purple_active'})

      +button_container({buttonContMods: 'buttonContainer--md'})
        +button({buttonText: 'click me', buttonMods: 'button__body--button__ellipse '})
        +button({buttonText: 'click me', buttonMods: 'button__body--button__ellipse button__body--button__ellipse__active'})
        
      +button_container({buttonContMods: 'buttonContainer--sm'})
        +button({buttonText: 'click me'})
        +button({buttonText: 'click me', buttonMods: 'button__body--active'})

      +button_wide({buttonText: 'перейти к оплате'})


      +input_description({containerMods: '',contentMods: '', description: 'pagination'})
      +pagination({
        list: [[true, 1], [false, 2], [false, 3], [false, '...'], [false, 15]],
        description: '1 – 12 из 100+ вариантов аренды'
      })

      +input_dropdown_guests(form_elements_configuration.input_dropdown_guests_selected)

      +bulletlist({description: 'bullet list', items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
    