.input-date-dropdown-container {
  
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    //&_cards-margin-bottom 
    &_mb_18 {
      margin-bottom: 18px;
    }


    &_mb_21 {
      margin-bottom: 20.56px;
    }

    &_mt_35 {
      padding-top: 35px
    }
  }
}
