.input-date-dropdown-container {
  
  &_cards-margin-bottom {
    padding-bottom: 18px;
  }
  
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_margin-bottom {
      margin-bottom: 20.56px;
    }

    &_mt_35 {
      padding-top: 35px
    }
  }
}
