mixin auth-form({authFormHeadline, sendTo, formName, nameTextField, surnameTextField, checkoutButton, buttonSubmitCont, buttonSubmitDescription,  buttonSubmit})
  section(class=`auth-form`)
    section(class=`auth-form__container`)
      +component-headline(authFormHeadline)
      form(class='auth-form__form' 	action=`${sendTo}`, method=`post` name=`${formName}` autocomplete=`false`)
        +text-field(nameTextField)
        +text-field(surnameTextField)

        +button-wide(checkoutButton)

        +button-container(buttonSubmitCont)
          +input-description(buttonSubmitDescription)
          +button(buttonSubmit)

    

