mixin auth-form({ sendTo, formName, marginAuto })
  -
    let marginAutoMod = '';
    if(marginAuto) {
      marginAutoMod = `auth-form__container_horizontal-margin_auto`;
    }

  section(class=`auth-form`)
    section(class=`auth-form__container ${marginAutoMod}`)
      +component-headline({
        description: "Войти",
        containerMods: "component-headline__container_margin-bottom ",
        mods: ""
      })
      form(class='auth-form__form' 	action=`${sendTo}`, method=`post` name=`${formName}` autocomplete=`false`)
        +text-field({
          contMarginBottom: 10,
          type: "text",
          placeholder: "Имя",
          name: "firstName",
          value: "",
        })
        +text-field({
          contMarginBottom: 20,
          type: "text",
          placeholder: "Фамилия",
          name: "secondName",
          value: "",
        })

        +button-submit({
          buttonText: "войти",
          link: true,
          href: 'https://www.mock-adress/full-stack-development.ru/createAccount'
        })

        +button-container({ buttonContMods: "button-container_vertical-padding button-container_align-items_center" })
          +input-description({
            descriptionBg: true,
            description: "Нет аккаунта на Toxin?"
          })
          +button({  buttonText: "Создать", buttonType: "transparent",  type: "submit" })

    

