mixin double-date-dropdown({inputDateDropdownContainer, inputDateDropdownDescriptionFirst, inputDateDropdownFirst, inputDateDropdownDescriptionSecond, inputDateDropdownSecond, calendar })
  div(class='double-date-dropdown' style='position: relative;')
    +input-date-dropdown-container(inputDateDropdownContainer)
      +input-and-description-wrapper({})
        +input-description(inputDateDropdownDescriptionFirst)
        +input-date-dropdown(inputDateDropdownFirst)

      +input-and-description-wrapper({})
        +input-description(inputDateDropdownDescriptionSecond)
        +input-date-dropdown(inputDateDropdownSecond)
  div(class='input_date_dropdown-calendar' id=`${calendar.id}`)  