include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title colors and types
block logo
  +logo("logo--background-color_white")
block content
  +colors_and_types(colors_and_type_configuration)
