include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title colors and types
block logo
  include ../../assets/templates/logo/logo.pug
block content
  +colors_and_types(colors_and_type_configuration)
