include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title registration
block logo
block content
  +filter_page({
    header_register_configuration: {
      mods: "header_register--padding-vertical",
      items: [
        {value: "О нас", active: true, submenu: false, itemMods: "header__item--margin-right-pages"},
        {value: "Услуги", active: false, submenu: true, itemMods: "header__item--margin-right-pages"},
        {value: "Вакансии", active: false, submenu: false, itemMods: "header__item--margin-right-pages"},
        {value: "Новости", active: false, submenu: false, itemMods: "header__item--margin-right-pages"},
        {value: "Соглашения", active: false, submenu: true, itemMods: "header__item--margin-right-pages"},
        ],
        buttonLogin: {
        buttonText: "Войти", 
        buttonMods: "button__body--button__ellipse button__body--small_vertical_padding_transparent button__body--header-size_sm button__body--header-margin_right",
        link: true,
        href: "https://mock-address.ru/login.php"
      },
      buttonRegister: {
        buttonText: "Зарегистрироваться",
        buttonMods: "button__body--button__ellipse button__body--background_linear_gradient__purple button__body--small_vertical_padding button__body--header-size_sm",
        link: true,
        href: "https://mock-address.ru/register.php"
      },
    },
    input_filter_date_dropdown_description: {
        containerMods: "input_description--margin-top-for-filter-date-dropdown",
        contentMods: "",
        description: "Даты пребывания в отеле"
      },
      
      input_filter_date_dropdown: {
        contClassMods: "none",
        inputClassMods: "",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "19 авг - 23 авг",
      },

      input_dropdown_guests_description: {containerMods: "",contentMods: "input_description--margin-top-for_guest-dropdown", description: "Гости"},
      input_dropdown_guests: {
        properties: [["взрослый", 0], ["дети", 0], ["младенцы", 0]],
        controlsMods: "input_dropdown_guests__controls--closed ",
        contClassMods: "",
        inputClassMods: "",
        type: "text",
        placeholder: "Сколько гостей",
        name: "input_dropdown_guests__input",
        value: "",
        resetMods: "input_dropdown_guests__button_reset--hidden"
      }, 

      slider: {
        description: "Диапазон цены",
        rangeSelected: "5 000₽ - 10 000₽",
        slider__range: "",
        headerMods: "slider--padding-top"
      },

      checkbox_buttons: {
        descMods: "checkbox_buttons__description--margin-top ",
        description: "checkbox buttons", 
        items:["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], 
      },

      rich_checkbox_buttons: {
        mods: "rich_checkbox_buttons__description--margin_top",
        description: "Доступность",
        items:[["Широкий коридор", "Ширина коридоров в номере не менее 91 см."], ["Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера."]],
      },

      input_dropdown_room_quantity_description: {
        containerMods: "",
        contentMods: "input_description--margin-top-for_dropdown-room-quantity",
        description: "Удобства номера"
      },
      input_dropdown_room_quantity: {
        properties: [["спальни", 2], ["кровати",2], ["ванные комнаты", 0]],
        controlsMods: "dropdown_room_quantity__controls--closed",
        contClassMods: "",
        inputClassMods: "",
        type: "text",
        placeholder: "Выберите удобства",
        name: "input_dropdown_room_quantity",
        value: "2 спальни, 2 кровати...",
      },

      expandable_checkbox_list: {
        mods: "expandable_checkbox_list--padding-top-on-filter-page",
        items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор" , "Шампунь" , "Телевизор", "Шампунь"],
        description: "expandable checkbox list"
      },
      rooms_headline: {
        mods: "component_headline__text--vertical-margin component_headline__text--max-width-auto component_headline__text--text-align-center",
        description: "Номера, которые мы для вас подобрали"
      },
      rooms: [
        {blockMods: "room--padding-bottom", imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
        {blockMods: "room--padding-bottom",imagesMods: "", specialChar: "№", roomNumber: "888", status:"люкс", price: "9 990₽ ", period: "в сутки", ammount: 145},
      ],

      pagination: {
        blockMods: "pagination--negative-margin ",
        list: [[true, 1], [false, 2], [false, 3], [false, "..."], [false, 15]],
        description: "1 – 12 из 100+ вариантов аренды"
      },
    footer_configuration: {
      send_to: "https://www.mock-adress/full-stack-development.ru",
      form_name: "subscribe",
      mods: "footer--pt-lp",
      info: [
        "Бронирование номеров в лучшем",
        "отеле 2019 года по версии",
        "ассоциации «‎Отельные взгляды».",
      ],
      navContMods: 'footer__navcont--min-width-pages',
      lists: {
        menu1: {
          headline: "Навигация", 
          navClass: "footer__navigation ",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "О нас"},
            {link: "https://mock-adress/fsd.ru", text: "Новости"},
            {link: "https://mock-adress/fsd.ru", text: "Служба поддержки"},
            {link: "https://mock-adress/fsd.ru", text: "Услуги"},
            ]
        },
        menu2: {
          headline: "О нас",
          navClass: "footer__aboutus",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "О сервисе"},
            {link: "https://mock-adress/fsd.ru", text: "Наша команда"},
            {link: "https://mock-adress/fsd.ru", text: "Вакансии"},
            {link: "https://mock-adress/fsd.ru", text: "Инвесторы"},
          ]
        },
        menu3: {
          headline: "Служба поддержки",
          navClass: "footer__support",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "Соглашения"},
            {link: "https://mock-adress/fsd.ru", text: "Сообщества"},
            {link: "https://mock-adress/fsd.ru", text: "Связь с нами"},
          ]
        }
      },
      subscribe: {
        cta: "Подписка",
        descript: ["Получайте специальные", "предложения и новости сервиса"]
      },
      subscription_text_field: {
        contClassMods: "subscription_text_field--mt",
        inputClassMods: "subscription_text_field__input--width-correction",
        type: "Email",
        placeholder: "Email",
        name: "subscription_text_field",
        value: "",
      },
      copyright: "Copyright © 2018 Toxin отель. Все права зачищены.",
    },
  })