include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title form elements
block logo
  include ../../assets/templates/logo/logo.pug
block content 
  +form-elements(form_elements_configuration)