include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title Headers & Footers
block logo
  +logo()
block content 
  +headers_and_footers(headers_and_footers_configuration)


  