include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title Landing page
block logo
block content 
  +landing_page({
    header_register_configuration: {
      mods: "header_register--padding",
      items: [
        {value: "О нас", active: true, submenu: false},
        {value: "Услуги", active: false, submenu: true},
        {value: "Вакансии", active: false, submenu: false},
        {value: "Новости", active: false, submenu: false},
        {value: "Соглашения", active: false, submenu: true},
        ],
        buttonLogin: {
        buttonText: "Войти", 
        buttonMods: "button__body--button__ellipse button__body--small_vertical_padding_transparent button__body--header-size_sm button__body--header-margin_right",
      },
      buttonRegister: {
        buttonText: "Зарегистрироваться",
        buttonMods: "button__body--button__ellipse button__body--background_linear_gradient__purple button__body--small_vertical_padding button__body--header-size_sm",
      },
    },
    search_room_configuration: {
      mods: "search_room--position-absolute-landing-page",
    search_room_headline: {
      description: "Найдём номера под ваши пожелания",
    },
    input_date_dropdown_first_description: {
        containerMods: "",
        contentMods: "",
        description: "Прибытие"
      },
    input_date_dropdown_first: {
        contClassMods: "none",
        inputClassMods: "",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
      },
      input_date_dropdown_second_description: {
        containerMods: "",
        contentMods: "",
        description: "Выезд"
      },
      input_date_dropdown_second: {
        contClassMods: "none",
        inputClassMods: "",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
      },
      input_dropdown_guests: {
        properties: [["взрослый", 0], ["дети", 0], ["младенцы", 0]],
        controlsMods: "input_dropdown_guests__controls--closed",
        contClassMods: "input_dropdown_guests--cards-margin-bottom",
        inputClassMods: "input_dropdown_guests__input--controls-closed ",
        type: "text",
        placeholder: "Сколько гостей",
        name: "input_dropdown_guests__input",
        value: "",
        resetMods: "input_dropdown_guests__button_reset--hidden"
      }, 
    },
    footer_configuration: {
      mods: "footer--padding-top-landing-page",
      subscription_text_field: {
        contClassMods: "none",
        inputClassMods: "subscription_text_field__input--footer",
        type: "Email",
        placeholder: "Your email address",
        name: "subscription_text_field",
        value: "",
      },
    }
  }
  )


  