include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title colors and typegsgsg

block logo
  include ../../assets/templates/logo/logo.pug
  +colors_and_types(colors_and_type_configuration)
