include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title registration
block logo
block content 
  +registration_pagessss({
      header_register_configuration: {
      mods: "",
      items: [
        {value: "Home", active: true, submenu: false},
        {value: "About Us", active: false, submenu: false},
        {value: "Services", active: false, submenu: true},
        {value: "Careers", active: false, submenu: false},
        {value: "News", active: false, submenu: false},
        {value: "Documentation", active: false, submenu: false},
        ],
        buttonLogin: {
        buttonText: "login", 
        buttonMods: "button__body--button__ellipse button__body--small_vertical_padding_transparent button__body--header-size_sm button__body--header-margin_right",
      },
      buttonRegister: {
        buttonText: "register",
        buttonMods: "button__body--button__ellipse button__body--background_linear_gradient__purple button__body--small_vertical_padding button__body--header-size_sm",
      },
    },
    
    component_headline: {
          mods: '',
        },
    registration: {
      registation_conf_headline: {
      description: "Регистрация аккаунта",
      mods: "component_headline__text--registartion-margin-bottom",
    },
    name_text_field: {
      contClassMods: "none",
      inputClassMods: "text-field__input--emailtextfield text-field_input--first-element-margin-bottom",
      type: "text",
      placeholder: "Имя",
      name: "firstName",
      value: "",
    },
    surname_text_field: {
      contClassMods: "none",
      inputClassMods: "text-field__input--emailtextfield text-field_input--second-element-margin-bottom text-field_input--registration-margin-bottom",
      type: "text",
      placeholder: "Фамилия",
      name: "secondName",
      value: "",
    },
    radio_buttons: {options: [["Мужчина", true], ["Женщина", false]], blockMods: "radio_buttons--registration-margin-bottom"},
    masked_text_field_container: {

    },
    masked_text_field_description: {
      containerMods: "",
      contentMods: "",
      description: "дата рождения"
    },
    masked_text_field_state: {
      containerMods: "",
      contentMods: "input_description__content--weight-regular",
      description: "default"
    },
    masked_text_field: {
      contClassMods: "none",
      inputClassMods: "masked_text_field__input--registration-margin-bottom",
      type: "text",
      placeholder: "ДД.ММ.ГГГГ",
      name: "masked_text_field",
      value: "",
    },
    auth_block_headline: {
      containerMods: "",
      contentMods: "",
      description: "данные для входа в сервис"
    },
    email_text_field: {
      contClassMods: "none",
      inputClassMods: "text-field__input--emailtextfield text-field_input--first-element-margin-bottom",
      type: "text",
      placeholder: "Email",
      name: "Email",
      value: "",
    }, 
    password_text_field: {
      contClassMods: "none",
      inputClassMods: "text-field__input--emailtextfield text-field_input--first-element-margin-bottom text-field_input--registration-login-data-margin-bottom",
      type: "text",
      placeholder: "Пароль",
      name: "password",
      value: "",
    },
      toggle:{
        descText: "Получать спецпредложения",
        labelMods: "toggle__label--registration-margin-bottom"
      },
      checkout_button: {
        buttonText: "перейти к оплате",
      },
      button_submit_cont: {
        buttonContMods: "buttonContainer--registration-rules",
      },
      button_submit_description: {
        containerMods: "",
        contentMods: "input_description__content--button-description",
        description: "Уже есть аккаунт на Toxin"
      },
      button_submit: {
        buttonText: "Войти", buttonMods: "button__body--button__ellipse button__body--registration_padding"
      },
    },
    footer_configuration: {
      mods: "",
      subscription_text_field: {
        contClassMods: "none",
        inputClassMods: "subscription_text_field__input--footer",
        type: "Email",
        placeholder: "Your email address",
        name: "subscription_text_field",
        value: "",
      },
    }
  })


  