include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title registration
block logo
block content 
  +registration_pagessss({
      header_register_configuration: {
      mods: "",
      items: [
        {value: "Home", active: true, submenu: false},
        {value: "About Us", active: false, submenu: false},
        {value: "Services", active: false, submenu: true},
        {value: "Careers", active: false, submenu: false},
        {value: "News", active: false, submenu: false},
        {value: "Documentation", active: false, submenu: false},
        ],
        buttonLogin: {
        buttonText: "login", 
        buttonMods: "button__body--button__ellipse button__body--transparent_button_extra_fields button__body--header-size_sm button__body--header-margin_right",
        link: true,
        href: "https://mock-address.ru/login.php"
      },
      buttonRegister: {
        buttonText: "register",
        buttonMods: "button__body--button__ellipse button__body--background_linear_gradient__purple button__body--small_vertical_padding button__body--header-size_sm",
        link: true,
        href: "https://mock-address.ru/register.php"
      },
    },
    
    component_headline: {
          mods: '',
        },
    registration: {
      registation_conf_headline: {
      description: "Регистрация аккаунта",
      mods: "component_headline__text--margin-bottom",
    },
    name_text_field: {
      contClassMods: "none",
      inputClassMods: "text-field__input--pb-for-etf text-field_input--mb-fe",
      type: "text",
      placeholder: "Имя",
      name: "firstName",
      value: "",
    },
    surname_text_field: {
      contClassMods: "none",
      inputClassMods: "text-field__input--pb-for-etf text-field_input--mb-se text-field_input--mb-reg",
      type: "text",
      placeholder: "Фамилия",
      name: "secondName",
      value: "",
    },
    radio_buttons: {options: [["Мужчина", true], ["Женщина", false]], blockMods: "radio_buttons--margin-bottom"},
    masked_text_field_container: {

    },
    masked_text_field_description: {
      containerMods: "",
      contentMods: "",
      description: "дата рождения"
    },
    masked_text_field_state: {
      containerMods: "",
      contentMods: "input_description__content--font-weight-normal",
      description: "default"
    },
    masked_text_field: {
      contClassMods: "none",
      inputClassMods: "masked_text_field__input--margin-bottom",
      type: "text",
      placeholder: "ДД.ММ.ГГГГ",
      name: "masked_text_field",
      value: "",
    },
    auth_block_headline: {
      containerMods: "",
      contentMods: "",
      description: "данные для входа в сервис"
    },
    email_text_field: {
      contClassMods: "none",
      inputClassMods: "text-field__input--pb-for-etf text-field_input--mb-fe",
      type: "text",
      placeholder: "Email",
      name: "Email",
      value: "",
    }, 
    password_text_field: {
      contClassMods: "none",
      inputClassMods: "text-field__input--pb-for-etf text-field_input--mb-fe text-field_input--rmb-reg-ld",
      type: "text",
      placeholder: "Пароль",
      name: "password",
      value: "",
    },
      toggle:{
        descText: "Получать спецпредложения",
        labelMods: "toggle__label--registration-margin-bottom"
      },
      checkout_button: {
        buttonText: "перейти к оплате",
        type: "submit"
      },
      button_submit_cont: {
        buttonContMods: "buttonContainer--vertical_padding buttonContainer--align-items-center",
      },
      button_submit_description: {
        containerMods: "",
        contentMods: "input_description__content--description-for-buttons",
        description: "Уже есть аккаунт на Toxin"
      },
      button_submit: {
        buttonText: "Войти", buttonMods: "button__body--button__ellipse button__body--extra-padding", type: "button", link: true, href: "https://mock-adress.ru"
      }
    },
    footer_configuration: {
      send_to: "https://www.mock-adress/full-stack-development.ru",
      form_name: "subscribe",
      mods: "footer--h_f_margin-top",
      info: [
        "Lorem ipsum dolor sit amet",
        "consectetur adipiscing elit aliquam",
        "eget nullam pellentesque aliquam ",
        "curabitur cociis`"
      ],
      lists: {
        menu1: {
          headline: "Navigation",
          navClass: "footer__navigation",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "About Us"},
            {link: "https://mock-adress/fsd.ru", text: "News"},
            {link: "https://mock-adress/fsd.ru", text: "Support"},
            {link: "https://mock-adress/fsd.ru", text: "Products"},
            ]
        },
        menu2: {
          headline: "About Us",
          navClass: "footer__aboutus",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "Who we are"},
            {link: "https://mock-adress/fsd.ru", text: "Our team"},
            {link: "https://mock-adress/fsd.ru", text: "Careers"},
            {link: "https://mock-adress/fsd.ru", text: "Investors"},
          ]
        },
        menu3: {
          headline: "Support",
          navClass: "footer__support",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "Documentation"},
            {link: "https://mock-adress/fsd.ru", text: "Community"},
            {link: "https://mock-adress/fsd.ru", text: "Get in Touch"},
          ]
        }
      },
      subscribe: {
        cta: "Subscribe to our newsletter",
        descript: "Receive our latest news and promotions in your inbox!"
      },
      subscription_text_field: {
        contClassMods: "none",
        inputClassMods: "subscription_text_field__input--width-correction",
        type: "Email",
        placeholder: "Your email address",
        name: "subscription_text_field",
        value: "",
      },
      copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved.",
    },
  })


  