include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title registration
block logo
block content 
  +registration_page({
      header_register_configuration: {
      mods: ""
    },
    auth_form: {
      mods: "",
      auth_form_headline: {
        description: "Войти",
        mods: "component_headline__text--auth-form-margin-bottom"
      },
      name_text_field: {
        contClassMods: "none",
        inputClassMods: "text-field__input--emailtextfield text-field_input--first-element-margin-bottom",
        type: "text",
        placeholder: "Имя",
        name: "firstName",
        value: "",
      },
      surname_text_field: {
        contClassMods: "none",
        inputClassMods: "text-field__input--emailtextfield text-field_input--auth-form_margin-bottom_password-input ",
        type: "text",
        placeholder: "Фамилия",
        name: "secondName",
        value: "",
      },
      masked_text_field_container: {

      },
      masked_text_field: {
        contClassMods: "none",
        inputClassMods: "masked_text_field__input--registration-margin-bottom",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "masked_text_field",
        value: "",
      },
      checkout_button: {
        buttonText: "войти",
      },
      button_submit_cont: {
        buttonContMods: "buttonContainer--registration-rules",
      },
      button_submit_description: {
        containerMods: "",
        contentMods: "input_description__content--button-description",
        description: "Нет аккаунта на Toxin?"
      },
      button_submit: {
        buttonText: "создать", buttonMods: "button__body--button__ellipse "
      },
    },
    footer_configuration: {
      mods: "",
      subscription_text_field: {
        contClassMods: "none",
        inputClassMods: "subscription_text_field__input--footer",
        type: "Email",
        placeholder: "Your email address",
        name: "subscription_text_field",
        value: "",
      },
    }
  })


  