include ../blocks/doctype/doctype.pug
include ../../assets/utils/mixins.pug

block title
  title registration
block logo
block content 
  +registration_page({
      header_register_configuration: {
      mods: "header_register--padding-vertical",
      items: [
        {value: "Home", active: true, submenu: false},
        {value: "About Us", active: false, submenu: false},
        {value: "Services", active: false, submenu: true},
        {value: "Careers", active: false, submenu: false},
        {value: "News", active: false, submenu: false},
        {value: "Documentation", active: false, submenu: false},
        ],
        buttonLogin: {
        buttonText: "login", 
        buttonMods: "button__body--button__ellipse button__body--transparent_button_extra_fields button__body--header-size_sm button__body--header-margin_right",
        link: true,
        href: "https://mock-address.ru/login.php"
      },
      buttonRegister: {
        buttonText: "register",
        buttonMods: "button__body--button__ellipse button__body--background_linear_gradient__purple button__body--small_vertical_padding button__body--header-size_sm",
        link: true,
        href: "https://mock-address.ru/register.php"
      },
    },
    auth_form: {
      mods: "auth_form--horizontal-margin-auto",
      auth_form_headline: {
        description: "Войти",
        mods: "component_headline__text--margin-bottom"
      },
      name_text_field: {
        contClassMods: "none",
        inputClassMods: "text-field__input--pb-for-etf text-field_input--mb-fe",
        type: "text",
        placeholder: "Имя",
        name: "firstName",
        value: "",
      },
      surname_text_field: {
        contClassMods: "none",
        inputClassMods: "text-field__input--pb-for-etf text-field_input--mb-af-pi ",
        type: "text",
        placeholder: "Фамилия",
        name: "secondName",
        value: "",
      },
      masked_text_field_container: {

      },
      masked_text_field: {
        contClassMods: "none",
        inputClassMods: "masked_text_field__input--margin-bottom",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "masked_text_field",
        value: "",
      },
      checkout_button: {
        buttonText: "войти",
        type: "sumbit",
      },
      button_submit_cont: {
        buttonContMods: "buttonContainer--vertical_padding buttonContainer--align-items-center",
      },
      button_submit_description: {
        containerMods: "",
        contentMods: "input_description__content--description-for-buttons",
        description: "Нет аккаунта на Toxin?"
      },
      button_submit: {
        buttonText: "создать", buttonMods: "button__body--button__ellipse ", type: "button", link: true, href: "HTTPS://mock-adress.ru"
      },
    },
    footer_configuration: {
      send_to: "https://www.mock-adress/full-stack-development.ru",
      form_name: "subscribe",
      mods: "footer--pt-lp",
      info: [
        "Lorem ipsum dolor sit amet",
        "consectetur adipiscing elit aliquam",
        "eget nullam pellentesque aliquam ",
        "curabitur cociis`"
      ],
      lists: {
        menu1: {
          headline: "Navigation",
          navClass: "footer__navigation",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "About Us"},
            {link: "https://mock-adress/fsd.ru", text: "News"},
            {link: "https://mock-adress/fsd.ru", text: "Support"},
            {link: "https://mock-adress/fsd.ru", text: "Products"},
            ]
        },
        menu2: {
          headline: "About Us",
          navClass: "footer__aboutus",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "Who we are"},
            {link: "https://mock-adress/fsd.ru", text: "Our team"},
            {link: "https://mock-adress/fsd.ru", text: "Careers"},
            {link: "https://mock-adress/fsd.ru", text: "Investors"},
          ]
        },
        menu3: {
          headline: "Support",
          navClass: "footer__support",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "Documentation"},
            {link: "https://mock-adress/fsd.ru", text: "Community"},
            {link: "https://mock-adress/fsd.ru", text: "Get in Touch"},
          ]
        }
      },
      subscribe: {
        cta: "Subscribe to our newsletter",
        descript: "Receive our latest news and promotions in your inbox!"
      },
      subscription_text_field: {
        contClassMods: "none",
        inputClassMods: "subscription_text_field__input--width-correction",
        type: "Email",
        placeholder: "Your email address",
        name: "subscription_text_field",
        value: "",
      },
      copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved.",
    },
  })


  