include ../templates/doctype.pug
include ../utils/mixins.pug

-
  const cards_congiguration = {
    searchRoom: {
      mods: "",
      send_to: "https://www.mock-adress/full-stack-development.ru",
      form_name: "search_room",
    search_room_headline: {
      description: "Найдём номера под ваши пожелания",
    },


    double_date_dropdown: {
      inputDateDropdownContainer: {mods: 'input-date-dropdown-container_cards-margin-bottom'},
      inputDateDropdownDescriptionFirst:  {
        containerMods: "",
        contentMods: "",
        description: "Прибытие"
      } ,
      inputDateDropdownFirst: {
        contClassMods: "none",
        inputClassMods: "datepick-start",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
        id: 'start',
        buttonID: 'start-button'
      },
      inputDateDropdownDescriptionSecond: {
        containerMods: "",
        contentMods: "",
        description: "Выезд"
      },
      inputDateDropdownSecond: {
        contClassMods: "none",
        inputClassMods: "datepick-end",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
        id: 'end',
        buttonID: 'end-button'
      },
      calendar: {
          id: 'calendar-start'
        }
    },
    

      input_dropdown_guests: {
        containerMods: "input-dropdown-guests_margin-bottom-on-cards-page",
        properties: [["взрослый", 0], ["дети", 0], ["младенцы", 0]],
        controlsMods: "input-dropdown-guests__controls_closed",
        inputClassMods: "input-dropdown-guests__input--controls-closed ",
        type: "text",
        placeholder: "Сколько гостей",
        name: "input_dropdown_guests__input",
        value: "",
        resetMods: "input-dropdown-guests__button_reset_hidden"
      }, 
      button_wide: {
        buttonText: "подобрать номер",
        type: "submit"
      },
    },
    registration: {
      blockMods: "registration_horizontal-margin-auto",
      send_to: "https://www.mock-adress/full-stack-development.ru",
      form_name: "registration",
      registation_conf_headline: {
      description: "Регистрация аккаунта",
      mods: "component-headline__text_margin-bottom ",
    },
    name_text_field: {
      containerMods: "text-field__container_mb_9",
      contClassMods: "none",
      inputClassMods: "",
      type: "text",
      placeholder: "Имя",
      name: "firstName",
      value: "",
    },
    surname_text_field: {
      containerMods: "text-field__container_mb_9",
      contClassMods: "none",
      inputClassMods: "",
      type: "text",
      placeholder: "Фамилия",
      name: "secondName",
      value: "",
    },
    radio_buttons: {options: [["Мужчина", true], ["Женщина", false]], containerMods: "radio-buttons__container_margin-bottom"},
    masked_text_field_container: {

    },

    // Остановились здесь.
    masked_text_field_description: {
      containerMods: "input_description_container--padding-top-registration",
      contentMods: "",
      description: "дата рождения"
    },
    masked_text_field_state: {
      containerMods: "",
      contentMods: "input-description__content_font-weight_normal",
      description: "default"
    },
    masked_text_field: {
      contClassMods: "none",
      inputClassMods: "masked-text-field__input_vertical-padding_12",
      type: "text",
      placeholder: "ДД.ММ.ГГГГ",
      name: "masked_text_field",
      value: "",
    },
    auth_block_headline: {
      containerMods: "input-description__container_margin-top-registration",
      contentMods: "",
      description: "данные для входа в сервис"
    },

    email_text_field: {
      containerMods: "text-field__container_mb_10 ",
      contClassMods: "none",
      inputClassMods: "masked-text-field__input_vertical-padding_12",
      type: "text",
      placeholder: "Email",
      name: "Email",
      value: "",
    }, 
    password_text_field: {
      containerMods: "text-field__container_mb_8 ",
      contClassMods: "none",
      inputClassMods: "masked_text_field__input_vertical-padding_12",
      type: "text",
      placeholder: "Пароль",
      name: "password",
      value: "",
    },
      toggle:{
        descText: "Получать спецпредложения",
        labelMods: "toggle__label_mb_22"
      },
      checkout_button: {
        buttonText: "перейти к оплате",
        type: "submit"
      },
      button_submit_cont: {
        buttonContMods: "button-container_vertical-padding button-container_align-items_center",
      },
      button_submit_description: {
        containerMods: "input-description__container_mt_11px",
        contentMods: "input-description__content_description-for-buttons",
        description: "Уже есть аккаунт на Toxin"
      },
      button_submit: {
        buttonText: "Войти", buttonMods: "button__body_button_ellipse button__body_extra-padding",
        type: "button",
        link: true,
        href: "https://www.mock-adress/full-stack-development.ru/submit",
      },
    },
    authForm: {
      sendTo: "https://www.mock-adress/full-stack-development.ru",
      formName: "auth_form",
      mods: "",
      containerMods: "auth-form__container_margin-top",
      authFormHeadline: {
        description: "Войти",
        containerMods: "component-headline__container_margin-bottom ",
        mods: ""
      },
      nameTextField: {
        contClassMods: "none",
        inputClassMods: "text-field__input_pb-for-etf text-field_input_mb-fe",
        type: "text",
        placeholder: "Имя",
        name: "firstName",
        value: "",
      },
      surnameTextField: {
        contClassMods: "none",
        inputClassMods: "text-field__input_pb-for-etf text-field_input_mb-af-pi ",
        type: "text",
        placeholder: "Фамилия",
        name: "secondName",
        value: "",
      },
      maskedTextFieldContainer: {

      },
      maskedTextField: {
        contClassMods: "none",
        inputClassMods: "masked-text-field__input_margin-bottom",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "masked_text_field",
        value: "",
      },
      checkoutButton: {
        buttonText: "войти",
        link: true,
        href: 'https://www.mock-adress/full-stack-development.ru/createAccount'
      },
      buttonSubmitCont: {
        buttonContMods: "button-container_vertical-padding button-container_align-items_center",
      },
      buttonSubmitDescription: {
        containerMods: "input-description__container_mt_11px",
        contentMods: "input-description__content_description-for-buttons",
        description: "Нет аккаунта на Toxin?"
      },
      buttonSubmit: {
        buttonText: "создать", buttonMods: "button__body_button_ellipse ", type: "submit",
      },
    },
    costCalculator: {
      mods: "",
      sendTo: "",
      formName: "cost_calculator",
      roomInfo: {
        blockMods: "",
        overallMods: "",
        numberMods: "",
        numberSymbol: "№ ",
        numberText: "888",
        typeMods: "",
        typeText: "люкс",
        priceMods: "",
        costMods:"",
        costText: "9 990₽ ",
        periodMods: "",
        periodText: "&nbsp; в сутки",
      },
      doubleDateDropdown: {
        inputDateDropdownContainer: {mods: 'input-date-dropdown-container_cards-margin-bottom'},
        inputDateDropdownDescriptionFirst:  {
          containerMods: "",
          contentMods: "",
          description: "Прибытие"
        } ,
        inputDateDropdownFirst: {
          contClassMods: "none",
          inputClassMods: "",
          type: "text",
          placeholder: "19.08.2019",
          name: "input_date_dropdown_default",
          value: "",
          id: 'start-2',

        },
        inputDateDropdownDescriptionSecond: {
          containerMods: "",
          contentMods: "",
          description: "Выезд"
        },
        inputDateDropdownSecond: {
          contClassMods: "none",
          inputClassMods: "",
          type: "text",
          placeholder: "23.08.2019",
          name: "input_date_dropdown_default",
          value: "",
          id: 'end-2',

        },
        calendar: {
            id: 'calendar-start-2'
        }
      },
    
      inputDropdownGuests: {
        containerMods: "input-dropdown-guests__input_mb_8px ",
        properties: [["взрослый", 0], ["дети", 0], ["младенцы", 0]],
        controlsMods: "input-dropdown-guests__controls_closed",
        contClassMods: "input-dropdown-guests_margin-bottom-in-balance-component",
        inputClassMods: "input_dropdown_guests__input_controls_closed ",
        type: "text",
        placeholder: "Сколько гостей",
        name: "input_dropdown_guests__input",
        value: "3 гостя",
        resetMods: "input-dropdown-guests__button-reset_hidden"
      },
      balance: {
        blockMods: "",
        services: [["9 990₽ х 4 суток", false, "39 960₽"], ["Сбор за услуги: скидка 2 179₽", true, "0₽"], ["Сбор за дополнительные услуги", true, "300₽"]],
        feeMods: "",
        contMods: "",
        serviceMods: "",
        tooltipMods: "",
        contMods: "",
        totalMods: "",
        totalCostText: "Итого",
        sumText: "38 081₽",
      },
      bookButton: {
        buttonText: "Забронировать",
        type: 'submit'
      }
    },
    calendar: {

    }
  }


block title
  title cards
block logo
  +logo()
block content
  +cards(cards_congiguration)