include ../templates/doctype.pug
include ../utils/mixins.pug

-
  const cards_congiguration = {
    searchRoom: {
      mods: "",
      sendTo: "https://www.mock-adress/full-stack-development.ru",
      formName: "search_room",
    },

    registration: {
      sendTo: "https://www.mock-adress/full-stack-development.ru",
      formName: "registration",  
    },
    authForm: {
      sendTo: "https://www.mock-adress/full-stack-development.ru",
      formName: "auth_form",
      mods: "",
      containerMods: "auth-form__container_margin-top",
    },

    costCalculator: {
      mods: "",
      sendTo: "",
      formName: "cost_calculator",
    },
    calendar: {

    }
  }


block title
  title cards
block logo
  +logo()
block content
  +cards(cards_congiguration)