include ../templates/doctype.pug
include ../utils/mixins.pug

-
  let colorsAndTypeConfiguration = {
      rectDarkShade100:
      {
        backgroundColor: "dark-shade-100",
        marginBottom: true,
      },
      darkShade100Info: {
        name: "Dark Shade 100%",
        code: "#1F2041",
      },

      rectDarkShade75:
      {
        backgroundColor:"dark-shade-75",
        marginBottom: true,
      },

      darkShade75Info: {
        name: "Dark Shade 75%",
        code: "#1F2041",
      },

      rectDarkShade50:
      {
        backgroundColor:"dark-shade-50",
        marginBottom: true,
      },

      darkShade50Info: {
        name: "Dark Shade 50%",
        code: "#1F2041",
      },

      rectDarkShade25:
      {
        backgroundColor:"dark-shade-25",
        marginBottom: true,
      },
      darkShade25Info: {
        name: "Dark Shade 25%",
        code: "#1F2041",
      },

      rectDarkShade5:
      {
        backgroundColor: "dark-shade-5",
        marginBottom: true,
      },
      darkShade5Info: {
        name: "Dark Shade 5%",
        code: "#1F2041",
      },

      rectPurple:
      {
        backgroundColor:"purple",
        marginBottom: true,
      },
      purpleInfo: {
        name: "Purple",
        code: "#BC9CFF",
      },

      rectGreen:
      {
        backgroundColor:"green",
        marginBottom: true,
      },
      greenInfo: {
        name: "Green",
        code: "#6FCF97",
      },

      HTMLTagH1: {fontSize: "lg", tagName: "H1"},
      HTMLStyleH1: {
        containerMargin: true,
        fontSize: 'lg',
        negativeLetterSpacing: true,
        text: `This one is the sub-section or 
  widget title`
      },
      
      HTMLTagH2: {fontSize: "md", tagName: "H2"},
      HTMLStyleH2: {containerMargin: true, descriptionMargin: true, fontSize: "md", negativeLetterSpacing: true, text: `Next one is the item title inside
  widgets`},
      
      HTMLTagH3: {fontSize: "xs", tagName: "H3"},
      HTMLStyleH3: {containerMargin: true, fontSize: "xs", montserratBold: true, text: "THIS IS A LABEL OR CTA TEXT"},

      HTMLTagBody: {modificators: "sm", tagName: "Body"},
      HTMLStyleBody: {containerMargin: true, fontSize: "sm", montserratBold: true, darkShade75: true, text: `This is the body text which is used for most 
  of the design, like paragraphs, lists, etc.`},
  }

block title
  title colors and types
block logo
  +logo('logo_background-color_white')
block content
  +colors-and-types(colorsAndTypeConfiguration)
