include ../templates/doctype.pug
include ../utils/mixins.pug

-
  let colors_and_type_configuration = {
      rect_dark_shade_100:
      {
        background_color: "rect__body--dark_shade-100",
        containerMods: "rect__container--margin-bottom",
      },
      dark_shade_100_info: {
        name: "Dark Shade 100%",
        code: "#1F2041",
      },


      rect_dark_shade_75:
      {
        background_color:"rect__body--dark_shade-75",
        containerMods: "rect__container--margin-bottom",
      },

      dark_shade_75_info: {
        name: "Dark Shade 75%",
        code: "#1F2041",
      },

      rect_dark_shade_50:
      {
        background_color:"rect__body--dark_shade-50",
        containerMods: "rect__container--margin-bottom",
      },

      dark_shade_50_info: {
        name: "Dark Shade 50%",
        code: "#1F2041",
      },

      rect_dark_shade_25:
      {
        background_color:"rect__body--dark_shade-25",
        containerMods: "rect__container--margin-bottom",
      },
      dark_shade_25_info: {
        name: "Dark Shade 25%",
        code: "#1F2041",
      },

      rect_dark_shade_5:
      {
        background_color: "rect__body--dark_shade-5",
        containerMods: "rect__container--margin-bottom",
      },
      dark_shade_5_info: {
        name: "Dark Shade 5%",
        code: "#1F2041",
      },

      rect_purple:
      {
        background_color:"rect__body--purple",
        containerMods: "rect__container--margin-bottom",
      },
      purple_info: {
        name: "Purple",
        code: "#BC9CFF",
      },

      rect_green:
      {
        background_color:"rect__body--green",
        containerMods: "rect__container--margin-bottom",
      },
      green_info: {
        name: "Green",
        code: "#6FCF97",
      },

      HTMLTagH1: {modificators: "HTMLtag__character--font-size-lg", tagName: "H1"},
      HTMLStyleH1: {
        containerMods: 'HTMLstyle__container--margin',
        modificators: "HTMLstyle__description--font-size-lg HTMLstyle__description--negative-letter-spacing", 
        text: `This one is the sub-section or 
  widget title`
      },
      
      HTMLTagH2: {modificators: "HTMLtag__character--font-size-md", tagName: "H2"},
      HTMLStyleH2: {containerMods: 'HTMLstyle__container--margin',modificators: "HTMLstyle__description--font-size-md HTMLstyle__description--margin-top-and-left HTMLstyle__description--negative-letter-spacing HTMLstyle__description--md-margin", text: `Next one is the item title inside
  widgets`},
      
      HTMLTagH3: {modificators: "HTMLtag__character--font-size-xs", tagName: "H3"},
      HTMLStyleH3: {containerMods: 'HTMLstyle__container--margin', modificators: "HTMLstyle__description--font-size-xs HTMLstyle__description--font-family-montserrat-bold", text: "THIS IS A LABEL OR CTA TEXT"},

      HTMLTagBody: {modificators: "HTMLtag__character--font-size-sm", tagName: "Body"},
      HTMLStyleBody: {containerMods: 'HTMLstyle__container--margin', modificators: "HTMLstyle__description--font-size-sm HTMLstyle__description--color-dark-shade-75 HTMLstyle__description--font-family-montserrat", text: `This is the body text which is used for most 
  of the design, like paragraphs, lists, etc.`},
  }

block title
  title colors and types
block logo
  +logo('logo--background-color_white')
block content
  +colors-and-types(colors_and_type_configuration)
