include ../templates/doctype.pug
include ../utils/mixins.pug

-
  let colorsAndTypeConfiguration = {
      rectDarkShade100:
      {
        backgroundColor: "rect__body_dark-shade_100",
        containerMods: "rect__container_margin-bottom",
      },
      darkShade100Info: {
        name: "Dark Shade 100%",
        code: "#1F2041",
      },

      rectDarkShade75:
      {
        backgroundColor:"rect__body_dark-shade_75",
        containerMods: "rect__container_margin-bottom",
      },

      darkShade75Info: {
        name: "Dark Shade 75%",
        code: "#1F2041",
      },

      rectDarkShade50:
      {
        backgroundColor:"rect__body_dark-shade_50",
        containerMods: "rect__container_margin-bottom",
      },

      darkShade50Info: {
        name: "Dark Shade 50%",
        code: "#1F2041",
      },

      rectDarkShade25:
      {
        backgroundColor:"rect__body_dark-shade_25",
        containerMods: "rect__container_margin-bottom",
      },
      darkShade25Info: {
        name: "Dark Shade 25%",
        code: "#1F2041",
      },

      rectDarkShade5:
      {
        backgroundColor: "rect__body_dark-shade_5",
        containerMods: "rect__container_margin-bottom",
      },
      darkShade5Info: {
        name: "Dark Shade 5%",
        code: "#1F2041",
      },

      rectPurple:
      {
        backgroundColor:"rect__body_bgColor_purple",
        containerMods: "rect__container_margin-bottom",
      },
      purpleInfo: {
        name: "Purple",
        code: "#BC9CFF",
      },

      rectGreen:
      {
        backgroundColor:"rect__body_bgColor_green",
        containerMods: "rect__container_margin-bottom",
      },
      greenInfo: {
        name: "Green",
        code: "#6FCF97",
      },

      HTMLTagH1: {modificators: "HTMLtag__character_font-size_lg", tagName: "H1"},
      HTMLStyleH1: {
        containerMods: 'HTMLstyle__container_margin',
        modificators: "HTMLstyle__description_font-size_lg HTMLstyle__description_negative-letter-spacing", 
        text: `This one is the sub-section or 
  widget title`
      },
      
      HTMLTagH2: {modificators: "HTMLtag__character_font-size_md", tagName: "H2"},
      HTMLStyleH2: {containerMods: 'HTMLstyle__container_margin', modificators: "HTMLstyle__description_font-size_md HTMLstyle__description_margin-top-and-left HTMLstyle__description_negative-letter-spacing", text: `Next one is the item title inside
  widgets`},
      
      HTMLTagH3: {modificators: "HTMLtag__character_font-size_xs", tagName: "H3"},
      HTMLStyleH3: {containerMods: 'HTMLstyle__container_margin', modificators: "HTMLstyle__description_font-size_xs HTMLstyle__description_font-family_montserrat-bold", text: "THIS IS A LABEL OR CTA TEXT"},

      HTMLTagBody: {modificators: "HTMLtag__character_font-size_sm", tagName: "Body"},
      HTMLStyleBody: {containerMods: 'HTMLstyle__container_margin', modificators: "HTMLstyle__description_font-size_sm HTMLstyle__description_color-dark-shade_75 HTMLstyle__description_font-family_montserrat", text: `This is the body text which is used for most 
  of the design, like paragraphs, lists, etc.`},
  }

block title
  title colors and types
block logo
  +logo('logo_background-color_white')
block content
  +colors-and-types(colorsAndTypeConfiguration)
