include ../templates/doctype.pug
include ../utils/mixins.pug

-
 const filterPageConfiguration = {
    headerRegisterConfiguration: {
      containerVerticalPadding: true,
      items: [
        {value: 'О нас', active: true, submenu: false, marginRight: true },
        {value: 'Услуги', active: false, submenu: true, marginRight: true },
        {value: 'Вакансии', active: false, submenu: false, marginRight: true },
        {value: 'Новости', active: false, submenu: false, marginRight: true },
        {value: 'Соглашения', active: false, submenu: true, marginRight: true },
        ],
        buttonLogin: {
        buttonText: 'Войти', 
        buttonType: 'transparent',
        marginRight: true,
        link: true,
        href: 'https://mock-address.ru/login.php'
      },
      buttonRegister: {
        buttonText: 'Зарегистрироваться',
        buttonType: 'gradient',
        link: true,
        href: 'https://mock-address.ru/register.php'
      },
    },

    inputFilterDateDropdownDescription: {
        contMT: 29,
        description: 'Даты пребывания в отеле'
      },
      
      inputFilterDateDropdown: {
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '19 авг - 23 авг',
        calendarID: 'input-filter-date-dropdown__calendar'
      },

      inputDropdownGuestsDescription: {contMT: 20, description: 'Гости'},
      inputDropdownGuests: {
        properties: [['взрослый', 0], ['дети', 0], ['младенцы', 0]],
        type: 'text',
        placeholder: 'Сколько гостей',
        name: 'input_dropdown_guests__input',
        value: '',
      }, 

      slider: {
        id: 'slider',
        containerPaddingTop: 30,
        description: 'Диапазон цены',
        rangeSelected: '5 000₽ - 10 000₽',
        slider__range: '',
        headerMods: ''
      },

      checkboxButtons: {
        containerMarginTop: 56,
        descMods: '',
        description: 'checkbox buttons', 
        items:['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'], 
      },

      richCheckboxButtons: {
        mods: '',
        containerMarginTop: 29,
        description: 'Доступность',
        items:[['Широкий коридор', 'Ширина коридоров в номере не менее 91 см.'], ['Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.']],
      },

      inputDropdownRoomQuantityDescription: {
        contMT: 30,
        contentMods: '',
        description: 'Удобства номера'
      },
      inputDropdownRoomQuantity: {
        properties: [['спальни', 2], ['кровати',2], ['ванные комнаты', 0]],
        type: 'text',
        placeholder: 'Выберите удобства',
        name: 'input_dropdown_room_quantity',
        value: '2 спальни, 2 кровати...',
      },

      expandableCheckboxList: {
        mods: '',
        paddingTopSize: 16, 
        items: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор' , 'Шампунь' , 'Телевизор', 'Шампунь'],
        description: 'expandable checkbox list'
      },
      roomsHeadline: {
        textAlign: 'center',
        maxWidth: 'auto',
        marginTop: 29,
        marginBottom: 20,
        mods: 'component-headline__text_vertical-margin',
        description: 'Номера, которые мы для вас подобрали'
      },
      rooms: [
        { marginBottom: 27, rating: 5, carouselID: 'carousel-1', controlsID: 'controls-1', dotsID: 'dots-1', imageOne: '1',  imageTwo: '2', imageThree: '3', imageFour: '4', specialChar: '№', roomNumber: '888', status:'люкс', price: '9 990₽ ', period: 'в сутки', ammount: 145},
        { marginBottom: 27, rating: 4, carouselID: 'carousel-2', controlsID: 'controls-2', dotsID: 'dots-2', imageOne: '2', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '840', status:'', price: '9 990₽ ', period: 'в сутки', ammount: 65},
        { marginBottom: 27, rating: 3,  carouselID: 'carousel-3', controlsID: 'controls-3', dotsID: 'dots-3', imageOne: '3', imageTwo: '4', imageThree: '5', imageFour: '6', specialChar: '№', roomNumber: '980', status:'люкс', price: '8 500₽ ', period: 'в сутки', ammount: 35},
        { marginBottom: 27, rating: 5,  carouselID: 'carousel-4', controlsID: 'controls-4', dotsID: 'dots-4', imageOne: '4', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '856', status:'', price: '7 300₽ ', period: 'в сутки', ammount: 19},
        { marginBottom: 27, rating: 4,  carouselID: 'carousel-5', controlsID: 'controls-5', dotsID: 'dots-5', imageOne: '5', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '740', status:'', price: '6 000₽ ', period: 'в сутки', ammount: 44},
        { marginBottom: 27, rating: 3, carouselID: 'carousel-6', controlsID: 'controls-6', dotsID: 'dots-6', imageOne: '6', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '982', status:'', price: '5 800₽ ', period: 'в сутки', ammount: 56},
        { marginBottom: 27, rating: 5,  carouselID: 'carousel-7', controlsID: 'controls-7', dotsID: 'dots-7', imageOne: '7', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '678', status:'', price: '5 500₽ ', period: 'в сутки', ammount: 45},
        { marginBottom: 27, rating: 4,  carouselID: 'carousel-8', controlsID: 'controls-8', dotsID: 'dots-8', imageOne: '8', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '450', status:'', price: '5 300₽ ', period: 'в сутки', ammount: 39},
        { marginBottom: 27, rating: 3,  carouselID: 'carousel-9', controlsID: 'controls-9', dotsID: 'dots-9', imageOne: '9', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '350', status:'', price: '5 000₽ ', period: 'в сутки', ammount: 77},
        { marginBottom: 27, rating: 5, carouselID: 'carousel-10', controlsID: 'controls-10', dotsID: 'dots-10', imageOne: '10', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '666', status:'', price: '5 000₽ ', period: 'в сутки', ammount: 25},
        { marginBottom: 27, rating: 3, carouselID: 'carousel-11', controlsID: 'controls-11', dotsID: 'dots-11', imageOne: '11', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '444', status:'', price: '5 000₽ ', period: 'в сутки', ammount: 15},
        { marginBottom: 27, rating: 3, carouselID: 'carousel-12', controlsID: 'controls-12', dotsID: 'dots-12', imageOne: '12', imageTwo: '3', imageThree: '4', imageFour: '5', specialChar: '№', roomNumber: '352', status:'', price: '5 000₽ ', period: 'в сутки', ammount: 55},
      ],

      pagination: {
        list: [[true, 1], [false, 2], [false, 3], [false, '...'], [false, 15]],
        description: '1 – 12 из 100+ вариантов аренды'
      },
    footerConfiguration: {
      sendTo: 'https://www.mock-adress/full-stack-development.ru',
      formName: 'subscribe',
      mods: '',
      info: [
        'Бронирование номеров в лучшем',
        'отеле 2019 года по версии',
        'ассоциации «‎Отельные взгляды».',
      ],
      navContMr: true,
      lists: {
        menu1: {
          headline: 'Навигация', 
          navClass: 'footer__navigation ',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О нас'},
            {link: 'https://mock-adress/fsd.ru', text: 'Новости'},
            {link: 'https://mock-adress/fsd.ru', text: 'Служба поддержки'},
            {link: 'https://mock-adress/fsd.ru', text: 'Услуги'},
            ]
        },
        menu2: {
          headline: 'О нас',
          navClass: 'footer__aboutus',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О сервисе'},
            {link: 'https://mock-adress/fsd.ru', text: 'Наша команда'},
            {link: 'https://mock-adress/fsd.ru', text: 'Вакансии'},
            {link: 'https://mock-adress/fsd.ru', text: 'Инвесторы'},
          ]
        },
        menu3: {
          headline: 'Служба поддержки',
          navClass: 'footer__support',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'Соглашения'},
            {link: 'https://mock-adress/fsd.ru', text: 'Сообщества'},
            {link: 'https://mock-adress/fsd.ru', text: 'Связь с нами'},
          ]
        }
      },
      subscribe: {
        cta: 'Подписка',
        descript: ['Получайте специальные', 'предложения и новости сервиса']
      },
      subscriptionTextField: {
        containerMarginTop: 24,
        inputWidth: 260,
        type: 'Email',
        placeholder: 'Email',
        name: 'subscription_text_field',
        value: '',
      },
      copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
    },
  }

block title
  title registration
block logo
block content
  +filter-page(filterPageConfiguration)