include ../templates/doctype.pug
include ../utils/mixins.pug

block title
  title form elements
block logo
  +logo('logo--background-color_white')
block content 
  +form-elements(form_elements_configuration)