include ../templates/doctype.pug
include ../utils/mixins.pug

-
  let formElementsConfiguration = {

    UIColumnOne: {
      gridOne: {mods: "grid_margin-right-for-first-row"},


      UIGuestDropdown: {
        
      },

      UITextField: {
        emailTextFieldContainer: {
          blockMods: ''
        },
        emailTextFieldDescription: {
          containerMods: "",
          contentMods: "",
          description: "text field "
        },
        emailTextFieldState: {
          containerMods: "",
          contentMods: "input_description__content--font-weight-normal",
          description: "default"
        },
        emailTextField: {
          inputMarginBottom: 11,
          hovered: true,
          type: "email",
          placeholder: "Email ",
          name: "email",
          value: "",
        },
      },
      

      


      UIMaskedTextField: {
        maskedTextFieldContainer: {
          mods: "input_description_container--padding-top",
          containerMods: "input_description_container__container--padding-top"
        },
        maskedTextFieldDescription: {
          containerMods: "",
          contentMods: "",
          description: "masked text field"
        },
        maskedTextFieldState: {
          containerMods: "",
          contentMods: "input_description__content--font-weight-normal",
          description: "default"
        },
        maskedTextField: {
          padding: false,
          margin: false,
          type: "text",
          placeholder: "ДД.ММ.ГГГГ",
          name: "masked_text_field",
          value: "",
        },
      },
     
      
      doubleDateDropdown: {
        padding_top: 35,
        inputDateDropdownContainer: {
          marginTop: 35,
        },
        inputDateDropdownDescriptionFirst: {
          containerMods: "",
          contentMods: "",
          description: "date dropdown"
      },

        inputDateDropdownFirst: {
          type: "text",
          placeholder: "ДД.ММ.ГГГГ",
          name: "input_date_dropdown_default",
          value: "",
          id: 'start',
          buttonID: 'start-button'
        },

        inputDateDropdownDescriptionSecond: {
          containerMods: "",
          contentMods: "",
          description: "date dropdown"
        },

        inputDateDropdownSecond: {
          type: "text",
          placeholder: "ДД.ММ.ГГГГ",
          name: "input_date_dropdown_default",
          value: "19.08.2019",
          id: 'end',
          buttonID: 'end-button'
        },
        calendar: {
          id: 'calendar-start'
        }
      },

      UIFilterDateDropdown: {
        inputFilterDateDropdownDescription: {
          containerMods: "input-description_margin-top-for-filter-date-dropdown-form-elements",
          contentMods: "",
          description: "filter date dropdown"
        },

        inputFilterDateDropdown: {
          contClassMods: "none",
          inputClassMods: "",
          type: "text",
          placeholder: "ДД.ММ.ГГГГ",
          name: "input_date_dropdown_default",
          value: "19 авг - 23 авг",
          calendarID: 'input-filter-date-dropdown-calendar'
        },
      },

      UISubscriptionTextField: {
        subscriptionTextFieldDescription: {
          description: "subscription text field"
        },
        subscriptionTextField: {
          contClassMods: "none",
          inputClassMods: "",
          type: "text",
          placeholder: "Email",
          name: "subscription_text_field",
          value: "",
        },
      },

      UIRoomQuantityDropdown: {
        inputAndDescriptionWrapperRq: {mods: "input-and-description-wrapper_width_md "},
        inputDropdownRoomQuantityContainer: {
          mods: "input-description-container__container_padding-top-for-room-quantity",
        },
        inputDropdownRoomQuantityDescription: {
          containerMods: "",
          contentMods: "",
          description: "dropdown"
        },
        inputDropdownRoomQuantityState: {
          containerMods: "",
          contentMods: "input-description__content_font-weight_normal input_description__content_margins ",
          description: "default"
        },
        inputDropdownRoomQuantity: {
          properties: [["спальни", 2], ["кровати",2], ["ванные комнаты", 0], ],
          showControls: false,
          type: "text",
          placeholder: "Выберите удобства",
          name: "input_dropdown_room_quantity",
          value: "2 спальни, 2 кровати...",
        },
      },


      expandableCheckboxList: {
        paddingTopSize: 40,
        items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор" , "Шампунь" , "Телевизор", "Шампунь", ],
        description: "expandable checkbox list"
      },

      benefitSmile: {paddingTopPx: 22, backgroundImage: "smile", nameText: "Комфорт", propText: "Шумопоглощающие стены"},
      benefitBulding:  {paddingTopPx: 22, backgroundImage: "building", nameText: "Удобство", propText: "Окно в каждой из спален"},
    },

    UIColumnTwo: {
      gridTwo: {mods: "grid_margin-right-for-second-row grid_form-elements-pp-padding-top"},
      checkboxButtons: {description: "checkbox buttons", items:["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"]},
      inputDescriptionRadioButtons: {containerMods: "input_description__container--vertical-padding-near-radio-buttons",contentMods: "", description: "radio buttons"},
      radioButtons: {options: [["Мужчина", true], ["Женщина", false]]},

      inputDescriptionToggle: {containerMods: "input_description__contatiner--vertical-padding-near-toggle",contentMods: "", description: "toggle"},
      toggle: { containerMarginBottom: 22, descText: "Получать спецпредложения" },



      
      inputDescriptionLikeButton: {containerMods: "input_description__container--vertical-padding-near-like-button",contentMods: "", description: "like button"},
      likeButtonContainer: {},
      likeButtonOne: {count: 2},


      inputDescriptionRateButton: {containerMods: "input-description__container_vertical-padding-near-rate-button",contentMods: "", description: "rate button"},

      
      rateButtonOne: {checkboxes: [1,2,3,4,5], rating: 4},
      

      inputDescriptionIdp: {containerMods: "input-description__container_pp-guest-dropdown",contentMods: "", description: "dropdown"},


      inputDropdownGuests: {
        properties: [["взрослый", 0], ["дети", 0], ["младенцы", 0]],
        type: "text",
        placeholder: "Сколько гостей",
        name: "input_dropdown_guests__input",
        value: "",
        controlsOpened: true,
      }, 

      richCheckboxButtons: {
        description: "rich checkbox buttons",
        items:[["Широкий коридор", "Ширина коридоров в номере не менее 91 см."], ["Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера."]],
      },
    },

    UIColumnThree: {
      gridThree:{mods: "grid_padding-top-for-third-row"},
      slider: {
        id: 'slider',
        description: "Range Slider",
        rangeSelected: "5 000₽ - 10 000₽",
        slider__range: "",
      },

      inputDescriptionButtons: {containerMods: "input_description__container_vertical-padding-buttons-block",contentMods: "", description: "buttons"},
      buttonContainerOne: {buttonContMods: "button-container_md"},
      buttonGradient: {buttonText: "click me", buttonMods: "button__body_button_ellipse button__body_background-linear-gradient_purple", type: "button"},
      buttonGradientChecked: {buttonText: "click me", buttonMods: "button__body_button_ellipse button__body_button-ellipse-active button__body_background-linear-gradient_purple  button__body_background-linear-gradient_purple-active", type: "button"},

      buttonContainerTwo: {buttonContMods: "button-container_md"},
      buttonTransparent: {buttonText: "click me", buttonMods: "button__body_button_ellipse", type: "button"},
      buttonTransarentChecked: {buttonText: "click me", buttonMods: "button__body_button_ellipse button__body_button-ellipse-active", type: "button"},
        
      buttonContainerThree: {buttonContMods: "button-container_sm"},
      buttonText: {buttonText: "click me", type: "button"},
      buttonTextChecked: {buttonText: "click me", buttonMods: "button__body_active", type: "button"},

      buttonWide: {contMods: "button_wide_negative-margin-top", buttonText: "перейти к оплате", type: "button"},


      inputDescriptionPagination: {containerMods: "input-description__container_vertical-margin-pagination",contentMods: "", description: "pagination"},
      pagination: {
        list: [[true, 1], [false, 2], [false, 3], [false, "..."], [false, 15]],
        description: "1 – 12 из 100+ вариантов аренды"
      },


      bulletList: {
        containerMods: "bullet-list__container_padding-top",
        descMods: "",
        description: "bullet list",
        items: ["Нельзя с питомцами", "Без вечеринок и мероприятий",
        "Время прибытия — после 13:00, а выезд до 12:00", ]
      },
    },

    UIColumnFour: {
      gridFour: { mods: "grid_position-for-review" },
      review: {
        image: "review__photo_background-image_man",
        name: "Мурад Сафронов",
        date: "5 дней назад",
        text: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
        И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
        не жаловался из соседей.`
      }
    }
  }

block title
  title form elements
block logo
  +logo('logo--background-color_white')
block content 
  +form-elements(formElementsConfiguration)