include ../templates/doctype.pug
include ../utils/mixins.pug

-
  let formElementsConfiguration = {

    UIColumnOne: {
      gridOne: {mods: "grid_margin-right-for-first-row"},

      UITextField: {
        emailTextFieldContainer: {
          blockMods: ''
        },
        emailTextFieldDescription: {
          containerMods: "",
          contentMods: "",
          description: "text field "
        },
        emailTextFieldState: {
          containerMods: "",
          contentMods: "input_description__content--font-weight-normal",
          description: "default"
        },
        emailTextField: {
          contClassMods: "none",
          inputClassMods: "text-field__input--pb-for-etf",
          type: "email",
          placeholder: "Email ",
          name: "email",
          value: "",
        },
      },

      UITextFieldHovered: {
        emailTextFieldContainer: {
          mods: "",
          containerMods: "input_description_container__container--padding-top"
        },
        emailTextFieldDescription: {
            containerMods: "",
            contentMods: "",
            description: "text field "
          },
        emailTextFieldState: {
          containerMods: "",
          contentMods: "input_description__content--font-weight-normal input_description__content--margins",
          description: "hover / focus"
        },
        emailTextField: {
          contClassMods: "none",
          inputClassMods: "text-field__input--hovered",
          type: "email",
          placeholder: "Email",
          name: "email-hovered",
          value: "This is pretty awesome",
        },
      },
      

      UIGuestDropdownClosed: {
        guestDropdownContainer: {
          mods: "",
          containerMods: "input_description_container__container--padding-top"
        },
        guestDropdownDescription: {
          containerMods: "",
          contentMods: "",
          description: "dropdown"
        },
        guestDropdownState: {
          containerMods: "",
          contentMods: "input_description__content--font-weight-normal input_description__content--margins",
          description: "default"
        },
        guestDropdownDefault: {
          contClassMods: "none",
          inputClassMods: "",
          type: "text",
          placeholder: "Сколько гостей",
          name: "guest_dropdown_default",
          value: "",
        },
      },

      UIMaskedTextField: {
        maskedTextFieldContainer: {
          mods: "input_description_container--padding-top",
          containerMods: "input_description_container__container--padding-top"
        },
        maskedTextFieldDescription: {
          containerMods: "",
          contentMods: "",
          description: "masked text field"
        },
        maskedTextFieldState: {
          containerMods: "",
          contentMods: "input_description__content--font-weight-normal",
          description: "default"
        },
        maskedTextField: {
          contClassMods: "none",
          inputClassMods: "masked-text-field-datepicker",
          type: "text",
          placeholder: "ДД.ММ.ГГГГ",
          name: "masked_text_field",
          value: "",
        },
      },
     
      
      doubleDateDropdown: {
        inputDateDropdownContainer: {mods: "", containerMods: "input-date-dropdown-container_padding-top"},
        inputDateDropdownDescriptionFirst: {
          containerMods: "",
          contentMods: "",
          description: "date dropdown"
      },
    

        inputDateDropdownFirst: {
          contClassMods: "none",
          inputClassMods: "",
          type: "text",
          placeholder: "ДД.ММ.ГГГГ",
          name: "input_date_dropdown_default",
          value: "",
          id: 'start',
          buttonID: 'start-button'
        },

        inputDateDropdownDescriptionSecond: {
          containerMods: "",
          contentMods: "",
          description: "date dropdown"
        },

        inputDateDropdownSecond: {
          contClassMods: "none",
          inputClassMods: "",
          type: "text",
          placeholder: "ДД.ММ.ГГГГ",
          name: "input_date_dropdown_default",
          value: "19.08.2019",
          id: 'end',
          buttonID: 'end-button'
        },
        calendar: {
          id: 'calendar-start'
        }
      },

      UIFilterDateDropdown: {
        inputFilterDateDropdownDescription: {
          containerMods: "input-description_margin-top-for-filter-date-dropdown-form-elements",
          contentMods: "",
          description: "filter date dropdown"
        },

        inputFilterDateDropdown: {
          contClassMods: "none",
          inputClassMods: "",
          type: "text",
          placeholder: "ДД.ММ.ГГГГ",
          name: "input_date_dropdown_default",
          value: "19 авг - 23 авг",
          calendarID: 'input-filter-date-dropdown-calendar'
        },
      },

      UISubscriptionTextField: {
        subscriptionTextFieldDescription: {
          containerMods: "input-description_padding-top-for-subscription-text-field",
          contentMods: "",
          description: "subscription text field"
        },
        subscriptionTextField: {
          contClassMods: "none",
          inputClassMods: "",
          type: "text",
          placeholder: "Email",
          name: "subscription_text_field",
          value: "",
        },
      },

      UIRoomQuantityDropdownClosed: {
        inputAndDescriptionWrapperRq: {mods: "input-and-description-wrapper_width_md "},
        inputDropdownRoomQuantityContainer: {
          mods: "input-description-container__container_padding-top-for-room-quantity",
        },
        inputDropdownRoomQuantityDescription: {
          containerMods: "",
          contentMods: "",
          description: "dropdown"
        },
        inputDropdownRoomQuantityState: {
          containerMods: "",
          contentMods: "input-description__content_font-weight_normal input_description__content_margins ",
          description: "default"
        },
        inputDropdownRoomQuantity: {
          properties: [["спальни", 2], ["кровати",2], ["ванные комнаты", 0], ],
          controlsMods: "dropdown-room-quantity__controls_closed",
          contClassMods: "",
          inputClassMods: "",
          type: "text",
          placeholder: "Выберите удобства",
          name: "input_dropdown_room_quantity",
          value: "2 спальни, 2 кровати...",
        },
      },

      UIRoomQuantityDropdownOpened: {
        inputAndDescriptionWrapperRq: {mods: "input-and-description-wrapper_width_md"},
        inputDropdownRoomQuantityContainer: {
          mods: "",
          containerMods: "input-description-container__container_padding-top-for-room-quantity-expanded"
        },
        inputDropdownRoomQuantityDescription: {
          containerMods: "",
          contentMods: "",
          description: "dropdown"
        },
        inputDropdownRoomQuantityState: {
          containerMods: "",
          contentMods: "input-description__content_font-weight_normal input_description__content--_weight-regular-expanded",
          description: "expanded"
        },
        inputDropdownRoomQuantity: {
          properties: [["спальни", 2], ["кровати",2], ["ванные комнаты", 0], ],
          controlsMods: "",
          contClassMods: "",
          inputClassMods: "dropdown_room_quantity__input--controls-opened ",
          type: "text",
          placeholder: "Выберите удобства",
          name: "input_dropdown_room_quantity",
          value: "2 спальни, 2 кровати...",
        }, 
      },


      expandableCheckboxList: {
        mods: "expandable-checkbox-list_padding-top",
        items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор" , "Шампунь" , "Телевизор", "Шампунь", ],
        description: "expandable checkbox list"
      },

      expandableCheckboxListOpened: {
        mods: "expandable-checkbox-list_opened-its-padding-top",
        items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор" , "Шампунь" , "Телевизор", "Шампунь", ],
        description: "expandable checkbox list",
        buttonMods: "expandable-checkbox-list__button-open_opened",
        listMods: "expandable-checkbox-list__list_opened"
      },
      benefitSmile: {contMods: "benefit_pading-top", imageMods: "benefit__image_background_smile", nameText: "Комфорт", propText: "Шумопоглощающие стены"},
      benefitBulding:  {contMods: "benefit_pading-top", imageMods: "benefit__image_background_building", nameText: "Удобство", propText: "Окно в каждой из спален"},
    },

    UIColumnTwo: {
      gridTwo: {mods: "grid_margin-right-for-second-row grid_form-elements-pp-padding-top"},
      checkboxButtons: {description: "checkbox buttons", items:["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"]},
      inputDescriptionRadioButtons: {containerMods: "input_description__container--vertical-padding-near-radio-buttons",contentMods: "", description: "radio buttons"},
      radioButtons: {options: [["Мужчина", true], ["Женщина", false]]},

      inputDescriptionToggle: {containerMods: "input_description__contatiner--vertical-padding-near-toggle",contentMods: "", description: "toggle"},
      toggleChecked: {checked: true, descText: "Получать спецпредложения", labelMods: "toggle__label--mb"},
      toggle: {descText: "Получать спецпредложения"},



      
      inputDescriptionLikeButton: {containerMods: "input_description__container--vertical-padding-near-like-button",contentMods: "", description: "like button"},
      likeButtonContainer: {},
      likeButtonOne: {count: 2},
      likeButtonTwo: {buttonMods: "like-button__add_pressed", counterMods: "like-button__counter_button-pressed",count: 12},


      inputDescriptionRateButton: {containerMods: "input-description__container_vertical-padding-near-rate-button",contentMods: "", description: "rate button"},

      
      rateButtonOne: {checkboxes: [1,2,3,4,5], rating: 4},
      rateButtonTwo: {checkboxes: [1,2,3,4,5], rating: 5},

      inputDescriptionIdp: {containerMods: "input-description__container_pp-guest-dropdown",contentMods: "", description: "dropdown"},


      inputDropdownGuests: {
        properties: [["взрослый", 0], ["дети", 0], ["младенцы", 0]],
        controlsMods: "",
        contClassMods: "",
        inputClassMods: "input_dropdown_guests__input--controls-opened",
        type: "text",
        placeholder: "Сколько гостей",
        name: "input_dropdown_guests__input",
        value: "",
        resetMods: "input-dropdown-guests__button-reset_hidden"
      }, 

      richCheckboxButtons: {
        containerMods: "rich-checkbox-buttons__container_padding-top",
        mods: "",
        description: "rich checkbox buttons",
        items:[["Широкий коридор", "Ширина коридоров в номере не менее 91 см."], ["Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера."]],
      },
    },

    UIColumnThree: {
      gridThree:{mods: "grid_padding-top-for-third-row"},
      slider: {
        id: 'slider',
        description: "Range Slider",
        rangeSelected: "5 000₽ - 10 000₽",
        slider__range: "",
      },

      inputDescriptionButtons: {containerMods: "input_description__container_vertical-padding-buttons-block",contentMods: "", description: "buttons"},
      buttonContainerOne: {buttonContMods: "button-container_md"},
      buttonGradient: {buttonText: "click me", buttonMods: "button__body_button_ellipse button__body_background-linear-gradient_purple", type: "button"},
      buttonGradientChecked: {buttonText: "click me", buttonMods: "button__body_button_ellipse button__body_button-ellipse-active button__body_background-linear-gradient_purple  button__body_background-linear-gradient_purple-active", type: "button"},

      buttonContainerTwo: {buttonContMods: "button-container_md"},
      buttonTransparent: {buttonText: "click me", buttonMods: "button__body_button_ellipse", type: "button"},
      buttonTransarentChecked: {buttonText: "click me", buttonMods: "button__body_button_ellipse button__body_button-ellipse-active", type: "button"},
        
      buttonContainerThree: {buttonContMods: "button-container_sm"},
      buttonText: {buttonText: "click me", type: "button"},
      buttonTextChecked: {buttonText: "click me", buttonMods: "button__body_active", type: "button"},

      buttonWide: {contMods: "button_wide_negative-margin-top", buttonText: "перейти к оплате", type: "button"},


      inputDescriptionPagination: {containerMods: "input-description__container_vertical-margin-pagination",contentMods: "", description: "pagination"},
      pagination: {
        list: [[true, 1], [false, 2], [false, 3], [false, "..."], [false, 15]],
        description: "1 – 12 из 100+ вариантов аренды"
      },

      inputDescriptionIdgSelected: {containerMods: "input_description__container--padding-top-guest-dropdown-block",contentMods: "", description: "dropdown"},


      inputDropdownGuestsSelected: {
        properties: [["взрослые", 2], ["дети", 1], ["младенцы", 0],],
        controlsMods: "",
        contClassMods: "",
        inputClassMods: "input-dropdown-guests__input_controls_opened",
        type: "text",
        placeholder: "3 гостя",
        name: "input_dropdown_guests__input",
        value: "",
        resetMods: ""
      },
      bulletList: {
        containerMods: "bullet-list__container_padding-top",
        descMods: "",
        description: "bullet list",
        items: ["Нельзя с питомцами", "Без вечеринок и мероприятий",
        "Время прибытия — после 13:00, а выезд до 12:00", ]
      },
    },

    UIColumnFour: {
      gridFour: { mods: "grid_position-for-review" },
      review: {
        image: "review__photo_background-image_man",
        name: "Мурад Сафронов",
        date: "5 дней назад",
        text: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
        И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
        не жаловался из соседей.`
      }
    }
  }

block title
  title form elements
block logo
  +logo('logo--background-color_white')
block content 
  +form-elements(formElementsConfiguration)