include ../templates/doctype.pug
include ../utils/mixins.pug
-
  let headersAndFootersConfiguration = {
    headerRegister: {
      containerMarginTop: 67, 
      containerMarginBottom: 39,
      containerVerticalPadding: 8, 
      items: [
        {value: "Home", active: true, submenu: false},
        {value: "About Us", active: false, submenu: false},
        {value: "Services", active: false, submenu: true},
        {value: "Careers", active: false, submenu: false},
        {value: "News", active: false, submenu: false},
        {value: "Documentation", active: false, submenu: false},
        
        ],
      buttonLogin: {
        buttonText: "login", 
        buttonType: "transparent",
        buttonSm: true,
        marginRight: true,
        link: true,
        href: "https://mock-adress.ru/login.php"
      },
      buttonRegister: {
        buttonText: "register",
        buttonType: "gradient",
        buttonSm: true,
        link: true,
        href: "https://mock-adress.ru/submit.php"
      },
    },

    headerAuthorized: {
      items: [
        {value: "Home", active: true, submenu: false},
        {value: "About Us", active: false, submenu: false},
        {value: "Services", active: false, submenu: true},
        {value: "Careers", active: false, submenu: false},
        {value: "News", active: false, submenu: false},
        {value: "documentation", active: false, submenu: false},
        
      ],
      userName: "Cosmin Negoita",
    },

    footer: {
      sendTo: "https://www.mock-adress/full-stack-development.ru",
      formName: "subscribe",
      contMarginTop: '37',
      containerPaddingBottom: '18',
      info: [
        "Lorem ipsum dolor sit amet",
        "consectetur adipiscing elit aliquam",
        "eget nullam pellentesque aliquam ",
        "curabitur cociis`"
      ],
      lists: {
        menu1: {
          headline: "Navigation",
          navClass: "footer__navigation",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "About Us"},
            {link: "https://mock-adress/fsd.ru", text: "News"},
            {link: "https://mock-adress/fsd.ru", text: "Support"},
            {link: "https://mock-adress/fsd.ru", text: "Products"},
            ]
        },
        menu2: {
          headline: "About Us",
          navClass: "footer__aboutus",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "Who we are"},
            {link: "https://mock-adress/fsd.ru", text: "Our team"},
            {link: "https://mock-adress/fsd.ru", text: "Careers"},
            {link: "https://mock-adress/fsd.ru", text: "Investors"},
          ]
        },
        menu3: {
          headline: "Support",
          navClass: "footer__support",
          items: [
            {link: "https://mock-adress/fsd.ru", text: "Documentation"},
            {link: "https://mock-adress/fsd.ru", text: "Community"},
            {link: "https://mock-adress/fsd.ru", text: "Get in Touch"},
          ]
        }
      },
      subscribe: {
        cta: "Subscribe to our newsletter",
        descript: ["Receive our latest news and", "promotions in your inbox!"]
      },
      subscriptionTextField: {
        containerMarginTop: 24,
        inputWidth: 260,
        type: "Email",
        placeholder: "Your email address",
        name: "subscription_text_field",
        value: "",
      },
      copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved.",
    },
    footerCreative: {
        containerMarginTop: 37,
        info: [
          "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam", 
          "pellentesque aliquam curabitur cociis."
        ],
      }
  }


block title
  title Headers & Footers
block logo
  +logo()
block content 
  +headers-and-footers(headersAndFootersConfiguration)

