include ../templates/doctype.pug
include ../utils/mixins.pug

-
  const landingPageConfiguration = {
    headerRegisterConfiguration: {
      mods: '',
      containerMods: 'header-register__container_padding-vertical',
      items: [
        {value: 'О нас', active: true, submenu: false, itemMods: 'header__item--margin-right-pages'},
        {value: 'Услуги', active: false, submenu: true, itemMods: 'header__item--margin-right-pages'},
        {value: 'Вакансии', active: false, submenu: false, itemMods: 'header__item--margin-right-pages'},
        {value: 'Новости', active: false, submenu: false, itemMods: 'header__item--margin-right-pages'},
        {value: 'Соглашения', active: false, submenu: true, itemMods: 'header__item--margin-right-pages'},
        ],
        buttonLogin: {
        buttonText: 'Войти', 
        buttonMods: 'button__body_button_ellipse button__body_transparent-button_extra-fields button__body_header-margin-right  button__body_header-size_sm',
        link: true,
        href: 'https://mock-address.ru/login.php'
      },
      buttonRegister: {
        buttonText: 'Зарегистрироваться',
        buttonMods: 'button__body_button_ellipse button__body_background-linear-gradient_purple button__body_small-vertical-padding button__body_header-size_sm',
        link: true,
        href: 'https://mock-address.ru/register.php'
      },
    },
    searchRoomConfiguration: {
      mods: 'search-room_position-absolute-lp',
      containerMods: '',
      send_to: 'https://www.mock-adress/full-stack-development.ru',
      form_name: 'search_room',
    search_room_headline: {
      description: 'Найдём номера под ваши пожелания',
    },

    double_date_dropdown: {
      inputDateDropdownContainer: {mods: 'input-date-dropdown-container_cards-margin-bottom'},
      inputDateDropdownDescriptionFirst:  {
        containerMods: "",
        contentMods: "",
        description: "Прибытие"
      } ,
      inputDateDropdownFirst: {
        contClassMods: "none",
        inputClassMods: "datepick-start",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
        id: 'start',
        buttonID: 'start-button'
      },
      inputDateDropdownDescriptionSecond: {
        containerMods: "",
        contentMods: "",
        description: "Выезд"
      },
      inputDateDropdownSecond: {
        contClassMods: "none",
        inputClassMods: "datepick-end",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
        id: 'end',
        buttonID: 'end-button'
      },
      calendar: {
          id: 'calendar-start'
        }
    },
    input_date_dropdown_first_description: {
        containerMods: '',
        contentMods: '',
        description: 'Прибытие'
      },
    input_date_dropdown_first: {
        contClassMods: 'none',
        inputClassMods: 'datepick-start',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_date_dropdown_second_description: {
        containerMods: '',
        contentMods: '',
        description: 'Выезд'
      },
      input_date_dropdown_second: {
        contClassMods: 'none',
        inputClassMods: 'datepick-end',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'input_date_dropdown_default',
        value: '',
      },
      input_dropdown_guests: {
        containerMods: 'input-dropdown-guests_margin-bottom-on-cards-page',
        properties: [['взрослый', 0], ['дети', 0], ['младенцы', 0]],
        controlsMods: 'input-dropdown-guests__controls_closed',
        inputClassMods: 'input-dropdown-guests__input_controls-closed ',
        type: 'text',
        placeholder: 'Сколько гостей',
        name: 'input_dropdown_guests__input',
        value: '',
        resetMods: 'input-dropdown-guests__button-reset--hidden'
      }, 
      button_wide: {
        buttonText: 'подобрать номер',
        type: 'submit'
      },
    },
    footerConfiguration: {
      sendTo: 'https://www.mock-adress/full-stack-development.ru',
      formName: 'subscribe',
      mods: 'footer_pt-lp',
      info: [
        'Бронирование номеров в лучшем',
        'отеле 2019 года по версии',
        'ассоциации «‎Отельные взгляды».',
      ],
      navContMods: 'footer__navcont_min-width-pages',
      lists: {
        menu1: {
          headline: 'Навигация', 
          navClass: 'footer__navigation ',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О нас'},
            {link: 'https://mock-adress/fsd.ru', text: 'Новости'},
            {link: 'https://mock-adress/fsd.ru', text: 'Служба поддержки'},
            {link: 'https://mock-adress/fsd.ru', text: 'Услуги'},
            ]
        },
        menu2: {
          headline: 'О нас',
          navClass: 'footer__aboutus',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О сервисе'},
            {link: 'https://mock-adress/fsd.ru', text: 'Наша команда'},
            {link: 'https://mock-adress/fsd.ru', text: 'Вакансии'},
            {link: 'https://mock-adress/fsd.ru', text: 'Инвесторы'},
          ]
        },
        menu3: {
          headline: 'Служба поддержки',
          navClass: 'footer__support',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'Соглашения'},
            {link: 'https://mock-adress/fsd.ru', text: 'Сообщества'},
            {link: 'https://mock-adress/fsd.ru', text: 'Связь с нами'},
          ]
        }
      },
      subscribe: {
        cta: 'Подписка',
        descript: ['Получайте специальные', 'предложения и новости сервиса']
      },
      subscriptionTextField: {
        containerMods: 'subscription-text-field_mt',
        inputClassMods: 'subscription-text-field__input_width-correction',
        type: 'Email',
        placeholder: 'Email',
        name: 'subscription_text_field',
        value: '',
      },
      copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
    },
  }


block title
  title Landing page
block logo
block content 
  +landing-page(landingPageConfiguration)
