include ../templates/doctype.pug
include ../utils/mixins.pug

block title
  title registration
block logo
block content 
  +registration-pagessss({
      headerRegisterConfiguration: {
      containerVerticalPadding: true,
      items: [
        {value: 'О нас', active: true, submenu: false, marginRight: true },
        {value: 'Услуги', active: false, submenu: true, marginRight: true },
        {value: 'Вакансии', active: false, submenu: false, marginRight: true },
        {value: 'Новости', active: false, submenu: false, marginRight: true },
        {value: 'Соглашения', active: false, submenu: true, marginRight: true },
        ],
        buttonLogin: {
        buttonText: 'Войти', 
        buttonType: 'transparent',
        marginRight: true,
        link: true,
        href: 'https://mock-address.ru/login.php'
      },
      buttonRegister: {
        buttonText: 'Зарегистрироваться',
        buttonType: 'gradient',
        link: true,
        href: 'https://mock-address.ru/register.php'
      },
    },
    registration: {
      send_to: 'https://www.mock-adress/full-stack-development.ru',
      form_name: 'registration',
       marginAuto: true
    },
    footerConfiguration: {
      sendTo: 'https://www.mock-adress/full-stack-development.ru',
      formName: 'subscribe',
      mods: '',
      info: [
        'Бронирование номеров в лучшем',
        'отеле 2019 года по версии',
        'ассоциации «‎Отельные взгляды».',
      ],
      navContMr: true,
      lists: {
        menu1: {
          headline: 'Навигация', 
          navClass: 'footer__navigation ',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О нас'},
            {link: 'https://mock-adress/fsd.ru', text: 'Новости'},
            {link: 'https://mock-adress/fsd.ru', text: 'Служба поддержки'},
            {link: 'https://mock-adress/fsd.ru', text: 'Услуги'},
            ]
        },
        menu2: {
          headline: 'О нас',
          navClass: 'footer__aboutus',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О сервисе'},
            {link: 'https://mock-adress/fsd.ru', text: 'Наша команда'},
            {link: 'https://mock-adress/fsd.ru', text: 'Вакансии'},
            {link: 'https://mock-adress/fsd.ru', text: 'Инвесторы'},
          ]
        },
        menu3: {
          headline: 'Служба поддержки',
          navClass: 'footer__support',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'Соглашения'},
            {link: 'https://mock-adress/fsd.ru', text: 'Сообщества'},
            {link: 'https://mock-adress/fsd.ru', text: 'Связь с нами'},
          ]
        }
      },
      subscribe: {
        cta: 'Подписка',
        descript: ['Получайте специальные', 'предложения и новости сервиса']
      },
      subscriptionTextField: {
        containerMarginTop: 24,
        inputWidth: 260,
        type: 'Email',
        placeholder: 'Email',
        name: 'subscription_text_field',
        value: '',
      },
      copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
    },
  })


  