include ../templates/doctype.pug
include ../utils/mixins.pug

-
  const roomDetailsConfiguration = {
    headerRegisterConfiguration: {
      mods: 'header_register--padding',
      containerMods: 'header_register__container--padding-vertical',
      items: [
        {value: 'О нас', active: true, submenu: false, itemMods: 'header__item--margin-right-pages'},
        {value: 'Услуги', active: false, submenu: true, itemMods: 'header__item--margin-right-pages'},
        {value: 'Вакансии', active: false, submenu: false, itemMods: 'header__item--margin-right-pages'},
        {value: 'Новости', active: false, submenu: false, itemMods: 'header__item--margin-right-pages'},
        {value: 'Соглашения', active: false, submenu: true, itemMods: 'header__item--margin-right-pages'},
        ],
        buttonLogin: {
        buttonText: 'Войти', 
        buttonType: 'transparent',
        link: true,
        href: 'https://mock-address.ru/login.php'
      },
      buttonRegister: {
        buttonText: 'Зарегистрироваться',
        buttonType: 'gradient',
        link: true,
        href: 'https://mock-address.ru/register.php'
      },
    },

    information: {
      marginTop: 69, 
      fontSize: 'md',
      description: 'Сведения о номере'
    },

    informationPieChart: {
      marginTop: 69, 
      marginLeft: 108,
      fontSize: 'md',
      description: 'Впечатления от номера'
    },

    pieChart: {
      canvasName: 'room-stats js-room-stats',
      width: 130,
      height: 130,
      summary: 260,
      units: 'голосов',
      leg: [
        {mod:'great', text: 'Великолепно' },
        {mod:'good', text: 'Хорошо' },
        {mod:'bad', text: 'Удовлетворительно' },
        {mod:'very-bad', text: 'Разочарован' },
      ]
    },

    feedback: {
      fontSize: 'md',
      marginTop: 0,
      marginBottom: 20,
      description: 'Отзывы посетителей номера'
    },

    textBlock: {
      description: 'Отмена',
      content: 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.',
    },

    costCalculator: {
      mods: '',
      sendTo: '',
      formName: 'cost_calculator',
    },

    footerConfiguration: {
      sendTo: 'https://www.mock-adress/full-stack-development.ru',
      formName: 'subscribe',
      mods: '',
      info: [
        'Бронирование номеров в лучшем',
        'отеле 2019 года по версии',
        'ассоциации «‎Отельные взгляды».',
      ],
      navContMr: true,
      lists: {
        menu1: {
          headline: 'Навигация', 
          navClass: 'footer__navigation ',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О нас'},
            {link: 'https://mock-adress/fsd.ru', text: 'Новости'},
            {link: 'https://mock-adress/fsd.ru', text: 'Служба поддержки'},
            {link: 'https://mock-adress/fsd.ru', text: 'Услуги'},
            ]
        },
        menu2: {
          headline: 'О нас',
          navClass: 'footer__aboutus',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О сервисе'},
            {link: 'https://mock-adress/fsd.ru', text: 'Наша команда'},
            {link: 'https://mock-adress/fsd.ru', text: 'Вакансии'},
            {link: 'https://mock-adress/fsd.ru', text: 'Инвесторы'},
          ]
        },
        menu3: {
          headline: 'Служба поддержки',
          navClass: 'footer__support',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'Соглашения'},
            {link: 'https://mock-adress/fsd.ru', text: 'Сообщества'},
            {link: 'https://mock-adress/fsd.ru', text: 'Связь с нами'},
          ]
        }
      },
      subscribe: {
        cta: 'Подписка',
        descript: ['Получайте специальные', 'предложения и новости сервиса']
      },
      subscriptionTextField: {
        containerMarginTop: 24,
        inputWidth: 260,
        type: 'Email',
        placeholder: 'Email',
        name: 'subscription_text_field',
        value: '',
      },
      copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
    },
  }

block title
  title room details
block logo
block content
  +room-details(roomDetailsConfiguration)
