include ../templates/doctype.pug
include ../utils/mixins.pug

-
  const roomDetailsConfiguration = {
    headerRegisterConfiguration: {
      mods: 'header_register--padding',
      containerMods: 'header_register__container--padding-vertical',
      items: [
        {value: 'О нас', active: true, submenu: false, itemMods: 'header__item--margin-right-pages'},
        {value: 'Услуги', active: false, submenu: true, itemMods: 'header__item--margin-right-pages'},
        {value: 'Вакансии', active: false, submenu: false, itemMods: 'header__item--margin-right-pages'},
        {value: 'Новости', active: false, submenu: false, itemMods: 'header__item--margin-right-pages'},
        {value: 'Соглашения', active: false, submenu: true, itemMods: 'header__item--margin-right-pages'},
        ],
        buttonLogin: {
        buttonText: 'Войти', 
        buttonMods: 'button__body--button__ellipse button__body--transparent_button_extra_fields button__body--header-size_sm button__body--header-margin_right',
        link: true,
        href: 'https://mock-address.ru/login.php'
      },
      buttonRegister: {
        buttonText: 'Зарегистрироваться',
        buttonMods: 'button__body--button__ellipse button__body--background_linear_gradient__purple button__body--small_vertical_padding button__body--header-size_sm',
        link: true,
        href: 'https://mock-address.ru/register.php'
      },
    },

    information: {
      containerMods: 'component_headline__container--mt-69px',
      mods: 'component_headline__text--font-size-md',
      description: 'Сведения о номере'
    },

    informationPieChart: {
      containerMods: 'component_headline__container--mt-69px component_headline__container--ml',
      mods: 'component_headline__text--font-size-md',
      description: 'Впечатления от номера'
    },

    pieChart: {
      canvasName: 'room_stats js-room_stats',
      width: 130,
      height: 130,
      summary: 260,
      units: 'голосов',
      leg: [
        {mod:'pie_chart__indicator--grade-great', text: 'Великолепно' },
        {mod:'pie_chart__indicator--grade-good', text: 'Хорошо' },
        {mod:'pie_chart__indicator--grade-bad', text: 'Удовлетворительно' },
        {mod:'pie_chart__indicator--grade-very-bad', text: 'Разочарован' },
      ]
    },

    feedback: {
      mods: 'component_headline__text--font-size-md component_headline__text--margin-top-zero component_headline__text--margin-bottom',
      description: 'Отзывы посетителей номера'
    },

    textBlock: {
      description: 'Отмена',
      content: 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.',
    },

    costCalculator: {
      mods: '',
      sendTo: '',
      formName: 'cost_calculator',
      roomInfo: {
        blockMods: '',
        overallMods: '',
        numberMods: '',
        numberSymbol: '№ ',
        numberText: '888',
        typeMods: '',
        typeText: 'люкс',
        priceMods: '',
        costMods:'',
        costText: '9 990₽ ',
        periodMods: '',
        periodText: '&nbsp; в сутки',
      },
      doubleDateDropdown: {
      inputDateDropdownContainer: {mods: 'input_date_dropdown_container--cards-margin-bottom'},
      inputDateDropdownDescriptionFirst:  {
        containerMods: "",
        contentMods: "",
        description: "Прибытие"
      } ,
      inputDateDropdownFirst: {
        contClassMods: "none",
        inputClassMods: "datepick-start",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
        id: 'start',
        buttonID: 'start-button'
      },
      inputDateDropdownDescriptionSecond: {
        containerMods: "",
        contentMods: "",
        description: "Выезд"
      },
      inputDateDropdownSecond: {
        contClassMods: "none",
        inputClassMods: "datepick-end",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "input_date_dropdown_default",
        value: "",
        id: 'end',
        buttonID: 'end-button'
      },
      calendar: {
          id: 'calendar-start'
        }
      },
      inputDropdownGuests: {
        containerMods: 'input_dropdown_guests__input--mb-8px ',
        properties: [['взрослый', 0], ['дети', 0], ['младенцы', 0]],
        controlsMods: 'input_dropdown_guests__controls--closed',
        contClassMods: 'input_dropdown_guests--margin-bottom-in-balance-component',
        inputClassMods: 'input_dropdown_guests__input--controls-closed ',
        type: 'text',
        placeholder: 'Сколько гостей',
        name: 'input_dropdown_guests__input',
        value: '3 гостя',
        resetMods: 'input_dropdown_guests__button_reset--hidden'
      },
      balance: {
        blockMods: '',
        services: [['9 990₽ х 4 суток', false, '39 960₽'], ['Сбор за услуги: скидка 2 179₽', true, '0₽'], ['Сбор за дополнительные услуги', true, '300₽']],
        feeMods: '',
        contMods: '',
        serviceMods: '',
        tooltipMods: '',
        contMods: '',
        totalMods: '',
        totalCostText: 'Итого',
        sumText: '38 081₽',
      },
      bookButton: {
        buttonText: 'Забронировать',
        type: 'submit'
      }
    },

    footerConfiguration: {
      sendTo: 'https://www.mock-adress/full-stack-development.ru',
      formName: 'subscribe',
      mods: '',
      info: [
        'Бронирование номеров в лучшем',
        'отеле 2019 года по версии',
        'ассоциации «‎Отельные взгляды».',
      ],
      navContMods: 'footer__navcont--min-width-pages',
      lists: {
        menu1: {
          headline: 'Навигация', 
          navClass: 'footer__navigation ',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О нас'},
            {link: 'https://mock-adress/fsd.ru', text: 'Новости'},
            {link: 'https://mock-adress/fsd.ru', text: 'Служба поддержки'},
            {link: 'https://mock-adress/fsd.ru', text: 'Услуги'},
            ]
        },
        menu2: {
          headline: 'О нас',
          navClass: 'footer__aboutus',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'О сервисе'},
            {link: 'https://mock-adress/fsd.ru', text: 'Наша команда'},
            {link: 'https://mock-adress/fsd.ru', text: 'Вакансии'},
            {link: 'https://mock-adress/fsd.ru', text: 'Инвесторы'},
          ]
        },
        menu3: {
          headline: 'Служба поддержки',
          navClass: 'footer__support',
          items: [
            {link: 'https://mock-adress/fsd.ru', text: 'Соглашения'},
            {link: 'https://mock-adress/fsd.ru', text: 'Сообщества'},
            {link: 'https://mock-adress/fsd.ru', text: 'Связь с нами'},
          ]
        }
      },
      subscribe: {
        cta: 'Подписка',
        descript: ['Получайте специальные', 'предложения и новости сервиса']
      },
      subscriptionTextField: {
        contClassMods: 'subscription_text_field--mt',
        inputClassMods: 'subscription_text_field__input--width-correction',
        type: 'Email',
        placeholder: 'Email',
        name: 'subscription_text_field',
        value: '',
      },
      copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
    },
  }

block title
  title room details
block logo
block content
  +room-details(roomDetailsConfiguration)
