mixin room-details({headerRegisterConfiguration, information, informationPieChart, pieChart, feedback, textBlock, costCalculator, footerConfiguration})
  section(class=`room-details`)
    +header-register(headerRegisterConfiguration)
    section(class=`room-details__review`)
      div(class=`room-details__image-bg room-details__image-bg_background-main-view room-details__image_background-rules`) 
      div(class=`room-details__image-sm room-details__image-sm_background-additional-view-one room-details__image_background-rules`)
      div(class=`room-details__image-sm room-details__image-sm_background-additional-view-two room-details__image_background-rules`)
    section(class=`room-details__content`)
        section(class=`room-details__information`)
          div(class=`room-details__column`)
            div(class="room-details__benefitBlock")
              +component-headline(information)
              div(class=`room-details__wrapper`)
                div(class=`room-details__benefits`)
                  +benefit({containerMods:"benefit__container_extra-margin ",  contMods: "", imageMods: "benefit__image_background_smile", nameText: "Комфорт", propText: "Шумопоглощающие стены"}) 
                  +benefit({containerMods:"benefit__container_extra-margin ", contMods: "", imageMods: "benefit__image_background_building", nameText: "Удобство", propText: "Окно в каждой из спален"})
                  +benefit({containerMods:"benefit__container_extra-margin ", contMods: "", imageMods: "benefit__image_background_bonfire", nameText: "Уют", propText: "Номер оснащен камином"})
            div(class=`room-details__statistiks`)
              +component-headline(informationPieChart)
              +pie-chart(pieChart)

          +component-headline(feedback)
          div(class=`room-details__feedback`)
            +review({
              image: "review__photo_background-image-man",
              name: "Мурад Сафронов",
              date: "5 дней назад",
              text: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
              И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
              не жаловался из соседей.`})

            +review({
              containerMods: "review__container_mt",
              userMods: "",
              image: "review__photo_background-image_girl",
              name: "Патрисия Стёклышкова",
              date: "Неделю назад",
              text: `Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент`})

          div(class=`room-details__wrapper room-details__wrapper_d-flex_jc-sb room-details__wrapper_max-width`)
            div(class=`room-details__rules`)
              +bullet-list({
                descMods: "bulletlist__description_font_size_bg bulletlist__description_font-family_open-sans bulletlist__description_text-transform_none",
                description: "Правила",
                items: ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
              })

            div(class=`room-details__cancelation`)
              +text-block(textBlock)
        section(class=`room-details__booking`)
          +cost-calculator(costCalculator)
    +footer(footerConfiguration)