.button__body {
  padding: 0px;
  border: none;
  background-color: transparent;

  font-family: 'montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
  box-sizing: border-box;
  cursor: pointer;
}

.button__body:active {
  color: $dark_shade_50;
}

.button__body--active {
  color: $dark_shade_50;
}


.button__body--button__ellipse {
  border: 1px solid $purple;
  border-radius: 22px;
  padding: 13px 18px 14px 18px;
}

.button__body--registration_padding {
 padding: 13px 26px 14px 26px;
}

.button__body--small_vertical_padding_transparent {
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 18px;
  margin-top: -5px;
}

.button__body--small_vertical_padding_gradient {
  padding-top: 8px;
  padding-bottom: 9px;
  margin-top: -5px;
  margin-left: 18px;
}

.button__body--button__ellipse:active {
  border-color: rgba(	188,	156,	255, 0.5);
  color: $purple;
}

.button__body--button__ellipse__active {
  border-color: rgba(	188,	156,	255, 0.5);
}

.button__body--background_linear_gradient__purple {
  border: none;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: white;
  padding: 14px 19px 15px 19px;
}


.button__body--background_linear_gradient__purple_active {
  background-image: linear-gradient(180deg, rgba(	188,	156,	255, 0.5) 0%,  rgba(139,	164,	249, 0.5) 100%);
}

.button__body--background_linear_gradient__purple:active {
  background-image: linear-gradient(180deg, rgba(	188,	156,	255, 0.5) 0%,  rgba(139,	164,	249, 0.5) 100%);
  color: white; 
}

.button__body--header-size_sm {
  margin-top: 0px;
  padding: 9px 19px 9px 19px;
}

.button__body--header-margin_right {
  margin-right: 20px;
}