.HTMLtag__character {
  font-family: 'montserrat';
  font-weight: normal;
  color: $dark_shade_25;
  text-align: right;
  min-width: 37px;
  
}

.HTMLtag__character--xl {
  font-size: 24px;
  line-height: 29px;
}

.HTMLtag__character--md {

  font-size: 19px;
  line-height: 23px;
}

.HTMLtag__character--xs {
  font-size: 12px;
  line-height: 15px;
}

.HTMLtag__character--sm {
  font-size: 14px;
  line-height: 24px;
}