mixin UIGuestDropdownClosed({guestDropdownContainer, guestDropdownDescription, guestDropdownState, guestDropdownDefault})
  +input-description-container(guestDropdownContainer)
    +input-description(guestDropdownDescription)
    +input-description(guestDropdownState)
  +guest-dropdown(guestDropdownDefault)