include ../full_pages/colors_and_types.pug
include ../BEM/app/app.pug

include ../BEM/rect/rect.pug

include ../BEM/color/color.pug
include ../BEM/HTMLtag/HTMLtag.pug
include ../BEM/HTMLstyle/HTMLstyle.pug