include ../full_pages/colors_and_types.pug
include ../BEM/app/app.pug

include ../BEM/rect/rect.pug

include ../BEM/color/color.pug
include ../BEM/HTMLtag/HTMLtag.pug
include ../BEM/HTMLstyle/HTMLstyle.pug


include ../full_pages/form-elements/form-elements.pug
include ../BEM/grid/grid.pug

include ../BEM/input_description_container/input_description_container.pug
include ../BEM/input_description/input_description.pug
include ../BEM/textField/textField.pug

include ../BEM/guest_dropdown/guest_dropdown.pug
include ../BEM/masked_text_field/masked_text_field.pug

include ../BEM/input_date_dropdown_container/input_date_dropdown_container.pug

include ../BEM/input_and_description_wrapper/input_and_description_wrapper.pug
include ../BEM/input_date_dropdown/input_date_dropdown.pug

include ../BEM/input_filter_date_dropdown/input_filter_date_dropdown.pug


include ../BEM/subscription_text_field/subscription_text_field.pug



include ../BEM/like_button_container/like_button_container.pug


include ../BEM/like_button/like_button.pug

include ../BEM/rate_button/rate_button.pug



include ../BEM/input_dropdown_room_quantity/input_dropdown_room_quantity.pug

include ../BEM/expandable_checkbox_list/expandable_checkbox_list.pug

include ../BEM/benefits/benefits.pug

include ../BEM/checkbox_buttons/checkbox_buttons.pug

include ../BEM/radio_buttons/radio_buttons.pug

include ../BEM/toggle/toggle.pug


include ../BEM/input_dropdown_guests/input_dropdown_guests.pug
include ../BEM/rich_checkbox_buttons/rich_checkbox_buttons.pug

include ../BEM/slider/slider.pug

include ../BEM/buttonContainer/buttonContainer.pug
include ../BEM/button/button.pug

include ../BEM/button_wide/button_wide.pug

include ../BEM/pagination/pagination.pug

include ../BEM/bullet_list/bullet_list.pug

include ../BEM/appointment/appointment.pug

include ../full_pages/cards/cards.pug


include ../BEM/component_headline/component_headline.pug

include ../components/search_room/search_room.pug
include ../components/registration/registration.pug
include ../components/auth_form/auth_form.pug


include ../BEM/room_info/room_info.pug
include ../BEM/balance/balance.pug

include ../components/cost_calculator/cost_calculator.pug
include ../components/calendar/calendar.pug
include ../components/room/room.pug

include ../full_pages/headers&footers/headers&footers.pug
include ../components/header_register/header_register.pug
include ../components/header_authorized/header_authorized.pug
include ../components/footer/footer.pug
include ../components/footer_creative/footer_creative.pug

include ../full_pages/landing_page/landing_page.pug
include ../full_pages/registration_page/registration_page.pug
include ../full_pages/sign_in_page/sign_in_page.pug
include ../full_pages/filter_page/filter_page.pug

include ../full_pages/room_details/room_details.pug

include ../BEM/text_block/text_block.pug