.input-filter-date_dropdown {
  position: relative;
  max-width: 266px;

  
  &__input {
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    padding-bottom: 11px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'montserrat-regular', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $dark_shade_75;
  
    &::placeholder {
      color: $dark_shade_75;
    }
  }

  &__button {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 1px;
    right: 0px;
    background-color: transparent;
    border: none; 
  }
  
  #input-filter-date-dropdown--calendar {
    z-index: 100;
  }

}



