mixin UIColumnThree({gridThree, slider, inputDescriptionButtons, buttonContainerOne, buttonGradient, buttonGradientChecked, buttonContainerTwo, buttonTransparent, buttonTransarentChecked, buttonContainerThree, buttonText, buttonTextChecked, buttonWide, inputDescriptionPagination, pagination, inputDescriptionIdgSelected, inputDropdownGuestsSelected, bulletList})
  +grid(gridThree)
    +slider(slider)

    +input-description(inputDescriptionButtons)

    +button-container(buttonContainerOne)
      +button(buttonGradient)

    +button-container(buttonContainerTwo)
      +button(buttonTransparent)
        
    +button-container(buttonContainerThree)
      +button(buttonText)

    +button-wide(buttonWide)

    +input-description(inputDescriptionPagination)
    +pagination(pagination)

    +bullet-list(bulletList)