include ../components/logo/logo.pug

include ../components/colors-and-types/colors-and-types.pug
include ../components/app/app.pug

include ../components/rect/rect.pug

include ../components/color/color.pug
include ../components/HTMLtag/HTMLtag.pug
include ../components/HTMLstyle/HTMLstyle.pug


include ../components/UITextField/UITextField.pug
include ../components/UITextFieldHovered/UITextFieldHovered.pug
include ../components/UIGuestDropdownClosed/UIGuestDropdownClosed.pug
include ../components/UIMaskedTextField/UIMaskedTextField.pug
include ../components/UIFilterDateDropdown/UIFilterDateDropdown.pug
include ../components/UISubscriptionTextField/UISubscriptionTextField.pug
include ../components/UIRoomQuantityDropdown/UIRoomQuantityDropdown.pug
include ../components/UIColumnOne/UIColumnOne.pug
include ../components/UIColumnTwo/UIColumnTwo.pug
include ../components/UIColumnThree/UIColumnThree.pug
include ../components/UIColumnFour/UIColumnFour.pug
include ../components/form-elements/form-elements.pug




include ../components/grid/grid.pug

include ../components/input-description-container/input-description-container.pug
include ../components/input-description/input-description.pug
include ../components/text-field/text-field.pug

include ../components/guest-dropdown/guest-dropdown.pug
include ../components/masked-text-field/masked-text-field.pug

include ../components/input-date-dropdown-container/input-date-dropdown-container.pug

include ../components/input-and-description-wrapper/input-and-description-wrapper.pug
include ../components/input-date-dropdown/input-date-dropdown.pug

include ../components/input-filter-date-dropdown/input-filter-date-dropdown.pug


include ../components/subscription-text-field/subscription-text-field.pug



include ../components/like-button-container/like-button-container.pug


include ../components/like-button/like-button.pug

include ../components/rate-button/rate-button.pug



include ../components/input-dropdown-room-quantity/input-dropdown-room-quantity.pug

include ../components/expandable-checkbox-list/expandable-checkbox-list.pug

include ../components/benefits/benefits.pug

include ../components/checkbox-buttons/checkbox-buttons.pug

include ../components/radio-buttons/radio-buttons.pug

include ../components/toggle/toggle.pug


include ../components/input-dropdown-guests/input-dropdown-guests.pug
include ../components/rich-checkbox-buttons/rich-checkbox-buttons.pug

include ../components/slider/slider.pug

include ../components/button-container/button-container.pug
include ../components/button/button.pug

include ../components/button-wide/button-wide.pug

include ../components/pagination/pagination.pug

include ../components/bullet-list/bullet-list.pug

include ../components/review/review.pug

include ../components/cards/cards.pug


include ../components/component-headline/component-headline.pug

include ../components/search-room/search-room.pug
include ../components/registration/registration.pug
include ../components/auth-form/auth-form.pug


include ../components/room-info/room-info.pug
include ../components/balance/balance.pug

include ../components/cost-calculator/cost-calculator.pug
include ../components/calendar/calendar.pug
include ../components/room/room.pug

include ../components/headers-and-footers/headers-and-footers.pug
include ../components/header-register/header-register.pug
include ../components/header-authorized/header-authorized.pug
include ../components/footer/footer.pug
include ../components/footer-creative/footer-creative.pug

include ../components/landing-page/landing-page.pug
include ../components/registration-page/registration-page.pug
include ../components/sign-in-page/sign-in-page.pug
include ../components/filter-page/filter-page.pug


include ../components/pie-chart/pie-chart.pug
include ../components/room-details/room-details.pug

include ../components/text-block/text-block.pug

include ../components/double-date-dropdown/double-date-dropdown.pug