include ../components/logo/logo.pug

include ../components/colorsAndTypes/colorsAndTypes.pug
include ../components/app/app.pug

include ../components/rect/rect.pug

include ../components/color/color.pug
include ../components/HTMLtag/HTMLtag.pug
include ../components/HTMLstyle/HTMLstyle.pug


include ../components/formElements/formElements.pug
include ../components/grid/grid.pug

include ../components/inputDescriptionContainer/inputDescriptionContainer.pug
include ../components/inputDescription/inputDescription.pug
include ../components/textField/textField.pug

include ../components/guestDropdown/guestDropdown.pug
include ../components/maskedTextField/maskedTextField.pug

include ../components/inputDateDropdownContainer/inputDateDropdownContainer.pug

include ../components/inputAndDescriptionWrapper/inputAndDescriptionWrapper.pug
include ../components/inputDateDropdown/inputDateDropdown.pug

include ../components/inputFilterDateDropdown/inputFilterDateDropdown.pug


include ../components/subscriptionTextField/subscriptionTextField.pug



include ../components/likeButtonContainer/likeButtonContainer.pug


include ../components/likeButton/likeButton.pug

include ../components/rateButton/rateButton.pug



include ../components/inputDropdownRoomQuantity/inputDropdownRoomQuantity.pug

include ../components/expandableCheckboxList/expandableCheckboxList.pug

include ../components/benefits/benefits.pug

include ../components/checkboxButtons/checkboxButtons.pug

include ../components/radioButtons/radioButtons.pug

include ../components/toggle/toggle.pug


include ../components/inputDropdownGuests/inputDropdownGuests.pug
include ../components/richCheckboxButtons/richCheckboxButtons.pug

include ../components/slider/slider.pug

include ../components/buttonContainer/buttonContainer.pug
include ../components/button/button.pug

include ../components/buttonWide/buttonWide.pug

include ../components/pagination/pagination.pug

include ../components/bulletList/bulletList.pug

include ../components/appointment/appointment.pug

include ../components/cards/cards.pug


include ../components/componentHeadline/componentHeadline.pug

include ../components/searchRoom/searchRoom.pug
include ../components/registration/registration.pug
include ../components/authForm/authForm.pug


include ../components/roomInfo/roomInfo.pug
include ../components/balance/balance.pug

include ../components/costCalculator/costCalculator.pug
include ../components/calendar/calendar.pug
include ../components/room/room.pug

include ../components/headersAndFooters/headersAndFooters.pug
include ../components/headerRegister/headerRegister.pug
include ../components/headerAuthorized/headerAuthorized.pug
include ../components/footer/footer.pug
include ../components/footerCreative/footerCreative.pug

include ../components/landingPage/landingPage.pug
include ../components/registrationPage/registrationPage.pug
include ../components/signInPage/signInPage.pug
include ../components/filterPage/filterPage.pug


include ../components/pieChart/pieChart.pug
include ../components/roomDetails/roomDetails.pug

include ../components/textBlock/textBlock.pug