include ../components/logo/logo.pug

include ../components/colors_and_types/colors_and_types.pug
include ../components/app/app.pug

include ../components/rect/rect.pug

include ../components/color/color.pug
include ../components/HTMLtag/HTMLtag.pug
include ../components/HTMLstyle/HTMLstyle.pug


include ../components/form-elements/form-elements.pug
include ../components/grid/grid.pug

include ../components/input_description_container/input_description_container.pug
include ../components/input_description/input_description.pug
include ../components/textField/textField.pug

include ../components/guest_dropdown/guest_dropdown.pug
include ../components/masked_text_field/masked_text_field.pug

include ../components/input_date_dropdown_container/input_date_dropdown_container.pug

include ../components/input_and_description_wrapper/input_and_description_wrapper.pug
include ../components/input_date_dropdown/input_date_dropdown.pug

include ../components/input_filter_date_dropdown/input_filter_date_dropdown.pug


include ../components/subscription_text_field/subscription_text_field.pug



include ../components/like_button_container/like_button_container.pug


include ../components/like_button/like_button.pug

include ../components/rate_button/rate_button.pug



include ../components/input_dropdown_room_quantity/input_dropdown_room_quantity.pug

include ../components/expandable_checkbox_list/expandable_checkbox_list.pug

include ../components/benefits/benefits.pug

include ../components/checkbox_buttons/checkbox_buttons.pug

include ../components/radio_buttons/radio_buttons.pug

include ../components/toggle/toggle.pug


include ../components/input_dropdown_guests/input_dropdown_guests.pug
include ../components/rich_checkbox_buttons/rich_checkbox_buttons.pug

include ../components/slider/slider.pug

include ../components/buttonContainer/buttonContainer.pug
include ../components/button/button.pug

include ../components/button_wide/button_wide.pug

include ../components/pagination/pagination.pug

include ../components/bullet_list/bullet_list.pug

include ../components/appointment/appointment.pug

include ../components/cards/cards.pug


include ../components/component_headline/component_headline.pug

include ../components/search_room/search_room.pug
include ../components/registration/registration.pug
include ../components/auth_form/auth_form.pug


include ../components/room_info/room_info.pug
include ../components/balance/balance.pug

include ../components/cost_calculator/cost_calculator.pug
include ../components/calendar/calendar.pug
include ../components/room/room.pug

include ../components/headers&footers/headers&footers.pug
include ../components/header_register/header_register.pug
include ../components/header_authorized/header_authorized.pug
include ../components/footer/footer.pug
include ../components/footer_creative/footer_creative.pug

include ../components/landing_page/landing_page.pug
include ../components/registration_page/registration_page.pug
include ../components/sign_in_page/sign_in_page.pug
include ../components/filter_page/filter_page.pug


include ../components/pie_chart/pie_chart.pug
include ../components/room_details/room_details.pug

include ../components/text_block/text_block.pug