.input_description_container {
  &--padding-top-registration {
    padding-top: 21px;
  }
  
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  

    &--padding-top {
      padding-top: 17px;
    }
    
    &--padding-top-for-room-quantity {
      padding-top: 95px;
    }
    
    &--padding-top-for-room-quantity-expanded {
      padding-top: 16px;
    }
  }
}


