.input_description_container__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

.input_description_container__container--padding-top {
  padding-top: 17px;
}

.input_description_container--padding-top-registration {
  padding-top: 21px;
}

.input_description_container__container--padding-top-for-room-quantity {
  padding-top: 95px;
}

.input_description_container__container--padding-top-for-room-quantity-expanded {
  padding-top: 16px;
}

