mixin input-description-container({ containerPaddingTop})
  -
    let containerPaddingTopMod = '';
    if(containerPaddingTop) {
      containerPaddingTopMod = `input-description-container__container_mt_${containerPaddingTop}`;
    }
  div(class=`input-description-container`)
    div(class=`input-description-container__container ${containerPaddingTopMod}`)
      block