mixin UIColumnOne({gridOne, UITextField, UIGuestDropdown, UIMaskedTextField, doubleDateDropdown, UIFilterDateDropdown, UISubscriptionTextField, UIRoomQuantityDropdown, expandableCheckboxList, expandableCheckboxListOpened, benefitSmile, benefitBulding})
  +grid(gridOne)
    +UI-text-field(UITextField)
    


    
    +UIMaskedTextField(UIMaskedTextField)
    +double-date-dropdown(doubleDateDropdown)
    +UIFilterDateDropdown(UIFilterDateDropdown)

    +UISubscriptionTextField(UISubscriptionTextField)
    +UIRoomQuantityDropdown(UIRoomQuantityDropdown)

    +expandable-checkbox-list(expandableCheckboxList)
    +benefit(benefitSmile)
    +benefit(benefitBulding)
