mixin UIColumnOne({gridOne, UITextField, UITextFieldHovered, UIGuestDropdownClosed, UIMaskedTextField, doubleDateDropdown, UIFilterDateDropdown, UISubscriptionTextField, UIRoomQuantityDropdownClosed, UIRoomQuantityDropdownOpened, expandableCheckboxList, expandableCheckboxListOpened, benefitSmile, benefitBulding})
  +grid(gridOne)
    +UI-text-field(UITextField)
    +UI-text-field-hovered(UITextFieldHovered)
    +UIGuestDropdownClosed(UIGuestDropdownClosed)
    +UIMaskedTextField(UIMaskedTextField)
    +double-date-dropdown(doubleDateDropdown)
    +UIFilterDateDropdown(UIFilterDateDropdown)

    +UISubscriptionTextField(UISubscriptionTextField)
    +UIRoomQuantityDropdown(UIRoomQuantityDropdownClosed)
    +UIRoomQuantityDropdown(UIRoomQuantityDropdownOpened)
    +expandable-checkbox-list(expandableCheckboxList)
    +expandable-checkbox-list(expandableCheckboxListOpened)
    +benefit(benefitSmile)
    +benefit(benefitBulding)
