mixin UI-text-field({emailTextFieldContainer, emailTextFieldDescription, emailTextFieldState, emailTextField})
  +input-description-container(emailTextFieldContainer)
    +input-description(emailTextFieldDescription)
    +input-description(emailTextFieldState)
  +text-field(emailTextField)