.color {
  padding-left: 39px; // 13.93165629532254%; 
  padding-top: 7px;
}

.color__name {
  font-family: 'quicksand';
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.8125rem;
  margin: 0px;
} 

.color__code {
  font-family: 'quicksand';
  font-weight: normal;
  font-size: 1.1875rem;
  line-height: 1.8125rem;
  margin: 0px;
}