mixin bullet-list({containerMods, descMods, description, items, item})
  div(class=`bulletlist`)
    div(class=`bulletlist__container ${containerMods}`)
      p(class=`bulletlist__description ${descMods}`) #{description}
      ul(class=`bulletlist__list`)
        each item in items
          li(class=`bulletlist__item`) #{item}