mixin bullet-list({containerMods, descMods, description, items, item})
  div(class=`bullet-list`)
    div(class=`bullet-list__container ${containerMods}`)
      p(class=`bullet-list__description ${descMods}`) #{description}
      ul(class=`bullet-list__list`)
        each item in items
          li(class=`bullet-list__item`) #{item}