//- layout.pug
html
  head
    block title
    block keywords
    block description
    <meta name="viewport" content="width=device-width, initial-scale=1">
  body
    block logo
    block content
    