mixin HTMLtag({fontSize, tagName})
  -
    let fontSizeMod = '';
    if(fontSize) {
      fontSizeMod = `HTMLtag__character_font-size_${fontSize}`;
    }
  div(class="HTMLtag")
    div(class=`HTMLtag__container`)
      p(class=`HTMLtag__character ${fontSizeMod}`) #{tagName}

