.landing_page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.landing_page__layer {
	flex: 1 0 auto;
}

.footer{
  background-color: #FFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  padding-top: 100px;
  flex: 0 0 auto;

    
  &_mt_rm {
    margin-top: 70px;
  }

  &_pt_lp {
    padding-top: 170px;
  }

  &_pt_fp {
    padding-top: 153px;
  }

  &_mt-hf {
    margin-top: 37px;
    margin-bottom: 18px;
  }

  &__container {
    display: flex;
    padding-left: 9.722222222222222%;
    padding-bottom: 81px;
    border-bottom: 0.5px solid grey;

    @media(max-width: 1350px) { 
      & {
        padding-left: 0px;
        justify-content: space-evenly;
      }
    }
  
    @media(max-width: 1000px) {
      & {
        flex-wrap: wrap;
      }
    }
  }

  &__about {
    margin-right: 53px;

    @media(max-width: 1350px) { 
      & {
        margin-right: 0px;
      }
    }
  
    @media(max-width: 1000px) {
      & {
        order: 0;
      }
    }
  }

  &__logo {
    margin-bottom: 11px;
  }

  &__information {
    max-width: 260px;
    margin-top: 10px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark_shade_75;
    margin: 0px;
  }



  &__navcont {
    min-width: 513px;
    display: flex;
    justify-content: space-between;
    margin-right: 87px;

    &--min-width-pages {
      min-width: 548px;
      justify-content: normal;
      margin-right: 54px;
    }

    @media(max-width: 1350px) { 
      & {
          margin-right: 0px;
        }
      }
    
    @media(max-width: 1200px) {
      & {
        min-width: 400px;
      }
    }
    
    @media(max-width: 1000px) {
      & {
        order: 2;
        min-width: 669px;
      }
    }
    
    @media(max-width: 670px) { 
      & {
        min-width: 549px;
      }
    }
    
    
    @media(max-width: 550px) { 
      & {
        flex-wrap: wrap;
        margin-top: 50px;
        min-width: 400px;
      }
    }
    
    @media(max-width: 440px) { 
      & {
        min-width: 320px;
        flex-direction: column;
        align-items: center;
      }
    }
  }


  &__navcont_min-width_pages &__navigation {
    margin-right: 59px;
  }

  &__navcont_min-width_pages &__aboutus   {
    margin-right: 91px;
  }


  &__list {
    margin-top: 7px;
    list-style-type: none;
    padding-left: 0;

    &-headline {
      margin-bottom: 24px;
    }

    &-link {
      color: $dark_shade_50;
      text-decoration: none;
    }
  }

  &__list-headline, &__cta {
    margin-top: 7px;
    margin-bottom: 18px;

    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark_shade_100;
  }

  &__item {
    margin-bottom: 20px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  &__descript {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin: 0px; 
  }

  &__subscribe:nth-child(1){
    border: 1px solid red;
  }

  &__widgets {
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 140px;
    padding-bottom: 23px;
    padding-top: 10px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    @media(max-width: 1350px) { 
      & {
        padding-left: 0px;
        margin: 0 auto;
      }
    }
  
    @media(max-width: 1000px) {
      & {
        max-width: 668px;
      }
    }
  
    @media(max-width: 440px) { 
      & {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__copyright{
    margin-top: 9px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__social {
    list-style-type: none;
    display: flex;
    max-width: 132px;
    margin-top: 14px;

    &-network {
      margin-left: 11px;
      margin-right: 11px;
    }
  }

  @media(max-width: 1000px) {
    &__subscribe {
      order: 1;
    }
  }
}
