.text_block__description {
  font-family: 'openSans-bold';
  font-size: 19px;
  line-height: 24px;
  color: $dark_shade_100;
}

.text_block__content {
  max-width: 325px;
  font-family: 'montserrat-regular';
  font-size: 14px;
  line-height: 24px;
  color: $dark_shade_75;
}