.pagination {
  max-width:241px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 915px) {
  .pagination {
    min-width: 270px;
  }
}

.pagination__list {
  max-width: 241px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.pagination__item  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 22px;
  font-family: 'montserrat';
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $dark_shade_50;
}

.pagination__item--active {
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}


.pagination__link {
  color: $dark_shade_50;
  text-decoration: none;
  cursor: pointer;
}

.pagination__link--active {
  color: white;
}


.pagination__item--next_button {
  background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  cursor: pointer;
}

.pagination__description {
  margin: 0px;
  margin-top: 8px;

  font-family: 'montserrat';
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark_shade_75;
}

.pagination--negative-margin {
  margin-left: -14px; // отрицательное значение Margin. Не Form elements.
}

@media(max-width: 915px) {
  .pagination--negative-margin {
    margin-left: 0px;
  }
}