mixin component-headline({containerMods, mods, description})
  div(class=`component-headline`)
    div(class=`component-headline__container ${containerMods}`)
      p(class=`component-headline__text ${mods}`) #{description}