mixin component-headline(object)
  div(class=`component_headline`)
    div(class=`component_headline__container ${object.containerMods}`)
      p(class=`component_headline__text ${object.mods}`) #{object.description}