mixin component-headline({containerMods, mods, description})
  div(class=`component_headline`)
    div(class=`component_headline__container ${containerMods}`)
      p(class=`component_headline__text ${mods}`) #{description}