.component-headline {
  &__container {
    &_mb_20 {
      margin-bottom: 20px;
    }

    &_mt_29 {
      margin-top: 29px;
    }
    
    &_mt_69 {
      margin-top: 68px;
    }
  
    &_ml_108 {
      margin-left: 108px;
    }
  }

  &__text {
    font-family: 'opensans', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 16px;
    max-width: 320px;
    color: #1F2041;


    &_font-size_md {
      font-size: 19px;
      line-height: 24px;
    }
    
    &_vertical-margin {
      margin-top: 29px;
      margin-bottom: 20px;
    }
  
    &_max-width_auto {
      max-width: inherit;
    }

    &_margin-top_0 {
      margin-top: 0px;
    }
    

    // _margin-bottom
    &_mb_20  {
      margin-bottom: 20px;
    } 

    @media(max-width: 640px ) {
      &_text-align_center {
        text-align: center;
      }
    }
  }
}





