.component_headline {
  &__container {
    &--margin-bottom {
      margin-bottom: 20px;
    }
  
    &--mt-69px {
      margin-top: 68px;
    }
  
    &--ml {
      margin-left: 108px;
    }
  }

  &__text {
    font-family: 'opensans', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 16px;
    max-width: 320px;
    color: #1F2041;


    &--font-size-md {
      font-size: 19px;
      line-height: 24px;
    }
    
    &--vertical-margin {
      margin-top: 29px;
      margin-bottom: 20px;
    }
  
    &--max-width-auto {
      max-width: inherit;
    }

    &--margin-top-zero {
      margin-top: 0px;
    }
    
    &--margin-bottom  {
      margin-bottom: 20px;
    } 

    @media(max-width: 640px ) {
      &--text-align-center {
        text-align: center;
      }
    }
  }
}





