mixin filter-page({headerRegisterConfiguration, sendTo, formName, inputFilterDateDropdownDescription, inputFilterDateDropdown, inputDropdownGuestsDescription, inputDropdownGuests,slider, checkboxButtons, richCheckboxButtons, inputDropdownRoomQuantityDescription, inputDropdownRoomQuantity, expandableCheckboxList, roomsHeadline, rooms, pagination, footerConfiguration})
  div(class=`filter_page`)
    +header-register(headerRegisterConfiguration)
    section(class=`filter_page__content`)
      div(class=`filter_page__controls`)
        form(class="filter_page__form" 	action=`${sendTo}`, method=`post` name=`${formName}` autocomplete=`false`)
          +input-description(inputFilterDateDropdownDescription)
          +input-filter-date-dropdown(inputFilterDateDropdown)
          +input-description(inputDropdownGuestsDescription)
          +input-dropdown-guests(inputDropdownGuests)
          +slider(slider)
          +checkbox-buttons(checkboxButtons)

          +rich-checkbox-buttons(richCheckboxButtons)

          +input-description(inputDropdownRoomQuantityDescription)
          +input-dropdown-room-quantity(inputDropdownRoomQuantity)

          +expandable-checkbox-list(expandableCheckboxList)
      div(class=`filter_page__rooms`)
        +component-headline(roomsHeadline)
        div(class=`filter_page__container`)
          each room in rooms
            +room(room)
          div(class="filter_page__pagination")
            +pagination(pagination)
  
    +footer(footerConfiguration)