mixin toggle(object)
  div(class=`toggle`)
    label(class=`toggle__label ${object.labelMods}`)
      if(object.checked)
        input(class=`toggle__checkbox` type='checkbox' checked)
      input(class=`toggle__checkbox` type='checkbox')
      div(class=`toggle__fake_checkbox`)
      p(class=`toggle__description`) #{object.descText}