mixin UIMaskedTextField({maskedTextFieldContainer, maskedTextFieldDescription, maskedTextFieldState, maskedTextField})
  +input-description-container(maskedTextFieldContainer)
    +input-description(maskedTextFieldDescription)
    +input-description(maskedTextFieldState)
  +masked-text-field(maskedTextField)