.room-info {
  &__container {
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__overall {
    display: flex;
    align-items: baseline;
    padding-top: 5px;
  }

  &__number {
    font-family: 'opensans';
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $dark_shade_100;
    margin: 0px;
  }

  &__symbol {
    display: inline-block;
    font-size: 13px;
    margin-right: 9px;
  }

  &__room-number {
    font-size: 24px;
    margin-right: 5px;
  }

  &__type {
    font-family:'montserrat';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    margin: 0px;
  }

  &__price {
    display: flex;
    padding-top: 9px;
  }

  &__cost{
    display: inline-block;
    margin-right: 1px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $dark_shade_50;
    margin: 0px;
  }

  &__period {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: $dark_shade_50;
    margin: 0px;
  }
}
