.HTMLstyle  {
    
  &__container_margin {
    margin-left: 29px;
    margin-bottom: 34px;
  }

  &__description {
    font-family: 'quicksand', Arial, sans-serif;
    font-weight: bold;
    color: $dark_shade_100;

    
    &_font-size_lg {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.018em;
    }

    &_negative-letter-spacing {
      letter-spacing: -0.018em;
    }

    &_font-size_md {
      font-size: 19px;
      line-height: 24px;
    }

    &_mt-16-and-mb38 {
      margin-top: 16px;
      margin-bottom: 38px;
    }

    &_font-size_xs {
      font-size: 12px;
      line-height: 15px;
    } 

    &_font-family_montserrat-bold {
      font-family: 'montserrat-bold', Arial, sans-serif;
      font-weight: bold;
    }

    &_font-size_sm {
      font-size: 14px;
      line-height: 24px;
    }

    &_color_dark-shade-75 {
      color: $dark_shade_75;
    }

    &_font-family_montserrat {
      font-family: 'montserrat', Arial, sans-serif;
      font-weight: normal;
    }
  }
}
