.HTMLstyle  {
    
  &__container--margin {
    margin-left: 29px;
    margin-bottom: 34px;
  }

  &__description {
    font-family: 'quicksand', Arial, sans-serif;
    font-weight: bold;
    color: $dark_shade_100;

    
    &--font-size-lg {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.018em;
    }

    &--negative-letter-spacing {
      letter-spacing: -0.018em;
    }

    &--font-size-md {
      font-size: 19px;
      line-height: 24px;
    }

    &--margin-top-and-left {
      margin-top: 16px;
      margin-bottom: 38px;
    }

    &--font-size-xs {
      font-size: 12px;
      line-height: 15px;
    } 

    &--font-family-montserrat-bold {
      font-family: 'montserrat-bold', Arial, sans-serif;
      font-weight: bold;
    }

    &--font-size-sm {
      font-size: 14px;
      line-height: 24px;
    }


    &--color-dark-shade-75 {
      color: $dark_shade_75;
    }

    &--font-family-montserrat {
      font-family: 'montserrat', Arial, sans-serif;
      font-weight: normal;
    }
  }
}
