mixin input-description({blockMods, containerMods, contentMods, description})
  div(class=`input-description ${oblockMods}`)
    div(class=`input-description__container ${containerMods}`)
      p(class=`input-description__content ${contentMods}`) #{description}
