.input-description {
  &_pading-top {
    padding-top: 38px;
  }

  &_margin-top-for-filter-date-dropdown-form-elements {
    margin-top: 41px;
  } 

  &_padding-top-for-subscription-text-field  {
    padding-top: 39px;
  } 

  &__container {
    &_margin-top-registration {
      margin-top: 19px;
    }
  
    &_mt_11px {
      margin-top: 11px
    }
  
    &_margin-top_29px {
      margin-top: 29px;
    }
  
    &_mt_30px {
      margin-top: 30px;
    }
  
    &_vertical-padding-near-radio-buttons {
      padding-top: 20px;
      padding-bottom: 11px;
    }
  
    &_vertical-padding-near-toggle {
      padding-top: 37px;
      padding-bottom: 8px;
    }
  
    &_vertical-padding-near-like-button {
      padding-top: 40px;
      padding-bottom: 11px;
    }
  
    &_vertical-padding-near-rate-button  {
      padding-top: 34px;
      padding-bottom: 15px;
    }
  
    &_pp-guest-dropdown  {
      padding-top: 190px;
    }
  
    &_vertical-padding-buttons-block {
      padding-top: 39px;
      padding-bottom: 11px;
    }
  
    &_vertical-margin-pagination {
      padding-top: 37px;
      padding-bottom: 11px;
    }
  
    &_padding-top-guest-dropdown-block {
      padding-top: 230px;
    }
  
    &_mt_20px {
      margin-top: 20px;
    }
  }

  &__content {
    margin-top: 3px;
    margin-bottom: 5px;
    font-family: 'montserrat', Arial, sans-serif;;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark_shade_100;
    word-break: break-all;
    
    &_font-weight_normal {
      margin-top: 0px;
      margin-bottom: 8px;
      font-weight: normal;
      color: $dark_shade_50;
    }
  
    &_weight-regular-expanded {
      margin-top: 3px;
      margin-bottom: 5px;
    }
  
    &_description-for-buttons {
      font-family: 'montserrat', Arial, sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      text-transform: none;
    }
  
    &_margins {
      margin-top: 3px;
      margin-bottom: 5px;
    }
  }
}
