mixin UIRoomQuantityDropdown({inputAndDescriptionWrapperRq, inputDropdownRoomQuantityContainer, inputDropdownRoomQuantityDescription, inputDropdownRoomQuantityState, inputDropdownRoomQuantity})
  +input-and-description-wrapper(inputAndDescriptionWrapperRq)
    +input-description-container(inputDropdownRoomQuantityContainer)
      +input-description(inputDropdownRoomQuantityDescription)
      +input-description(inputDropdownRoomQuantityState)
    +input-dropdown-room-quantity(inputDropdownRoomQuantity)
