mixin toggle({containerMods, labelMods, checked, descText})
  div(class=`toggle`)
    div(class=`toggle ${containerMods}`)
      label(class=`toggle__label ${labelMods}`)
        if(checked)
          input(class=`toggle__checkbox` type='checkbox' checked)
        input(class=`toggle__checkbox` type='checkbox')
        div(class=`toggle__fake_checkbox`)
        p(class=`toggle__description`) #{descText}