mixin toggle({containerMarginBottom, checked, descText})
  -
    let containerMarginBottomMod = '';
    if(containerMarginBottom) {
      containerMarginBottomMod = `toggle__container_mb_${containerMarginBottom}`;
    }
  div(class=`toggle`)
    div(class=`toggle__container ${containerMarginBottomMod}`)
      label(class=`toggle__label`)
        if(checked)
          input(class=`toggle__checkbox` type='checkbox' checked)
        else
          input(class=`toggle__checkbox` type='checkbox')
        div(class=`toggle__fake-checkbox`)
        p(class=`toggle__description`) #{descText}