.subscription_text_field {
  position: relative;
  max-width: 266px;
}


.subscription_text_field__container {
  margin-top: 24px;
}

.subscription_text_field--mt {
  margin-top: 24px;
}

.subscription_text_field__input {
  width: 100%;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 12px;
  font-family: 'montserrat' ,Arial, Helvetica, sans-serif;
  font-weight: normal;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: $dark_shade_75;
}

.subscription_text_field__input::placeholder {
  color: $dark_shade_75;
}

// subscription_text_field__input--footer
.subscription_text_field__input--width-correction {
  min-width: 260px;
  padding-left: 14px;
  padding-top: 11px;
}

.subscription_text_field__button {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 1px;
  right: 0px;
  background-color: transparent;
  border: none; 
  cursor: pointer;
}
