.grid {
  width: 320px;
}

.grid--md {
  width: 380px;
}

.grid--form-elements-first-row {
  margin-right: 9.699769053117783%; //126px;
}

.grid--form-elements-second-row {
  margin-right: 5.542725173210162%; //72px;
}

.grid--form-elements-third-row {
  padding-top: 3px;
}

.grid--aside {
  width: auto;
  position: absolute;
  top: 1573px;
  left: 587px;
}

.grid--form-elements--pp-padding-top {
  padding-top: 3px;
}

.grid--cards--first-row {
  padding-left: 140px;
  padding-top: 68px;
}

.grid--cards--second-row {
  padding-left: 40px;
  padding-top: 68px;
}

.grid--cards--third-row {
  margin-left: 40px;
  margin-top: 68px;
}