.grid {
  width: 320px;
}

.grid--form-elements-first-row {
  margin-right: 126px;
}

.grid--form-elements-second-row {
  margin-right: 72px;
}

.grid--form-elements-third-row {
  padding-top: 3px;
}

.grid--aside {
  width: auto;
  position: absolute;
  top: 1573px;
  left: 587px;
}

.grid--form-elements--pp-padding-top {
  padding-top: 3px;
}