mixin form-elements({UIColumnOne, UIColumnTwo, UIColumnThree, UIColumnFour})
  div(class="form_elements_container")
    +UIColumnOne(UIColumnOne)
    +UIColumnTwo(UIColumnTwo)    
    +UIColumnThree(UIColumnThree)
    +UIColumnFour(UIColumnFour)
