mixin form-elements(form_elements_configuration)
  div(class="form_elements_container")
    +grid(form_elements_configuration.grid_one)

      +UI-text-field(form_elements_configuration.UITextField)
      +UI-text-field-hovered(form_elements_configuration.UITextFieldHovered)



      +UIGuestDropdownClosed(form_elements_configuration.UIGuestDropdownClosed)

      +UIMaskedTextField(form_elements_configuration.UIMaskedTextField)
      


      +double-date-dropdown(form_elements_configuration.double_date_dropdown)
      

      +input-description(form_elements_configuration.input_filter_date_dropdown_description)
      +input-filter-date-dropdown(form_elements_configuration.input_filter_date_dropdown)

      +input-description(form_elements_configuration.subscription_text_field_description)
      +subscription-text-field(form_elements_configuration.subscription_text_field)

      +input-and-description-wrapper(form_elements_configuration.input_and_description_wrapper_rq)
        +input-description-container(form_elements_configuration.input_dropdown_room_quantity_container)
          +input-description(form_elements_configuration.input_dropdown_room_quantity_description)
          +input-description(form_elements_configuration.input_dropdown_room_quantity_state)
        +input-dropdown-room-quantity(form_elements_configuration.input_dropdown_room_quantity)

      +input-and-description-wrapper(form_elements_configuration.input_and_description_wrapper_rq)
        +input-description-container(form_elements_configuration.input_dropdown_room_quantity_expanded_container)
          +input-description(form_elements_configuration.input_dropdown_room_quantity_expanded_description)
          +input-description(form_elements_configuration.input_dropdown_room_quantity_expanded_state)
        +input-dropdown-room-quantity(form_elements_configuration.input_dropdown_room_quantity_expanded)

      +expandable-checkbox-list(form_elements_configuration.expandable_checkbox_list)
      +expandable-checkbox-list(form_elements_configuration.expandable_checkbox_list_opened)

      +benefit(form_elements_configuration.benefit_smile) 
      +benefit(form_elements_configuration.benefit_bulding) 

    +grid(form_elements_configuration.grid_two)
      +checkbox-buttons(form_elements_configuration.checkbox_buttons)
      
      +input-description(form_elements_configuration.input_description_radio_buttons)
      +radio-buttons(form_elements_configuration.radio_buttons)

      +input-description(form_elements_configuration.input_description_toggle)
      +toggle(form_elements_configuration.toggle_checked)
      +toggle(form_elements_configuration.toggle)

      +input-description(form_elements_configuration.input_description_like_button)

      +like-button-container(form_elements_configuration.like_button_container)
        +like-button(form_elements_configuration.like_button_one)
        +like-button(form_elements_configuration.like_button_two)

      +input-description(form_elements_configuration.input_description_rate_button)

      div(class="rate_button__container")
        +rate-button(form_elements_configuration.rate_button_one)
        +rate-button(form_elements_configuration.rate_button_two)


      +input-description(form_elements_configuration.input_description_idp)


      +input-dropdown-guests(form_elements_configuration.input_dropdown_guests)
      +rich-checkbox-buttons(form_elements_configuration.rich_checkbox_buttons)
    
    +grid(form_elements_configuration.grid_three)
      +slider(form_elements_configuration.slider)

      +input-description(form_elements_configuration.input_description_buttons)

      +button-container(form_elements_configuration.button_container_one)
        +button(form_elements_configuration.button_gradient)
        +button(form_elements_configuration.button_gradient_checked)

      +button-container(form_elements_configuration.button_container_two)
        +button(form_elements_configuration.button_transparent)
        +button(form_elements_configuration.button_transarent_checked)
        
      +button-container(form_elements_configuration.button_container_three)
        +button(form_elements_configuration.button_text)
        +button(form_elements_configuration.button_text_checked)

      +button-wide(form_elements_configuration.button_wide)

      +input-description(form_elements_configuration.input_description_pagination)
      +pagination(form_elements_configuration.pagination)
      +input-description(form_elements_configuration. input_description_idg_selected)
      +input-dropdown-guests(form_elements_configuration.input_dropdown_guests_selected)

      +bullet-list(form_elements_configuration.bullet_list)

    +grid(form_elements_configuration.grid_four)
      +review(form_elements_configuration.review)
    