html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: $dark_shade_100;
  background-color: #fff;
}

body {
  margin: 0px;
  padding: 0px;
  border: none;
  width: 100%;
  background: #F4F4F6;
}

