@import 'mixins.scss';
@import 'variables.scss';

// Шрифты
@import '../assets/fonts/quicksand_bold/fonts.css';
@import '../assets/fonts/quicksand_regular/fonts.css';
@import '../assets/fonts/montserrat_bold/fonts.css';
@import '../assets/fonts/montserrat_regular/fonts.css';


@import '../assets/templates/logo/logo.scss';
@import '../assets/full_pages/colors_and_types.scss';

@import '../assets/BEM/app/app.scss';
@import '../assets/BEM/rect/rect.scss';
@import '../assets/BEM/color/color.scss';
@import '../assets/BEM/HTMLtag/HTMLtag.scss';
@import '../assets/BEM/HTMLstyle/HTMLstyle.scss';


@import '../assets/BEM/grid/grid.scss';

@import '../assets/BEM/input_description_container/input_description_container.scss';
@import '../assets/BEM/input_description/input_description.scss';
@import '../assets/BEM/textField/textField.scss';

@import '../assets/BEM/guest_dropdown/guest_dropdown.scss';
@import '../assets/BEM/masked_text_field/masked_text_field.scss';

@import '../assets/BEM/input_date_dropdown_container/input_date_dropdown_containter';


@import '../assets/BEM/input_and_description_wrapper/input_and_description_wrapper.scss';

@import '../assets/BEM/input_date_dropdown/input_date_dropdown.scss';

@import '../assets/BEM/input_filter_date_dropdown/input_filter_date_dropdown.scss';

@import '../assets/BEM/subscription_text_field/subscription_text_field.scss';


@import '../assets/BEM/input_dropdown_room_quantity/input_dropdown_room_quantity.scss';



@import '../assets/BEM/expandable_checkbox_list/expandable_checkbox_list.scss';

@import '../assets/BEM/benefits/benefits.scss';

@import '../assets/BEM/checkbox_buttons/checkbox_buttons.scss';

@import '../assets/BEM/radio_buttons/radio_buttons.scss';


html {
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
  border: none;
  width: 100%;
}