mixin checkbox-buttons({containerMarginTop, description, items})
  -
    let containerMarginTopMod = '';
    if(containerMarginTop) {
      containerMarginTopMod = `checkbox-buttons__container_mt_${containerMarginTop}`;
    }

  div(class=`checkbox-buttons`)
    div(class=`checkbox-buttons__container ${containerMarginTopMod}`)
      p(class=`checkbox-buttons__description`) #{description}
      ul(class=`checkbox-buttons__list`)
        each item in items
          label(class=`checkbox-buttons__label`)
            input(class=`checkbox-buttons__input` type=`checkbox`) 
            div(class=`checkbox-buttons__checkbox`)
            p(class=`checkbox-buttons__text`) #{item}
      