.dropdown_room_quantity {
  position: relative;
  max-width: 266px;
}

.dropdown_room_quantity__input {
    width: 100%;
    padding-left: 13px;
    padding-right: 35px;
    padding-top: 9px;
    padding-bottom: 9px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 2px 2px 0px 0px;
  
    font-family: 'montserrat';
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark_shade_75;
}

.dropdown_room_quantity__input--controls-opened {
  border: 1px solid rgba(31, 32, 65, 0.5);
}


.dropdown_room_quantity__button {
  position: absolute;
  width: 44px;
  height: 44px;
  top: -1px;
  right: 1px;
  background-color: transparent;
  border: none; 
  cursor: pointer;
}

.dropdown_room_quantity__controls {
  background: #FFFFFF;

  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0px 0px 2px 2px;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 1px;
}

.dropdown_room_quantity__controls--closed {
  display: none;
}

.dropdown_room_quantity__control_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
}

.dropdown_room_quantity__property{
  display: flex;
  align-items: center;

  
  font-family: 'montserrat';
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin: 0px;

  word-wrap: break-word;
  word-break: break-all;
}

.dropdown_room_quantity__container {
  display: flex;
}

.dropdown_room_quantity__substract_button, .dropdown_room_quantity__add_button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  background-color: #FFFFFF;
  

  font: {
    font-family: 'montserrat';
    font-weight: bold;
    size: 18px;
  }
  line-height: 22px;
  cursor: pointer;
}

.dropdown_room_quantity__total {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  height: 30px;
  width: 30px;


  font-family: 'montserrat';
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  
}

