.text-field {
  &__input {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $dark_shade_75;
  
      
    &::placeholder {
      font-size: 14px;
      line-height: 18px;
      color: $dark_shade_25;
    }
  }


  &__container {
    &_mb_8 {
      margin-bottom: 8px;
    }

    &_mb_9 {
      margin-bottom: 9px;
    }

    &_mb_10 {
      margin-bottom: 10px;
    }

    &_mb_20 {
      margin-bottom: 20px;
    }
  }


  // Fix bem naming
  //&__input_pb-for-etf
  &__input_pb_11 {
    padding-bottom: 11px;
  }

  &_input_mb-fe {
    margin-bottom: 10px;
  }

  &_input_mb-se {
    margin-bottom: 14.4px;
  }

  &_input_mb-reg {
    margin-bottom: 10px;
  }

  &_input_rmb-reg-ld {
    margin-bottom: 8px;
  }

  &_input_mb-af-pi {
    margin-bottom: 20px;
  }
}
