.benefit {
  display: flex;
  max-width: 280px;
}

.benefit__container {
  display: flex;
  padding-bottom: 19px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.benefit--pading-top {
  padding-top: 21.5px;
}

.benefit__container--extra-margin {
  padding-top: 5px;
  margin-bottom: 14px;
}

.benefit__image{
  width: 48px;
  height: 48px;
  margin-right: 8px;

  border: none;

  background-repeat: no-repeat;
  background-position: center;
}

.benefit__image--background-smile {
  background-image: url('./smile.jpg');
}

.benefit__image--background-building {
  background-image: url('./location.jpg');
}

.benefit__image--background-bonfire {
  background-image: url('./whatshot.jpg');
}
.benefit__description {
  padding-top: 1px;
}

.benefit__name, .benefit__property {
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}

.benefit__name {
  max-width: 200px;
  font-family: 'montserrat', Arial, sans-serif;
  font-weight: bold;
  color: $dark_shade_75;
  
} 

.benefit__property {
  max-width: 225px;
  font-family: 'montserrat', Arial, sans-serif;
  font-weight: normal;
  color: $dark_shade_50;
}
