.benefit {
  display: flex;
  max-width: 280px;
  

  &__container {
    display: flex;
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);

    &_pt_22 {
      padding-top: 21.5px;
    }

    // Two following classes are previous extra-margin class    
    &_pt_5 {
      padding-top: 5px;
    }

    &_mb_14 {
      margin-bottom: 14px;
    }




  }

  &__image{
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;

    &_background-image_smile {
      background-image: url('./smile.jpg');
    }

    &_background-image_building {
      background-image: url('./location.jpg');
    }
    
    &_background-image_bonfire {
      background-image: url('./whatshot.jpg');
    }
  }

  &__description {
    padding-top: 1px;
  }
  
  &__name, &__property {
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
  }

  &__name {
    max-width: 200px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    color: $dark_shade_75;
  }

  &__property {
    max-width: 225px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    color: $dark_shade_50;
  }
}
