.benefit {
  display: flex;
  max-width: 280px;

  &--pading-top {
    padding-top: 21.5px;
  }
  

  &__container {
    display: flex;
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);

    &--extra-margin {
      padding-top: 5px;
      margin-bottom: 14px;
    }
  }

  &__image{
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;

    &--background-smile {
      background-image: url('./smile.jpg');
    }

    &--background-building {
      background-image: url('./location.jpg');
    }
    
    &--background-bonfire {
      background-image: url('./whatshot.jpg');
    }
  }

  &__description {
    padding-top: 1px;
  }
  
  &__name, &__property {
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
  }

  &__name {
    max-width: 200px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    color: $dark_shade_75;
  }

  &__property {
    max-width: 225px;
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: normal;
    color: $dark_shade_50;
  }
}
