.button-container {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
    align-items: center;
  }

  &_md {
    max-width: 218px;
  }

  &_sm {
    max-width: 144px;
  }
  
  &_vertical-padding {
    padding-top: 30px;
    padding-bottom: 0px;
  }

  &_align-items_center {
    align-items: center;
  }
}