
.slider {
  max-width: 266px;
}

.slider__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.slider__description, .slider__selected_range {
  margin: 0px
}

.slider__description {
  font-family: 'montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark_shade_100;
}

.slider__selected_range {
  font-family: 'montserrat', Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark_shade_50;
}

.slider__range {
  position: relative;
  width: 266px;
  height: 6px;
  background: #FFFFFF;
  border: 1px solid $dark_shade_25;

  border-radius: 3px;
}

.slider__runner {
  z-index: 9999;
  top: -6px;
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.slider__runner--first-runner {
  left: 74px;
}

.slider__runner--second-runner { 
  left: 159px;
}

.slider__progress {
  position: absolute;
  left: 89px;
  width: 71px;
  height: 6px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
  
}

.slider__container--pt-30px {
  padding-top: 30px;
}