mixin registration({sendTo, formName, registationConfHeadline, nameTextField,  surnameTextField, radioButtons, maskedTextFieldDescription, maskedTextField, authBlockHeadline, emailTextField, passwordTextField, toggle, checkoutButton, buttonSubmitCont, buttonSubmitDescription, buttonSubmit})
  section(class=`registration`)
    section(class=`registration__container`)
    form(class='registation_conf__form' 	action=`${sendTo}`, method=`post` name=`${formName}` autocomplete=`false`)
      +component-headline(registationConfHeadline)
      +text-field(nameTextField)
      +text-field(surnameTextField)
      +radio-buttons(radioButtons)


      
      +input-description(maskedTextFieldDescription)
      +masked-text-field(maskedTextField)

      +input-description(authBlockHeadline)
      +text-field(emailTextField)
      +text-field(passwordTextField)
      +toggle(toggle)


      +button-wide(checkoutButton)

      +button-container(buttonSubmitCont)
        +input-description(buttonSubmitDescription)
        +button(buttonSubmit)

    

